@font-face
{
    font-family: "Basicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.basicon
{
    font-family: basicon;
    font-style: normal;
    font-size:26pt;
}
.basicon-add89:before
{
    content: "\e000";
}
.basicon-analysis:before
{
    content: "\e001";
}
.basicon-anchor26:before
{
    content: "\e002";
}
.basicon-apartments:before
{
    content: "\e003";
}
.basicon-barcode8:before
{
    content: "\e004";
}
.basicon-black231:before
{
    content: "\e005";
}
.basicon-black234:before
{
    content: "\e006";
}
.basicon-black235:before
{
    content: "\e007";
}
.basicon-black236:before
{
    content: "\e008";
}
.basicon-black238:before
{
    content: "\e009";
}
.basicon-blank23:before
{
    content: "\e00a";
}
.basicon-boat15:before
{
    content: "\e00b";
}
.basicon-book130:before
{
    content: "\e00c";
}
.basicon-boom3:before
{
    content: "\e00d";
}
.basicon-brain7:before
{
    content: "\e00e";
}
.basicon-bug13:before
{
    content: "\e00f";
}
.basicon-building27:before
{
    content: "\e010";
}
.basicon-business75:before
{
    content: "\e011";
}
.basicon-calculations1:before
{
    content: "\e012";
}
.basicon-calculations2:before
{
    content: "\e013";
}
.basicon-calculator37:before
{
    content: "\e014";
}
.basicon-calendar77:before
{
    content: "\e015";
}
.basicon-caution4:before
{
    content: "\e016";
}
.basicon-chat39:before
{
    content: "\e017";
}
.basicon-chat40:before
{
    content: "\e018";
}
.basicon-checklist:before
{
    content: "\e019";
}
.basicon-circular103:before
{
    content: "\e01a";
}
.basicon-circular104:before
{
    content: "\e01b";
}
.basicon-classic10:before
{
    content: "\e01c";
}
.basicon-close24:before
{
    content: "\e01d";
}
.basicon-cloud220:before
{
    content: "\e01e";
}
.basicon-code23:before
{
    content: "\e01f";
}
.basicon-coins19:before
{
    content: "\e020";
}
.basicon-coins20:before
{
    content: "\e021";
}
.basicon-computer123:before
{
    content: "\e022";
}
.basicon-computer124:before
{
    content: "\e023";
}
.basicon-computer125:before
{
    content: "\e024";
}
.basicon-computer126:before
{
    content: "\e025";
}
.basicon-conversation5:before
{
    content: "\e026";
}
.basicon-conversation6:before
{
    content: "\e027";
}
.basicon-conversation7:before
{
    content: "\e028";
}
.basicon-conversation8:before
{
    content: "\e029";
}
.basicon-cube14:before
{
    content: "\e02a";
}
.basicon-curriculum1:before
{
    content: "\e02b";
}
.basicon-cursor11:before
{
    content: "\e02c";
}
.basicon-data100:before
{
    content: "\e02d";
}
.basicon-desktop28:before
{
    content: "\e02e";
}
.basicon-disc12:before
{
    content: "\e02f";
}
.basicon-discount1:before
{
    content: "\e030";
}
.basicon-discount2:before
{
    content: "\e031";
}
.basicon-dollar117:before
{
    content: "\e032";
}
.basicon-dollar118:before
{
    content: "\e033";
}
.basicon-download78:before
{
    content: "\e034";
}
.basicon-drink32:before
{
    content: "\e035";
}
.basicon-drinking2:before
{
    content: "\e036";
}
.basicon-earth34:before
{
    content: "\e037";
}
.basicon-earth35:before
{
    content: "\e038";
}
.basicon-email37:before
{
    content: "\e039";
}
.basicon-envelope30:before
{
    content: "\e03a";
}
.basicon-envelope31:before
{
    content: "\e03b";
}
.basicon-euro37:before
{
    content: "\e03c";
}
.basicon-euro38:before
{
    content: "\e03d";
}
.basicon-excavation:before
{
    content: "\e03e";
}
.basicon-extra:before
{
    content: "\e03f";
}
.basicon-favourite12:before
{
    content: "\e040";
}
.basicon-fire30:before
{
    content: "\e041";
}
.basicon-flag39:before
{
    content: "\e042";
}
.basicon-flatware:before
{
    content: "\e043";
}
.basicon-flower96:before
{
    content: "\e044";
}
.basicon-folder120:before
{
    content: "\e045";
}
.basicon-folder121:before
{
    content: "\e046";
}
.basicon-full28:before
{
    content: "\e047";
}
.basicon-funnel11:before
{
    content: "\e048";
}
.basicon-garbage10:before
{
    content: "\e049";
}
.basicon-gear14:before
{
    content: "\e04a";
}
.basicon-gear15:before
{
    content: "\e04b";
}
.basicon-giftbox47:before
{
    content: "\e04c";
}
.basicon-glass24:before
{
    content: "\e04d";
}
.basicon-glasses20:before
{
    content: "\e04e";
}
.basicon-globe20:before
{
    content: "\e04f";
}
.basicon-graphic15:before
{
    content: "\e050";
}
.basicon-hard14:before
{
    content: "\e051";
}
.basicon-hard15:before
{
    content: "\e052";
}
.basicon-headset7:before
{
    content: "\e053";
}
.basicon-heartbeat1:before
{
    content: "\e054";
}
.basicon-hi1:before
{
    content: "\e055";
}
.basicon-hidden3:before
{
    content: "\e056";
}
.basicon-hour2:before
{
    content: "\e057";
}
.basicon-house88:before
{
    content: "\e058";
}
.basicon-incoming16:before
{
    content: "\e059";
}
.basicon-industries:before
{
    content: "\e05a";
}
.basicon-keyboard42:before
{
    content: "\e05b";
}
.basicon-label15:before
{
    content: "\e05c";
}
.basicon-laptop78:before
{
    content: "\e05d";
}
.basicon-laptop79:before
{
    content: "\e05e";
}
.basicon-law1:before
{
    content: "\e05f";
}
.basicon-law:before
{
    content: "\e060";
}
.basicon-lcd1:before
{
    content: "\e061";
}
.basicon-lcd:before
{
    content: "\e062";
}
.basicon-leaf42:before
{
    content: "\e063";
}
.basicon-lifebuoy1:before
{
    content: "\e064";
}
.basicon-light72:before
{
    content: "\e065";
}
.basicon-link31:before
{
    content: "\e066";
}
.basicon-list48:before
{
    content: "\e067";
}
.basicon-loading3:before
{
    content: "\e068";
}
.basicon-location32:before
{
    content: "\e069";
}
.basicon-lock34:before
{
    content: "\e06a";
}
.basicon-logging:before
{
    content: "\e06b";
}
.basicon-lowercase:before
{
    content: "\e06c";
}
.basicon-magnet7:before
{
    content: "\e06d";
}
.basicon-male170:before
{
    content: "\e06e";
}
.basicon-map69:before
{
    content: "\e06f";
}
.basicon-maple:before
{
    content: "\e070";
}
.basicon-martini2:before
{
    content: "\e071";
}
.basicon-maximize3:before
{
    content: "\e072";
}
.basicon-medal39:before
{
    content: "\e073";
}
.basicon-medal40:before
{
    content: "\e074";
}
.basicon-media27:before
{
    content: "\e075";
}
.basicon-medical42:before
{
    content: "\e076";
}
.basicon-megaphone6:before
{
    content: "\e077";
}
.basicon-megaphone7:before
{
    content: "\e078";
}
.basicon-message8:before
{
    content: "\e079";
}
.basicon-microphone62:before
{
    content: "\e07a";
}
.basicon-microphone63:before
{
    content: "\e07b";
}
.basicon-mixing:before
{
    content: "\e07c";
}
.basicon-modern8:before
{
    content: "\e07d";
}
.basicon-modern9:before
{
    content: "\e07e";
}
.basicon-money47:before
{
    content: "\e07f";
}
.basicon-monitor51:before
{
    content: "\e080";
}
.basicon-mouse30:before
{
    content: "\e081";
}
.basicon-multi:before
{
    content: "\e082";
}
.basicon-musical72:before
{
    content: "\e083";
}
.basicon-necktie1:before
{
    content: "\e084";
}
.basicon-negative11:before
{
    content: "\e085";
}
.basicon-new35:before
{
    content: "\e086";
}
.basicon-newspaper12:before
{
    content: "\e087";
}
.basicon-night7:before
{
    content: "\e088";
}
.basicon-no54:before
{
    content: "\e089";
}
.basicon-no55:before
{
    content: "\e08a";
}
.basicon-note26:before
{
    content: "\e08b";
}
.basicon-old43:before
{
    content: "\e08c";
}
.basicon-open152:before
{
    content: "\e08d";
}
.basicon-optical1:before
{
    content: "\e08e";
}
.basicon-padlock35:before
{
    content: "\e08f";
}
.basicon-page66:before
{
    content: "\e090";
}
.basicon-paintbrush3:before
{
    content: "\e091";
}
.basicon-palm11:before
{
    content: "\e092";
}
.basicon-passport1:before
{
    content: "\e093";
}
.basicon-pay6:before
{
    content: "\e094";
}
.basicon-paypal12:before
{
    content: "\e095";
}
.basicon-pc9:before
{
    content: "\e096";
}
.basicon-phone207:before
{
    content: "\e097";
}
.basicon-photo122:before
{
    content: "\e098";
}
.basicon-photo123:before
{
    content: "\e099";
}
.basicon-photo124:before
{
    content: "\e09a";
}
.basicon-photos7:before
{
    content: "\e09b";
}
.basicon-piggy8:before
{
    content: "\e09c";
}
.basicon-pin33:before
{
    content: "\e09d";
}
.basicon-play58:before
{
    content: "\e09e";
}
.basicon-plug18:before
{
    content: "\e09f";
}
.basicon-plug19:before
{
    content: "\e0a0";
}
.basicon-pointer11:before
{
    content: "\e0a1";
}
.basicon-positive2:before
{
    content: "\e0a2";
}
.basicon-power58:before
{
    content: "\e0a3";
}
.basicon-prepaid:before
{
    content: "\e0a4";
}
.basicon-processor:before
{
    content: "\e0a5";
}
.basicon-radiation4:before
{
    content: "\e0a6";
}
.basicon-radio40:before
{
    content: "\e0a7";
}
.basicon-rain20:before
{
    content: "\e0a8";
}
.basicon-recycle44:before
{
    content: "\e0a9";
}
.basicon-reducing:before
{
    content: "\e0aa";
}
.basicon-reduction:before
{
    content: "\e0ab";
}
.basicon-restore2:before
{
    content: "\e0ac";
}
.basicon-ring14:before
{
    content: "\e0ad";
}
.basicon-room5:before
{
    content: "\e0ae";
}
.basicon-sale8:before
{
    content: "\e0af";
}
.basicon-scissors22:before
{
    content: "\e0b0";
}
.basicon-security32:before
{
    content: "\e0b1";
}
.basicon-security33:before
{
    content: "\e0b2";
}
.basicon-shopping139:before
{
    content: "\e0b3";
}
.basicon-shopping140:before
{
    content: "\e0b4";
}
.basicon-shopping141:before
{
    content: "\e0b5";
}
.basicon-signal41:before
{
    content: "\e0b6";
}
.basicon-signal42:before
{
    content: "\e0b7";
}
.basicon-signals6:before
{
    content: "\e0b8";
}
.basicon-single20:before
{
    content: "\e0b9";
}
.basicon-smartphone18:before
{
    content: "\e0ba";
}
.basicon-speaker56:before
{
    content: "\e0bb";
}
.basicon-speaker57:before
{
    content: "\e0bc";
}
.basicon-speech78:before
{
    content: "\e0bd";
}
.basicon-speedometer11:before
{
    content: "\e0be";
}
.basicon-square94:before
{
    content: "\e0bf";
}
.basicon-star119:before
{
    content: "\e0c0";
}
.basicon-star120:before
{
    content: "\e0c1";
}
.basicon-stop28:before
{
    content: "\e0c2";
}
.basicon-sun46:before
{
    content: "\e0c3";
}
.basicon-sun47:before
{
    content: "\e0c4";
}
.basicon-tablet65:before
{
    content: "\e0c5";
}
.basicon-television14:before
{
    content: "\e0c6";
}
.basicon-thumb26:before
{
    content: "\e0c7";
}
.basicon-thumb27:before
{
    content: "\e0c8";
}
.basicon-ticket11:before
{
    content: "\e0c9";
}
.basicon-toxic5:before
{
    content: "\e0ca";
}
.basicon-transfer6:before
{
    content: "\e0cb";
}
.basicon-transfer7:before
{
    content: "\e0cc";
}
.basicon-transfusion:before
{
    content: "\e0cd";
}
.basicon-travel14:before
{
    content: "\e0ce";
}
.basicon-tree49:before
{
    content: "\e0cf";
}
.basicon-trophy13:before
{
    content: "\e0d0";
}
.basicon-truck25:before
{
    content: "\e0d1";
}
.basicon-umbrella24:before
{
    content: "\e0d2";
}
.basicon-up61:before
{
    content: "\e0d3";
}
.basicon-up62:before
{
    content: "\e0d4";
}
.basicon-upload52:before
{
    content: "\e0d5";
}
.basicon-uppercase:before
{
    content: "\e0d6";
}
.basicon-usb27:before
{
    content: "\e0d7";
}
.basicon-usb28:before
{
    content: "\e0d8";
}
.basicon-vga:before
{
    content: "\e0d9";
}
.basicon-wall18:before
{
    content: "\e0da";
}
.basicon-wall19:before
{
    content: "\e0db";
}
.basicon-wardrobe1:before
{
    content: "\e0dc";
}
.basicon-watch12:before
{
    content: "\e0dd";
}
.basicon-webcam3:before
{
    content: "\e0de";
}
.basicon-webcam4:before
{
    content: "\e0df";
}
.basicon-white76:before
{
    content: "\e0e0";
}
.basicon-white77:before
{
    content: "\e0e1";
}
.basicon-white78:before
{
    content: "\e0e2";
}
.basicon-white79:before
{
    content: "\e0e3";
}
.basicon-white80:before
{
    content: "\e0e4";
}
.basicon-wifi61:before
{
    content: "\e0e5";
}
.basicon-woman66:before
{
    content: "\e0e6";
}
.basicon-world54:before
{
    content: "\e0e7";
}
.basicon-written:before
{
    content: "\e0e8";
}
.basicon-zero1:before
{
    content: "\e0e9";
}
.basicon-zero2:before
{
    content: "\e0ea";
}
.basicon-zoom32:before
{
    content: "\e0eb";
}
.basicon-zoom33:before
{
    content: "\e0ec";
}
