@font-face {
    font-family: "Entericon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.entericon {
    font-family: Entericon;
}

.entericon-agenda4:before {
    content: "\e000";
}

.entericon-agenda5:before {
    content: "\e001";
}

.entericon-agenda6:before {
    content: "\e002";
}

.entericon-agenda7:before {
    content: "\e003";
}

.entericon-airplane115:before {
    content: "\e004";
}

.entericon-award58:before {
    content: "\e005";
}

.entericon-balance9:before {
    content: "\e006";
}

.entericon-bank19:before {
    content: "\e007";
}

.entericon-briefcase71:before {
    content: "\e008";
}

.entericon-briefcase72:before {
    content: "\e009";
}

.entericon-briefcase73:before {
    content: "\e00a";
}

.entericon-building104:before {
    content: "\e00b";
}

.entericon-calculator1:before {
    content: "\e00c";
}

.entericon-calendar189:before {
    content: "\e00d";
}

.entericon-certificate1:before {
    content: "\e00e";
}

.entericon-chair21:before {
    content: "\e00f";
}

.entericon-check-box2:before {
    content: "\e010";
}

.entericon-clerk:before {
    content: "\e011";
}

.entericon-clip26:before {
    content: "\e012";
}

.entericon-clock164:before {
    content: "\e013";
}

.entericon-clock165:before {
    content: "\e014";
}

.entericon-clock166:before {
    content: "\e015";
}

.entericon-coffee131:before {
    content: "\e016";
}

.entericon-computer220:before {
    content: "\e017";
}

.entericon-computer221:before {
    content: "\e018";
}

.entericon-computer-screen5:before {
    content: "\e019";
}

.entericon-conference6:before {
    content: "\e01a";
}

.entericon-contract:before {
    content: "\e01b";
}

.entericon-credit-card28:before {
    content: "\e01c";
}

.entericon-customer-service1:before {
    content: "\e01d";
}

.entericon-dartboard:before {
    content: "\e01e";
}

.entericon-directional-sign11:before {
    content: "\e01f";
}

.entericon-document9:before {
    content: "\e020";
}

.entericon-dollar-bill1:before {
    content: "\e021";
}

.entericon-email126:before {
    content: "\e022";
}

.entericon-employee7:before {
    content: "\e023";
}

.entericon-folder264:before {
    content: "\e024";
}

.entericon-folder265:before {
    content: "\e025";
}

.entericon-folders7:before {
    content: "\e026";
}

.entericon-glasses32:before {
    content: "\e027";
}

.entericon-gold7:before {
    content: "\e028";
}

.entericon-graduation-cap2:before {
    content: "\e029";
}

.entericon-graphic45:before {
    content: "\e02a";
}

.entericon-graphic46:before {
    content: "\e02b";
}

.entericon-graphic47:before {
    content: "\e02c";
}

.entericon-graphic48:before {
    content: "\e02d";
}

.entericon-graphic49:before {
    content: "\e02e";
}

.entericon-headset:before {
    content: "\e02f";
}

.entericon-hourglass:before {
    content: "\e030";
}

.entericon-identification13:before {
    content: "\e031";
}

.entericon-key197:before {
    content: "\e032";
}

.entericon-letter113:before {
    content: "\e033";
}

.entericon-light-bulb8:before {
    content: "\e034";
}

.entericon-lock81:before {
    content: "\e035";
}

.entericon-magnifying-glass23:before {
    content: "\e036";
}

.entericon-magnifying-glass24:before {
    content: "\e037";
}

.entericon-map-location1:before {
    content: "\e038";
}

.entericon-medal65:before {
    content: "\e039";
}

.entericon-money172:before {
    content: "\e03a";
}

.entericon-money174:before {
    content: "\e03b";
}

.entericon-money175:before {
    content: "\e03c";
}

.entericon-money176:before {
    content: "\e03d";
}

.entericon-money-bag4:before {
    content: "\e03e";
}

.entericon-network48:before {
    content: "\e03f";
}

.entericon-network49:before {
    content: "\e040";
}

.entericon-newspaper1:before {
    content: "\e041";
}

.entericon-notepad19:before {
    content: "\e042";
}

.entericon-padlock79:before {
    content: "\e043";
}

.entericon-payment7:before {
    content: "\e044";
}

.entericon-payment-method3:before {
    content: "\e045";
}

.entericon-pen7:before {
    content: "\e046";
}

.entericon-percentage2:before {
    content: "\e047";
}

.entericon-pie-chart10:before {
    content: "\e048";
}

.entericon-pie-chart9:before {
    content: "\e049";
}

.entericon-pin74:before {
    content: "\e04a";
}

.entericon-power6:before {
    content: "\e04b";
}

.entericon-premium1:before {
    content: "\e04c";
}

.entericon-price22:before {
    content: "\e04d";
}

.entericon-puzzle2:before {
    content: "\e04e";
}

.entericon-rocket78:before {
    content: "\e04f";
}

.entericon-safe-box:before {
    content: "\e050";
}

.entericon-save2:before {
    content: "\e051";
}

.entericon-schedule:before {
    content: "\e052";
}

.entericon-secretary1:before {
    content: "\e053";
}

.entericon-settings7:before {
    content: "\e054";
}

.entericon-shield116:before {
    content: "\e055";
}

.entericon-smartphone62:before {
    content: "\e056";
}

.entericon-sound-box:before {
    content: "\e057";
}

.entericon-stopwatch:before {
    content: "\e058";
}

.entericon-tablet3:before {
    content: "\e059";
}

.entericon-target59:before {
    content: "\e05a";
}

.entericon-telephone124:before {
    content: "\e05b";
}

.entericon-telephone126:before {
    content: "\e05c";
}

.entericon-thinking3:before {
    content: "\e05d";
}

.entericon-tie10:before {
    content: "\e05e";
}

.entericon-wifi107:before {
    content: "\e05f";
}

.entericon-work7:before {
    content: "\e060";
}

.entericon-worker27:before {
    content: "\e061";
}

.entericon-wrench78:before {
    content: "\e062";
}

.entericon-wristwatch1:before {
    content: "\e063";
}
