    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-application-folder:before { content: "\f100"; }
.flaticon-blank-page-in-folder:before { content: "\f101"; }
.flaticon-blocked-folder:before { content: "\f102"; }
.flaticon-blocked-folder-1:before { content: "\f103"; }
.flaticon-check-mark-folder:before { content: "\f104"; }
.flaticon-delete-folder:before { content: "\f105"; }
.flaticon-download-open-folder:before { content: "\f106"; }
.flaticon-empty-folder:before { content: "\f107"; }
.flaticon-exclamation-folder:before { content: "\f108"; }
.flaticon-linked-open-folder:before { content: "\f109"; }
.flaticon-loving-folder:before { content: "\f10a"; }
.flaticon-music-folder:before { content: "\f10b"; }
.flaticon-reloaded-folder:before { content: "\f10c"; }
.flaticon-remove-data-from-folder:before { content: "\f10d"; }
.flaticon-remove-folder:before { content: "\f10e"; }
.flaticon-search-in-folder:before { content: "\f10f"; }
.flaticon-secure-folder:before { content: "\f110"; }
.flaticon-starred-folder:before { content: "\f111"; }
.flaticon-upload-folder:before { content: "\f112"; }
.flaticon-zipped-folder:before { content: "\f113"; }
    
    $font-Flaticon-application-folder: "\f100";
    $font-Flaticon-blank-page-in-folder: "\f101";
    $font-Flaticon-blocked-folder: "\f102";
    $font-Flaticon-blocked-folder-1: "\f103";
    $font-Flaticon-check-mark-folder: "\f104";
    $font-Flaticon-delete-folder: "\f105";
    $font-Flaticon-download-open-folder: "\f106";
    $font-Flaticon-empty-folder: "\f107";
    $font-Flaticon-exclamation-folder: "\f108";
    $font-Flaticon-linked-open-folder: "\f109";
    $font-Flaticon-loving-folder: "\f10a";
    $font-Flaticon-music-folder: "\f10b";
    $font-Flaticon-reloaded-folder: "\f10c";
    $font-Flaticon-remove-data-from-folder: "\f10d";
    $font-Flaticon-remove-folder: "\f10e";
    $font-Flaticon-search-in-folder: "\f10f";
    $font-Flaticon-secure-folder: "\f110";
    $font-Flaticon-starred-folder: "\f111";
    $font-Flaticon-upload-folder: "\f112";
    $font-Flaticon-zipped-folder: "\f113";