	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:15
  	*/

@font-face {
  font-family: "Foldericon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Foldericon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.foldericon
{
    font-family: foldericon;
    font-style: normal;
    font-size:16pt;
}
.foldericon-application-folder:before { content: "\f100"; }
.foldericon-blank-page-in-folder:before { content: "\f101"; }
.foldericon-blocked-folder:before { content: "\f102"; }
.foldericon-blocked-folder-1:before { content: "\f103"; }
.foldericon-check-mark-folder:before { content: "\f104"; }
.foldericon-delete-folder:before { content: "\f105"; }
.foldericon-download-open-folder:before { content: "\f106"; }
.foldericon-empty-folder:before { content: "\f107"; }
.foldericon-exclamation-folder:before { content: "\f108"; }
.foldericon-linked-open-folder:before { content: "\f109"; }
.foldericon-loving-folder:before { content: "\f10a"; }
.foldericon-music-folder:before { content: "\f10b"; }
.foldericon-reloaded-folder:before { content: "\f10c"; }
.foldericon-remove-data-from-folder:before { content: "\f10d"; }
.foldericon-remove-folder:before { content: "\f10e"; }
.foldericon-search-in-folder:before { content: "\f10f"; }
.foldericon-secure-folder:before { content: "\f110"; }
.foldericon-starred-folder:before { content: "\f111"; }
.foldericon-upload-folder:before { content: "\f112"; }
.foldericon-zipped-folder:before { content: "\f113"; }