@font-face {
	font-family: "TechSupport";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.techsupport {   
	font-family: techsupport;
        font-size: 20px;
font-style: normal;
}.techsupport-avatar23:before {
	content: "\e000";
}
.techsupport-chatting7:before {
	content: "\e001";
}
.techsupport-check-mark8:before {
	content: "\e002";
}
.techsupport-circular-arrow36:before {
	content: "\e003";
}
.techsupport-cogwheel53:before {
	content: "\e004";
}
.techsupport-cogwheel55:before {
	content: "\e005";
}
.techsupport-cogwheels15:before {
	content: "\e006";
}
.techsupport-computer-mouse32:before {
	content: "\e007";
}
.techsupport-computer-screen40:before {
	content: "\e008";
}
.techsupport-customer-service14:before {
	content: "\e009";
}
.techsupport-customer-service16:before {
	content: "\e00a";
}
.techsupport-customer-service17:before {
	content: "\e00b";
}
.techsupport-economy4:before {
	content: "\e00c";
}
.techsupport-electricity10:before {
	content: "\e00d";
}
.techsupport-gear85:before {
	content: "\e00e";
}
.techsupport-headphones56:before {
	content: "\e00f";
}
.techsupport-headphones57:before {
	content: "\e010";
}
.techsupport-hourglass7:before {
	content: "\e011";
}
.techsupport-laptop135:before {
	content: "\e012";
}
.techsupport-laptop-computer21:before {
	content: "\e013";
}
.techsupport-laptop-computer22:before {
	content: "\e014";
}
.techsupport-laptop-computer26:before {
	content: "\e015";
}
.techsupport-laptop-computer28:before {
	content: "\e016";
}
.techsupport-magnifying-glass74:before {
	content: "\e017";
}
.techsupport-mechanic1:before {
	content: "\e018";
}
.techsupport-networking9:before {
	content: "\e019";
}
.techsupport-options25:before {
	content: "\e01a";
}
.techsupport-phone call15:before {
	content: "\e01b";
}
.techsupport-phone-receiver7:before {
	content: "\e01c";
}
.techsupport-phone-receiver8:before {
	content: "\e01d";
}
.techsupport-profile38:before {
	content: "\e01e";
}
.techsupport-repair31:before {
	content: "\e01f";
}
.techsupport-smartphone169:before {
	content: "\e020";
}
.techsupport-smartphone174:before {
	content: "\e021";
}
.techsupport-smartphone177:before {
	content: "\e022";
}
.techsupport-telephone172:before {
	content: "\e023";
}
.techsupport-user219:before {
	content: "\e024";
}
.techsupport-user220:before {
	content: "\e025";
}
.techsupport-user223:before {
	content: "\e026";
}
.techsupport-user225:before {
	content: "\e027";
}
.techsupport-user226:before {
	content: "\e028";
}
.techsupport-worker47:before {
	content: "\e029";
}
.techsupport-working12:before {
	content: "\e02a";
}
.techsupport-wrench108:before {
	content: "\e02b";
}
.techsupport-wrench109:before {
	content: "\e02c";
}
.techsupport-wrenches12:before {
	content: "\e02d";
}
