
@font-face {
    font-family: "simpleicon";
    src: url("Flaticon.eot");
    src: url("Flaticon.eot?#iefix") format("embedded-opentype"), url("Flaticon.woff") format("woff"), url("Flaticon.ttf") format("truetype"), url("Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "simpleicon";
        src: url("Flaticon.svg#Flaticon") format("svg");
    }
}

.simpleicon{
    font-family: simpleicon;
    font-size: 12px;
    font-style: normal;
}

.simpleicon-circular-arrow:before {
    content: "\f100";
}

.simpleicon-circular-arrow-1:before {
    content: "\f101";
}

.simpleicon-clock:before {
    content: "\f102";
}

.simpleicon-cloud:before {
    content: "\f103";
}

.simpleicon-diagonal-arrow:before {
    content: "\f104";
}

.simpleicon-diagonal-arrow-1:before {
    content: "\f105";
}

.simpleicon-diagonal-arrow-2:before {
    content: "\f106";
}

.simpleicon-diagonal-arrow-3:before {
    content: "\f107";
}

.simpleicon-diagonal-line:before {
    content: "\f108";
}

.simpleicon-download-arrow:before {
    content: "\f109";
}

.simpleicon-download-arrow-1:before {
    content: "\f10a";
}

.simpleicon-download-arrow-2:before {
    content: "\f10b";
}

.simpleicon-download-from-cloud:before {
    content: "\f10c";
}

.simpleicon-edit:before {
    content: "\f10d";
}

.simpleicon-envelope:before {
    content: "\f10e";
}

.simpleicon-exclamation:before {
    content: "\f10f";
}

.simpleicon-file:before {
    content: "\f110";
}

.simpleicon-heart:before {
    content: "\f111";
}

.simpleicon-heart-upside-down:before {
    content: "\f112";
}

.simpleicon-home:before {
    content: "\f113";
}

.simpleicon-left-arrow:before {
    content: "\f114";
}

.simpleicon-letter-x:before {
    content: "\f115";
}

.simpleicon-loupe:before {
    content: "\f116";
}

.simpleicon-minus-symbol:before {
    content: "\f117";
}

.simpleicon-open-envelope:before {
    content: "\f118";
}

.simpleicon-open-lock:before {
    content: "\f119";
}

.simpleicon-padlock:before {
    content: "\f11a";
}

.simpleicon-paper-plane:before {
    content: "\f11b";
}

.simpleicon-photo-camera:before {
    content: "\f11c";
}

.simpleicon-photo-camera-1:before {
    content: "\f11d";
}

.simpleicon-placeholder:before {
    content: "\f11e";
}

.simpleicon-play-button:before {
    content: "\f11f";
}

.simpleicon-plus-symbol:before {
    content: "\f120";
}

.simpleicon-reload:before {
    content: "\f121";
}

.simpleicon-right-arrow:before {
    content: "\f122";
}

.simpleicon-settings:before {
    content: "\f123";
}

.simpleicon-smartphone:before {
    content: "\f124";
}

.simpleicon-star:before {
    content: "\f125";
}

.simpleicon-two-lines:before {
    content: "\f126";
}

.simpleicon-up-arrow:before {
    content: "\f127";
}

.simpleicon-upload-to-cloud:before {
    content: "\f128";
}

.simpleicon-user:before {
    content: "\f129";
}
