@font-face {
	font-family: "MoneyIcon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.moneyicon {   
	font-family: MoneyIcon;
}.moneyicon-abacus14:before {
	content: "\e000";
}
.moneyicon-add185:before {
	content: "\e001";
}
.moneyicon-archive34:before {
	content: "\e002";
}
.moneyicon-archive35:before {
	content: "\e003";
}
.moneyicon-ascending24:before {
	content: "\e004";
}
.moneyicon-bank14:before {
	content: "\e005";
}
.moneyicon-bars57:before {
	content: "\e006";
}
.moneyicon-barscode3:before {
	content: "\e007";
}
.moneyicon-bell45:before {
	content: "\e008";
}
.moneyicon-broken44:before {
	content: "\e009";
}
.moneyicon-businessman225:before {
	content: "\e00a";
}
.moneyicon-businessman226:before {
	content: "\e00b";
}
.moneyicon-businessman227:before {
	content: "\e00c";
}
.moneyicon-businessman228:before {
	content: "\e00d";
}
.moneyicon-businessman229:before {
	content: "\e00e";
}
.moneyicon-businessman230:before {
	content: "\e00f";
}
.moneyicon-businessman231:before {
	content: "\e010";
}
.moneyicon-businessman232:before {
	content: "\e011";
}
.moneyicon-businessmen33:before {
	content: "\e012";
}
.moneyicon-businessmen34:before {
	content: "\e013";
}
.moneyicon-calculator69:before {
	content: "\e014";
}
.moneyicon-chair13:before {
	content: "\e015";
}
.moneyicon-check53:before {
	content: "\e016";
}
.moneyicon-circular271:before {
	content: "\e017";
}
.moneyicon-clipboard98:before {
	content: "\e018";
}
.moneyicon-communication9:before {
	content: "\e019";
}
.moneyicon-credit96:before {
	content: "\e01a";
}
.moneyicon-credit97:before {
	content: "\e01b";
}
.moneyicon-cursor13:before {
	content: "\e01c";
}
.moneyicon-day21:before {
	content: "\e01d";
}
.moneyicon-diamond38:before {
	content: "\e01e";
}
.moneyicon-dice18:before {
	content: "\e01f";
}
.moneyicon-dollar166:before {
	content: "\e020";
}
.moneyicon-dollar167:before {
	content: "\e021";
}
.moneyicon-dollar168:before {
	content: "\e022";
}
.moneyicon-dollar169:before {
	content: "\e023";
}
.moneyicon-dollar170:before {
	content: "\e024";
}
.moneyicon-dollar171:before {
	content: "\e025";
}
.moneyicon-dollar172:before {
	content: "\e026";
}
.moneyicon-dollar173:before {
	content: "\e027";
}
.moneyicon-dollar174:before {
	content: "\e028";
}
.moneyicon-dollar175:before {
	content: "\e029";
}
.moneyicon-dollar176:before {
	content: "\e02a";
}
.moneyicon-dollar177:before {
	content: "\e02b";
}
.moneyicon-dollars44:before {
	content: "\e02c";
}
.moneyicon-dollars45:before {
	content: "\e02d";
}
.moneyicon-dollars46:before {
	content: "\e02e";
}
.moneyicon-dollars47:before {
	content: "\e02f";
}
.moneyicon-dollars48:before {
	content: "\e030";
}
.moneyicon-down117:before {
	content: "\e031";
}
.moneyicon-email106:before {
	content: "\e032";
}
.moneyicon-euro61:before {
	content: "\e033";
}
.moneyicon-euro62:before {
	content: "\e034";
}
.moneyicon-euro63:before {
	content: "\e035";
}
.moneyicon-euro64:before {
	content: "\e036";
}
.moneyicon-euro65:before {
	content: "\e037";
}
.moneyicon-euro66:before {
	content: "\e038";
}
.moneyicon-euro67:before {
	content: "\e039";
}
.moneyicon-euro68:before {
	content: "\e03a";
}
.moneyicon-euro69:before {
	content: "\e03b";
}
.moneyicon-euro70:before {
	content: "\e03c";
}
.moneyicon-euro71:before {
	content: "\e03d";
}
.moneyicon-euros1:before {
	content: "\e03e";
}
.moneyicon-eyeglasses23:before {
	content: "\e03f";
}
.moneyicon-fax5:before {
	content: "\e040";
}
.moneyicon-feminine8:before {
	content: "\e041";
}
.moneyicon-file94:before {
	content: "\e042";
}
.moneyicon-finances1:before {
	content: "\e043";
}
.moneyicon-finances:before {
	content: "\e044";
}
.moneyicon-folder214:before {
	content: "\e045";
}
.moneyicon-global40:before {
	content: "\e046";
}
.moneyicon-global41:before {
	content: "\e047";
}
.moneyicon-gold6:before {
	content: "\e048";
}
.moneyicon-hot73:before {
	content: "\e049";
}
.moneyicon-key172:before {
	content: "\e04a";
}
.moneyicon-laptop118:before {
	content: "\e04b";
}
.moneyicon-legal12:before {
	content: "\e04c";
}
.moneyicon-less14:before {
	content: "\e04d";
}
.moneyicon-lightbulb53:before {
	content: "\e04e";
}
.moneyicon-locked56:before {
	content: "\e04f";
}
.moneyicon-money130:before {
	content: "\e050";
}
.moneyicon-more21:before {
	content: "\e051";
}
.moneyicon-new101:before {
	content: "\e052";
}
.moneyicon-note48:before {
	content: "\e053";
}
.moneyicon-note49:before {
	content: "\e054";
}
.moneyicon-objective:before {
	content: "\e055";
}
.moneyicon-paper134:before {
	content: "\e056";
}
.moneyicon-paperclip26:before {
	content: "\e057";
}
.moneyicon-pen67:before {
	content: "\e058";
}
.moneyicon-pen68:before {
	content: "\e059";
}
.moneyicon-pen69:before {
	content: "\e05a";
}
.moneyicon-pencil109:before {
	content: "\e05b";
}
.moneyicon-personal33:before {
	content: "\e05c";
}
.moneyicon-phone369:before {
	content: "\e05d";
}
.moneyicon-piggy11:before {
	content: "\e05e";
}
.moneyicon-pin54:before {
	content: "\e05f";
}
.moneyicon-pound20:before {
	content: "\e060";
}
.moneyicon-pound21:before {
	content: "\e061";
}
.moneyicon-pound22:before {
	content: "\e062";
}
.moneyicon-pound23:before {
	content: "\e063";
}
.moneyicon-pound24:before {
	content: "\e064";
}
.moneyicon-pounds23:before {
	content: "\e065";
}
.moneyicon-pounds24:before {
	content: "\e066";
}
.moneyicon-pounds25:before {
	content: "\e067";
}
.moneyicon-pounds26:before {
	content: "\e068";
}
.moneyicon-pounds27:before {
	content: "\e069";
}
.moneyicon-print41:before {
	content: "\e06a";
}
.moneyicon-protected9:before {
	content: "\e06b";
}
.moneyicon-quit3:before {
	content: "\e06c";
}
.moneyicon-real10:before {
	content: "\e06d";
}
.moneyicon-real11:before {
	content: "\e06e";
}
.moneyicon-recognition6:before {
	content: "\e06f";
}
.moneyicon-royalties:before {
	content: "\e070";
}
.moneyicon-ruler24:before {
	content: "\e071";
}
.moneyicon-safe23:before {
	content: "\e072";
}
.moneyicon-scale19:before {
	content: "\e073";
}
.moneyicon-scissor11:before {
	content: "\e074";
}
.moneyicon-search99:before {
	content: "\e075";
}
.moneyicon-settings48:before {
	content: "\e076";
}
.moneyicon-stamp11:before {
	content: "\e077";
}
.moneyicon-star173:before {
	content: "\e078";
}
.moneyicon-thumb52:before {
	content: "\e079";
}
.moneyicon-unlock37:before {
	content: "\e07a";
}
.moneyicon-unlocked42:before {
	content: "\e07b";
}
.moneyicon-up175:before {
	content: "\e07c";
}
.moneyicon-verified19:before {
	content: "\e07d";
}
.moneyicon-wallet33:before {
	content: "\e07e";
}
.moneyicon-woman125:before {
	content: "\e07f";
}
.moneyicon-writing25:before {
	content: "\e080";
}
.moneyicon-yen33:before {
	content: "\e081";
}
.moneyicon-yen34:before {
	content: "\e082";
}
.moneyicon-yen35:before {
	content: "\e083";
}
.moneyicon-yen36:before {
	content: "\e084";
}
.moneyicon-yen37:before {
	content: "\e085";
}
.moneyicon-yen38:before {
	content: "\e086";
}
.moneyicon-yen39:before {
	content: "\e087";
}
.moneyicon-yen40:before {
	content: "\e088";
}
.moneyicon-yens5:before {
	content: "\e089";
}
.moneyicon-yens6:before {
	content: "\e08a";
}
.moneyicon-yens7:before {
	content: "\e08b";
}
