﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="errorPage.aspx.vb" Inherits="DMS.Web.errorPage" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div style="text-align:center; margin-top:15px;">
        <span style="font-size:larger;">There is some error occured, error is logged in the system. If its happening everytime, you can contract to system administrator.</span>
    </div>
</asp:Content>
