@font-face {
	font-family: "Real5Icon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.real5icon{   
	font-family: Real5Icon;
}.real5icon-agreement3:before {
	content: "\e000";
}
.real5icon-apartment1:before {
	content: "\e001";
}
.real5icon-apartment2:before {
	content: "\e002";
}
.real5icon-apartment3:before {
	content: "\e003";
}
.real5icon-apartment4:before {
	content: "\e004";
}
.real5icon-apartment:before {
	content: "\e005";
}
.real5icon-architecture2:before {
	content: "\e006";
}
.real5icon-award57:before {
	content: "\e007";
}
.real5icon-award60:before {
	content: "\e008";
}
.real5icon-bath7:before {
	content: "\e009";
}
.real5icon-bed40:before {
	content: "\e00a";
}
.real5icon-big wheel:before {
	content: "\e00b";
}
.real5icon-browser5:before {
	content: "\e00c";
}
.real5icon-building105:before {
	content: "\e00d";
}
.real5icon-building:before {
	content: "\e00e";
}
.real5icon-coffee132:before {
	content: "\e00f";
}
.real5icon-coffee133:before {
	content: "\e010";
}
.real5icon-computer222:before {
	content: "\e011";
}
.real5icon-computer screen6:before {
	content: "\e012";
}
.real5icon-fence17:before {
	content: "\e013";
}
.real5icon-fitness1:before {
	content: "\e014";
}
.real5icon-garage14:before {
	content: "\e015";
}
.real5icon-garage15:before {
	content: "\e016";
}
.real5icon-gym12:before {
	content: "\e017";
}
.real5icon-hammer2:before {
	content: "\e018";
}
.real5icon-home173:before {
	content: "\e019";
}
.real5icon-home174:before {
	content: "\e01a";
}
.real5icon-home175:before {
	content: "\e01b";
}
.real5icon-home177:before {
	content: "\e01c";
}
.real5icon-home178:before {
	content: "\e01d";
}
.real5icon-house183:before {
	content: "\e01e";
}
.real5icon-house184:before {
	content: "\e01f";
}
.real5icon-house185:before {
	content: "\e020";
}
.real5icon-house186:before {
	content: "\e021";
}
.real5icon-house187:before {
	content: "\e022";
}
.real5icon-house188:before {
	content: "\e023";
}
.real5icon-house189:before {
	content: "\e024";
}
.real5icon-house190:before {
	content: "\e025";
}
.real5icon-house191:before {
	content: "\e026";
}
.real5icon-house192:before {
	content: "\e027";
}
.real5icon-house193:before {
	content: "\e028";
}
.real5icon-house194:before {
	content: "\e029";
}
.real5icon-house195:before {
	content: "\e02a";
}
.real5icon-house196:before {
	content: "\e02b";
}
.real5icon-house197:before {
	content: "\e02c";
}
.real5icon-house198:before {
	content: "\e02d";
}
.real5icon-house199:before {
	content: "\e02e";
}
.real5icon-house200:before {
	content: "\e02f";
}
.real5icon-house201:before {
	content: "\e030";
}
.real5icon-information82:before {
	content: "\e031";
}
.real5icon-key194:before {
	content: "\e032";
}
.real5icon-key195:before {
	content: "\e033";
}
.real5icon-key196:before {
	content: "\e034";
}
.real5icon-key9:before {
	content: "\e035";
}
.real5icon-park13:before {
	content: "\e036";
}
.real5icon-parking29:before {
	content: "\e037";
}
.real5icon-parking30:before {
	content: "\e038";
}
.real5icon-pen84:before {
	content: "\e039";
}
.real5icon-pen85:before {
	content: "\e03a";
}
.real5icon-property:before {
	content: "\e03b";
}
.real5icon-real estate2:before {
	content: "\e03c";
}
.real5icon-real state1:before {
	content: "\e03d";
}
.real5icon-real state2:before {
	content: "\e03e";
}
.real5icon-real state:before {
	content: "\e03f";
}
.real5icon-rent4:before {
	content: "\e040";
}
.real5icon-rent5:before {
	content: "\e041";
}
.real5icon-roller brush:before {
	content: "\e042";
}
.real5icon-sale:before {
	content: "\e043";
}
.real5icon-security54:before {
	content: "\e044";
}
.real5icon-seller:before {
	content: "\e045";
}
.real5icon-shake hands:before {
	content: "\e046";
}
.real5icon-shop2:before {
	content: "\e047";
}
.real5icon-shower17:before {
	content: "\e048";
}
.real5icon-sofa11:before {
	content: "\e049";
}
.real5icon-sofa12:before {
	content: "\e04a";
}
.real5icon-sofa13:before {
	content: "\e04b";
}
.real5icon-sofa14:before {
	content: "\e04c";
}
.real5icon-swimming29:before {
	content: "\e04d";
}
.real5icon-swimming pool1:before {
	content: "\e04e";
}
.real5icon-taxi:before {
	content: "\e04f";
}
.real5icon-video camera2:before {
	content: "\e050";
}
.real5icon-wifi106:before {
	content: "\e051";
}
