@font-face {
	font-family: "AdminUI";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.adminuicon {   
	font-family: AdminUI;
}.adminuicon-accesibility1:before {
	content: "\e000";
}
.adminuicon-access1:before {
	content: "\e001";
}
.adminuicon-acrobat2:before {
	content: "\e002";
}
.adminuicon-add175:before {
	content: "\e003";
}
.adminuicon-add176:before {
	content: "\e004";
}
.adminuicon-airplane102:before {
	content: "\e005";
}
.adminuicon-airplane104:before {
	content: "\e006";
}
.adminuicon-alarm46:before {
	content: "\e007";
}
.adminuicon-alphabetical2:before {
	content: "\e008";
}
.adminuicon-anchor35:before {
	content: "\e009";
}
.adminuicon-antique25:before {
	content: "\e00a";
}
.adminuicon-archive29:before {
	content: "\e00b";
}
.adminuicon-arrow612:before {
	content: "\e00c";
}
.adminuicon-arrow614:before {
	content: "\e00d";
}
.adminuicon-arrow616:before {
	content: "\e00e";
}
.adminuicon-arrow618:before {
	content: "\e00f";
}
.adminuicon-arrow619:before {
	content: "\e010";
}
.adminuicon-arrow620:before {
	content: "\e011";
}
.adminuicon-arrow621:before {
	content: "\e012";
}
.adminuicon-arrow622:before {
	content: "\e013";
}
.adminuicon-arrows100:before {
	content: "\e014";
}
.adminuicon-arrows96:before {
	content: "\e015";
}
.adminuicon-arrows97:before {
	content: "\e016";
}
.adminuicon-arrows98:before {
	content: "\e017";
}
.adminuicon-arrows99:before {
	content: "\e018";
}
.adminuicon-ascending22:before {
	content: "\e019";
}
.adminuicon-ascending23:before {
	content: "\e01a";
}
.adminuicon-asterisk8:before {
	content: "\e01b";
}
.adminuicon-audio55:before {
	content: "\e01c";
}
.adminuicon-audio56:before {
	content: "\e01d";
}
.adminuicon-automatic1:before {
	content: "\e01e";
}
.adminuicon-automatic:before {
	content: "\e01f";
}
.adminuicon-back51:before {
	content: "\e020";
}
.adminuicon-back52:before {
	content: "\e021";
}
.adminuicon-back53:before {
	content: "\e022";
}
.adminuicon-back54:before {
	content: "\e023";
}
.adminuicon-back55:before {
	content: "\e024";
}
.adminuicon-barcode10:before {
	content: "\e025";
}
.adminuicon-bars53:before {
	content: "\e026";
}
.adminuicon-bell43:before {
	content: "\e027";
}
.adminuicon-bold17:before {
	content: "\e028";
}
.adminuicon-bomb10:before {
	content: "\e029";
}
.adminuicon-book202:before {
	content: "\e02a";
}
.adminuicon-book203:before {
	content: "\e02b";
}
.adminuicon-book204:before {
	content: "\e02c";
}
.adminuicon-bookmark40:before {
	content: "\e02d";
}
.adminuicon-bottle37:before {
	content: "\e02e";
}
.adminuicon-browser69:before {
	content: "\e02f";
}
.adminuicon-building69:before {
	content: "\e030";
}
.adminuicon-building71:before {
	content: "\e031";
}
.adminuicon-burn7:before {
	content: "\e032";
}
.adminuicon-business175:before {
	content: "\e033";
}
.adminuicon-business177:before {
	content: "\e034";
}
.adminuicon-button7:before {
	content: "\e035";
}
.adminuicon-button8:before {
	content: "\e036";
}
.adminuicon-calculator66:before {
	content: "\e037";
}
.adminuicon-car144:before {
	content: "\e038";
}
.adminuicon-characters1:before {
	content: "\e039";
}
.adminuicon-characters:before {
	content: "\e03a";
}
.adminuicon-chat67:before {
	content: "\e03b";
}
.adminuicon-chat68:before {
	content: "\e03c";
}
.adminuicon-chat69:before {
	content: "\e03d";
}
.adminuicon-chat70:before {
	content: "\e03e";
}
.adminuicon-chatting2:before {
	content: "\e03f";
}
.adminuicon-checked20:before {
	content: "\e040";
}
.adminuicon-checkmark19:before {
	content: "\e041";
}
.adminuicon-checkmark21:before {
	content: "\e042";
}
.adminuicon-christmas125:before {
	content: "\e043";
}
.adminuicon-circle100:before {
	content: "\e044";
}
.adminuicon-circle105:before {
	content: "\e045";
}
.adminuicon-circle99:before {
	content: "\e046";
}
.adminuicon-circles22:before {
	content: "\e047";
}
.adminuicon-clipboard93:before {
	content: "\e048";
}
.adminuicon-clipboard94:before {
	content: "\e049";
}
.adminuicon-clipboard95:before {
	content: "\e04a";
}
.adminuicon-clock94:before {
	content: "\e04b";
}
.adminuicon-clock96:before {
	content: "\e04c";
}
.adminuicon-cloud292:before {
	content: "\e04d";
}
.adminuicon-cocktail28:before {
	content: "\e04e";
}
.adminuicon-code39:before {
	content: "\e04f";
}
.adminuicon-code40:before {
	content: "\e050";
}
.adminuicon-code41:before {
	content: "\e051";
}
.adminuicon-collapse7:before {
	content: "\e052";
}
.adminuicon-compass102:before {
	content: "\e053";
}
.adminuicon-compressed1:before {
	content: "\e054";
}
.adminuicon-contrast24:before {
	content: "\e055";
}
.adminuicon-copy30:before {
	content: "\e056";
}
.adminuicon-credit92:before {
	content: "\e057";
}
.adminuicon-cropping3:before {
	content: "\e058";
}
.adminuicon-cross92:before {
	content: "\e059";
}
.adminuicon-cross93:before {
	content: "\e05a";
}
.adminuicon-cross95:before {
	content: "\e05b";
}
.adminuicon-crosshair14:before {
	content: "\e05c";
}
.adminuicon-cube34:before {
	content: "\e05d";
}
.adminuicon-cubes3:before {
	content: "\e05e";
}
.adminuicon-curved25:before {
	content: "\e05f";
}
.adminuicon-data102:before {
	content: "\e060";
}
.adminuicon-database46:before {
	content: "\e061";
}
.adminuicon-design28:before {
	content: "\e062";
}
.adminuicon-design30:before {
	content: "\e063";
}
.adminuicon-digital21:before {
	content: "\e064";
}
.adminuicon-dislike14:before {
	content: "\e065";
}
.adminuicon-double117:before {
	content: "\e066";
}
.adminuicon-down93:before {
	content: "\e067";
}
.adminuicon-down94:before {
	content: "\e068";
}
.adminuicon-down95:before {
	content: "\e069";
}
.adminuicon-down96:before {
	content: "\e06a";
}
.adminuicon-down98:before {
	content: "\e06b";
}
.adminuicon-download157:before {
	content: "\e06c";
}
.adminuicon-download158:before {
	content: "\e06d";
}
.adminuicon-edit44:before {
	content: "\e06e";
}
.adminuicon-email96:before {
	content: "\e06f";
}
.adminuicon-equalizer31:before {
	content: "\e070";
}
.adminuicon-erase2:before {
	content: "\e071";
}
.adminuicon-event10:before {
	content: "\e072";
}
.adminuicon-exclamation29:before {
	content: "\e073";
}
.adminuicon-expand36:before {
	content: "\e074";
}
.adminuicon-expand37:before {
	content: "\e075";
}
.adminuicon-eye104:before {
	content: "\e076";
}
.adminuicon-facebook53:before {
	content: "\e077";
}
.adminuicon-facebook55:before {
	content: "\e078";
}
.adminuicon-faq7:before {
	content: "\e079";
}
.adminuicon-favorite20:before {
	content: "\e07a";
}
.adminuicon-fax4:before {
	content: "\e07b";
}
.adminuicon-file82:before {
	content: "\e07c";
}
.adminuicon-file84:before {
	content: "\e07d";
}
.adminuicon-file85:before {
	content: "\e07e";
}
.adminuicon-file87:before {
	content: "\e07f";
}
.adminuicon-film60:before {
	content: "\e080";
}
.adminuicon-filter19:before {
	content: "\e081";
}
.adminuicon-finger8:before {
	content: "\e082";
}
.adminuicon-finger9:before {
	content: "\e083";
}
.adminuicon-fire38:before {
	content: "\e084";
}
.adminuicon-flag68:before {
	content: "\e085";
}
.adminuicon-flag71:before {
	content: "\e086";
}
.adminuicon-flag72:before {
	content: "\e087";
}
.adminuicon-flag73:before {
	content: "\e088";
}
.adminuicon-flag74:before {
	content: "\e089";
}
.adminuicon-folder209:before {
	content: "\e08a";
}
.adminuicon-four102:before {
	content: "\e08b";
}
.adminuicon-game55:before {
	content: "\e08c";
}
.adminuicon-gear33:before {
	content: "\e08d";
}
.adminuicon-gears5:before {
	content: "\e08e";
}
.adminuicon-giftbox57:before {
	content: "\e08f";
}
.adminuicon-google116:before {
	content: "\e090";
}
.adminuicon-graduate31:before {
	content: "\e091";
}
.adminuicon-group65:before {
	content: "\e092";
}
.adminuicon-group66:before {
	content: "\e093";
}
.adminuicon-hammer53:before {
	content: "\e094";
}
.adminuicon-hammer54:before {
	content: "\e095";
}
.adminuicon-harddisc:before {
	content: "\e096";
}
.adminuicon-headphones38:before {
	content: "\e097";
}
.adminuicon-help17:before {
	content: "\e098";
}
.adminuicon-hierarchical9:before {
	content: "\e099";
}
.adminuicon-hierarchy9:before {
	content: "\e09a";
}
.adminuicon-home145:before {
	content: "\e09b";
}
.adminuicon-horizontal37:before {
	content: "\e09c";
}
.adminuicon-horizontal38:before {
	content: "\e09d";
}
.adminuicon-image79:before {
	content: "\e09e";
}
.adminuicon-image80:before {
	content: "\e09f";
}
.adminuicon-image81:before {
	content: "\e0a0";
}
.adminuicon-image82:before {
	content: "\e0a1";
}
.adminuicon-images25:before {
	content: "\e0a2";
}
.adminuicon-inbox35:before {
	content: "\e0a3";
}
.adminuicon-inbox36:before {
	content: "\e0a4";
}
.adminuicon-information66:before {
	content: "\e0a5";
}
.adminuicon-information67:before {
	content: "\e0a6";
}
.adminuicon-information68:before {
	content: "\e0a7";
}
.adminuicon-ink15:before {
	content: "\e0a8";
}
.adminuicon-interface56:before {
	content: "\e0a9";
}
.adminuicon-interface57:before {
	content: "\e0aa";
}
.adminuicon-invisible3:before {
	content: "\e0ab";
}
.adminuicon-italic9:before {
	content: "\e0ac";
}
.adminuicon-jar19:before {
	content: "\e0ad";
}
.adminuicon-key167:before {
	content: "\e0ae";
}
.adminuicon-keyword4:before {
	content: "\e0af";
}
.adminuicon-label29:before {
	content: "\e0b0";
}
.adminuicon-laptop112:before {
	content: "\e0b1";
}
.adminuicon-layout34:before {
	content: "\e0b2";
}
.adminuicon-layout35:before {
	content: "\e0b3";
}
.adminuicon-leaf61:before {
	content: "\e0b4";
}
.adminuicon-left193:before {
	content: "\e0b5";
}
.adminuicon-left194:before {
	content: "\e0b6";
}
.adminuicon-left195:before {
	content: "\e0b7";
}
.adminuicon-left196:before {
	content: "\e0b8";
}
.adminuicon-left197:before {
	content: "\e0b9";
}
.adminuicon-left199:before {
	content: "\e0ba";
}
.adminuicon-left200:before {
	content: "\e0bb";
}
.adminuicon-lifesaver4:before {
	content: "\e0bc";
}
.adminuicon-lifesaver5:before {
	content: "\e0bd";
}
.adminuicon-lightbulb49:before {
	content: "\e0be";
}
.adminuicon-lightbulb50:before {
	content: "\e0bf";
}
.adminuicon-lightning21:before {
	content: "\e0c0";
}
.adminuicon-like72:before {
	content: "\e0c1";
}
.adminuicon-like73:before {
	content: "\e0c2";
}
.adminuicon-like74:before {
	content: "\e0c3";
}
.adminuicon-like75:before {
	content: "\e0c4";
}
.adminuicon-link55:before {
	content: "\e0c5";
}
.adminuicon-link56:before {
	content: "\e0c6";
}
.adminuicon-list81:before {
	content: "\e0c7";
}
.adminuicon-list82:before {
	content: "\e0c8";
}
.adminuicon-list83:before {
	content: "\e0c9";
}
.adminuicon-lock72:before {
	content: "\e0ca";
}
.adminuicon-lock73:before {
	content: "\e0cb";
}
.adminuicon-login17:before {
	content: "\e0cc";
}
.adminuicon-login18:before {
	content: "\e0cd";
}
.adminuicon-logout18:before {
	content: "\e0ce";
}
.adminuicon-logout19:before {
	content: "\e0cf";
}
.adminuicon-logout20:before {
	content: "\e0d0";
}
.adminuicon-logout21:before {
	content: "\e0d1";
}
.adminuicon-logout22:before {
	content: "\e0d2";
}
.adminuicon-lyrics1:before {
	content: "\e0d3";
}
.adminuicon-magic18:before {
	content: "\e0d4";
}
.adminuicon-man455:before {
	content: "\e0d5";
}
.adminuicon-man457:before {
	content: "\e0d6";
}
.adminuicon-map99:before {
	content: "\e0d7";
}
.adminuicon-megaphone13:before {
	content: "\e0d8";
}
.adminuicon-men26:before {
	content: "\e0d9";
}
.adminuicon-menu51:before {
	content: "\e0da";
}
.adminuicon-message15:before {
	content: "\e0db";
}
.adminuicon-message17:before {
	content: "\e0dc";
}
.adminuicon-minus100:before {
	content: "\e0dd";
}
.adminuicon-minus101:before {
	content: "\e0de";
}
.adminuicon-minus102:before {
	content: "\e0df";
}
.adminuicon-minus103:before {
	content: "\e0e0";
}
.adminuicon-minus97:before {
	content: "\e0e1";
}
.adminuicon-minus99:before {
	content: "\e0e2";
}
.adminuicon-mobile224:before {
	content: "\e0e3";
}
.adminuicon-money128:before {
	content: "\e0e4";
}
.adminuicon-monitor81:before {
	content: "\e0e5";
}
.adminuicon-movie40:before {
	content: "\e0e6";
}
.adminuicon-multimedia12:before {
	content: "\e0e7";
}
.adminuicon-music232:before {
	content: "\e0e8";
}
.adminuicon-musical113:before {
	content: "\e0e9";
}
.adminuicon-mute36:before {
	content: "\e0ea";
}
.adminuicon-new95:before {
	content: "\e0eb";
}
.adminuicon-new96:before {
	content: "\e0ec";
}
.adminuicon-new97:before {
	content: "\e0ed";
}
.adminuicon-newspaper16:before {
	content: "\e0ee";
}
.adminuicon-night13:before {
	content: "\e0ef";
}
.adminuicon-numbered8:before {
	content: "\e0f0";
}
.adminuicon-numeric3:before {
	content: "\e0f1";
}
.adminuicon-numerical1:before {
	content: "\e0f2";
}
.adminuicon-old62:before {
	content: "\e0f3";
}
.adminuicon-omega3:before {
	content: "\e0f4";
}
.adminuicon-orientation2:before {
	content: "\e0f5";
}
.adminuicon-oval38:before {
	content: "\e0f6";
}
.adminuicon-paintbrush13:before {
	content: "\e0f7";
}
.adminuicon-painting37:before {
	content: "\e0f8";
}
.adminuicon-paper132:before {
	content: "\e0f9";
}
.adminuicon-paper133:before {
	content: "\e0fa";
}
.adminuicon-paragraph19:before {
	content: "\e0fb";
}
.adminuicon-paragraph20:before {
	content: "\e0fc";
}
.adminuicon-paragraph21:before {
	content: "\e0fd";
}
.adminuicon-pawprint2:before {
	content: "\e0fe";
}
.adminuicon-pencil103:before {
	content: "\e0ff";
}
.adminuicon-person321:before {
	content: "\e100";
}
.adminuicon-person322:before {
	content: "\e101";
}
.adminuicon-phone363:before {
	content: "\e102";
}
.adminuicon-phone364:before {
	content: "\e103";
}
.adminuicon-phone365:before {
	content: "\e104";
}
.adminuicon-photo198:before {
	content: "\e105";
}
.adminuicon-photo200:before {
	content: "\e106";
}
.adminuicon-photo202:before {
	content: "\e107";
}
.adminuicon-photo203:before {
	content: "\e108";
}
.adminuicon-photo204:before {
	content: "\e109";
}
.adminuicon-pin49:before {
	content: "\e10a";
}
.adminuicon-pin50:before {
	content: "\e10b";
}
.adminuicon-pin51:before {
	content: "\e10c";
}
.adminuicon-placeholder30:before {
	content: "\e10d";
}
.adminuicon-play94:before {
	content: "\e10e";
}
.adminuicon-play95:before {
	content: "\e10f";
}
.adminuicon-play96:before {
	content: "\e110";
}
.adminuicon-play97:before {
	content: "\e111";
}
.adminuicon-plug36:before {
	content: "\e112";
}
.adminuicon-porfolio:before {
	content: "\e113";
}
.adminuicon-portfolio32:before {
	content: "\e114";
}
.adminuicon-power103:before {
	content: "\e115";
}
.adminuicon-printing23:before {
	content: "\e116";
}
.adminuicon-programming2:before {
	content: "\e117";
}
.adminuicon-prohibition21:before {
	content: "\e118";
}
.adminuicon-puzzle35:before {
	content: "\e119";
}
.adminuicon-question51:before {
	content: "\e11a";
}
.adminuicon-question52:before {
	content: "\e11b";
}
.adminuicon-quote6:before {
	content: "\e11c";
}
.adminuicon-rec2:before {
	content: "\e11d";
}
.adminuicon-rectangle18:before {
	content: "\e11e";
}
.adminuicon-rectangular82:before {
	content: "\e11f";
}
.adminuicon-rectangular83:before {
	content: "\e120";
}
.adminuicon-recycle68:before {
	content: "\e121";
}
.adminuicon-recycle69:before {
	content: "\e122";
}
.adminuicon-recycle70:before {
	content: "\e123";
}
.adminuicon-restaurant48:before {
	content: "\e124";
}
.adminuicon-return9:before {
	content: "\e125";
}
.adminuicon-retweet8:before {
	content: "\e126";
}
.adminuicon-right194:before {
	content: "\e127";
}
.adminuicon-right195:before {
	content: "\e128";
}
.adminuicon-right197:before {
	content: "\e129";
}
.adminuicon-right198:before {
	content: "\e12a";
}
.adminuicon-right199:before {
	content: "\e12b";
}
.adminuicon-ring23:before {
	content: "\e12c";
}
.adminuicon-road39:before {
	content: "\e12d";
}
.adminuicon-rocket71:before {
	content: "\e12e";
}
.adminuicon-rss51:before {
	content: "\e12f";
}
.adminuicon-safe21:before {
	content: "\e130";
}
.adminuicon-scissors56:before {
	content: "\e131";
}
.adminuicon-search95:before {
	content: "\e132";
}
.adminuicon-share35:before {
	content: "\e133";
}
.adminuicon-shield88:before {
	content: "\e134";
}
.adminuicon-shield89:before {
	content: "\e135";
}
.adminuicon-shield90:before {
	content: "\e136";
}
.adminuicon-shopping227:before {
	content: "\e137";
}
.adminuicon-shopping228:before {
	content: "\e138";
}
.adminuicon-shuffle19:before {
	content: "\e139";
}
.adminuicon-shuffle20:before {
	content: "\e13a";
}
.adminuicon-size9:before {
	content: "\e13b";
}
.adminuicon-smile12:before {
	content: "\e13c";
}
.adminuicon-smile13:before {
	content: "\e13d";
}
.adminuicon-sort49:before {
	content: "\e13e";
}
.adminuicon-sort50:before {
	content: "\e13f";
}
.adminuicon-sort51:before {
	content: "\e140";
}
.adminuicon-speaker100:before {
	content: "\e141";
}
.adminuicon-speaker102:before {
	content: "\e142";
}
.adminuicon-speaker98:before {
	content: "\e143";
}
.adminuicon-speech106:before {
	content: "\e144";
}
.adminuicon-speedometer35:before {
	content: "\e145";
}
.adminuicon-spoon16:before {
	content: "\e146";
}
.adminuicon-sport17:before {
	content: "\e147";
}
.adminuicon-square174:before {
	content: "\e148";
}
.adminuicon-square175:before {
	content: "\e149";
}
.adminuicon-star169:before {
	content: "\e14a";
}
.adminuicon-star170:before {
	content: "\e14b";
}
.adminuicon-stats12:before {
	content: "\e14c";
}
.adminuicon-street13:before {
	content: "\e14d";
}
.adminuicon-strikethrough6:before {
	content: "\e14e";
}
.adminuicon-subscribe:before {
	content: "\e14f";
}
.adminuicon-sun87:before {
	content: "\e150";
}
.adminuicon-switches1:before {
	content: "\e151";
}
.adminuicon-tablet91:before {
	content: "\e152";
}
.adminuicon-tag68:before {
	content: "\e153";
}
.adminuicon-target43:before {
	content: "\e154";
}
.adminuicon-taxi20:before {
	content: "\e155";
}
.adminuicon-tea20:before {
	content: "\e156";
}
.adminuicon-telephone102:before {
	content: "\e157";
}
.adminuicon-text134:before {
	content: "\e158";
}
.adminuicon-text136:before {
	content: "\e159";
}
.adminuicon-text137:before {
	content: "\e15a";
}
.adminuicon-text140:before {
	content: "\e15b";
}
.adminuicon-text141:before {
	content: "\e15c";
}
.adminuicon-text142:before {
	content: "\e15d";
}
.adminuicon-text144:before {
	content: "\e15e";
}
.adminuicon-text145:before {
	content: "\e15f";
}
.adminuicon-text146:before {
	content: "\e160";
}
.adminuicon-thumb51:before {
	content: "\e161";
}
.adminuicon-travel18:before {
	content: "\e162";
}
.adminuicon-trophy68:before {
	content: "\e163";
}
.adminuicon-truck53:before {
	content: "\e164";
}
.adminuicon-twitter45:before {
	content: "\e165";
}
.adminuicon-umbrella47:before {
	content: "\e166";
}
.adminuicon-underlined5:before {
	content: "\e167";
}
.adminuicon-unlocked39:before {
	content: "\e168";
}
.adminuicon-unlocked40:before {
	content: "\e169";
}
.adminuicon-up143:before {
	content: "\e16a";
}
.adminuicon-up144:before {
	content: "\e16b";
}
.adminuicon-up145:before {
	content: "\e16c";
}
.adminuicon-up146:before {
	content: "\e16d";
}
.adminuicon-up147:before {
	content: "\e16e";
}
.adminuicon-up150:before {
	content: "\e16f";
}
.adminuicon-up151:before {
	content: "\e170";
}
.adminuicon-up152:before {
	content: "\e171";
}
.adminuicon-upload109:before {
	content: "\e172";
}
.adminuicon-upload111:before {
	content: "\e173";
}
.adminuicon-user153:before {
	content: "\e174";
}
.adminuicon-user154:before {
	content: "\e175";
}
.adminuicon-verification21:before {
	content: "\e176";
}
.adminuicon-verify8:before {
	content: "\e177";
}
.adminuicon-video167:before {
	content: "\e178";
}
.adminuicon-video168:before {
	content: "\e179";
}
.adminuicon-video169:before {
	content: "\e17a";
}
.adminuicon-video170:before {
	content: "\e17b";
}
.adminuicon-virus4:before {
	content: "\e17c";
}
.adminuicon-visible9:before {
	content: "\e17d";
}
.adminuicon-voice29:before {
	content: "\e17e";
}
.adminuicon-voice30:before {
	content: "\e17f";
}
.adminuicon-volume43:before {
	content: "\e180";
}
.adminuicon-volume44:before {
	content: "\e181";
}
.adminuicon-warning34:before {
	content: "\e182";
}
.adminuicon-warning35:before {
	content: "\e183";
}
.adminuicon-weekly18:before {
	content: "\e184";
}
.adminuicon-woman122:before {
	content: "\e185";
}
.adminuicon-word6:before {
	content: "\e186";
}
.adminuicon-wordpress19:before {
	content: "\e187";
}
.adminuicon-wordpress20:before {
	content: "\e188";
}
.adminuicon-wordpress21:before {
	content: "\e189";
}
.adminuicon-wrench72:before {
	content: "\e18a";
}
.adminuicon-write19:before {
	content: "\e18b";
}
.adminuicon-x16:before {
	content: "\e18c";
}
.adminuicon-zipped2:before {
	content: "\e18d";
}
.adminuicon-zoom65:before {
	content: "\e18e";
}
.adminuicon-zoom68:before {
	content: "\e18f";
}
