li a
{
    display: block;
    display: inline-block;
}
.clear
{
    width: 100%;
}
.clear:after
{
    content: '';
    display: block;
    clear: both;
}
.menubg {
    /*background-color: #E9F0F9;*/
    background: url(/Images/menubg.gif) repeat;
    border-bottom: 1px solid #A9B4C8;
    padding:0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 991;
}
#app_menu, #app_menu ul
{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
    z-index: 991;
}

#app_menu li
{
    height: 26px;
    border-bottom: 0px solid #A9B4C8;
    position: relative;
    float: left;
    white-space: nowrap;
}
#app_menu li a
{
    text-decoration: none;
    color: #000;
    padding: 2px 16px 2px 16px;
}

#app_menu ul
{
    top: 30px;
    left: -2px;
    background: #000;
    display: none;
    position: absolute;
    border: 1px solid;
    border-color:#A9B4C8;
}
#app_menu ul li
{
    background: #CFDCEF;
    padding: 2px 0px 2px 0px;
    float: none;
}

#app_menu ul li a
{
    text-decoration: none;
    color: #000;
    margin: 0px 0px 0px -15px;
}
#app_menu ul li a img
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding: 0px 6px 0px 6px;
}


#app_menu ul ul
{
    top: 0px;
    left: 100%;
}

#app_menu li.topLevel
{
    height: 30px;
    border-right: 1px solid #A9B4C8;
    position: relative;
    float: left;
    white-space: nowrap;
    background-image: url('../Images/down.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 10px;
}
#app_menu li.topLevel a
{
    padding: 6px 15px 15px 15px;
}
#app_menu li.has_child
{
    background-color: #CFDCEF;
    background-image: url('../Images/right.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 10px;
}
#app_menu li.hover
{
    background-color: #A9B4C8;
}
#app_menu li.hoverTopLevel
{
    background-color:#A9B4C8;
    border-right: 1px solid #A9B4C8;
    background-image: url('../Images/down.gif');
    background-position: right center;
    background-repeat: no-repeat;
}
#app_menu li.topLevel a:hover
{
    padding: 6px 15px 15px 15px;
}
#app_menu li.hover a
{
    text-decoration: none;
}
#app_menu li.hover ul li a
{
    text-decoration: none;
}
#app_menu li.hover ul li a:visited
{
    text-decoration: none;
}
#app_menu li.hover ul li a:hover
{
    text-decoration: none;
}
#app_menu div.down-div
{
    text-align: center;
    width: 100%;
    border-top: solid 3px #cccccc;
    padding-right: 5px;
    padding-left: 5px;
}
#app_menu li.category
{
    background: #DEC58C;
    border-bottom: 1px solid #FAE8BE;
}
#app_menu li.category a
{
    position: relative;
    padding-left: 40px;
    height: 30px;
    font-weight: bold;
    color: #000000;
}
#app_menu li.menusep_prev
{
    border-bottom: 1px solid #A9B4C8;
}
#app_menu li.menusep_next
{
    border-top: 1px solid #FFF;
}
.drilldown
{
    min-width: 200px;
    float: right;
    z-index: 999999;
}
.drilldown div.dtitle
{
    position: relative;
    white-space: nowrap;
    background-image: url('../Images/down.gif');
    background-position: right center;
    background-repeat: no-repeat;
}
.drilldown div.dtitle a
{
    display: block;
    padding: 6px 25px 6px 6px;
    text-decoration: none;
    color: #000;
}
.drilldown div.dmessage
{
    background-color: #B0DFE5;
    border: solid 1px #0E4D92;
    position: absolute;
    z-index: 9999;
}
    .drilldown div.dmessage div.messagebody {
        background-color: #E9F0F9;
    }
    .drilldown div.dmessage div.actionbody {
        background-color: #2196F3;
        color:#fff;
    }
.drilldown div.dmessage td
{
    color: #000;
    text-align: left;
}
.drilldown div.dmessage a
{
    text-decoration: none;
    color: #000;
}
.drilldown div.dmessage a:hover
{
    text-decoration: underline;
    color: #000;
}
.drilldown div.dmessage img
{
    padding: 1px 1px 1px 1px;
    border: solid 1px #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.drilldown_1
{
    float: left;
    min-width: 200px;
    z-index: 99999;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.drilldown_1 table.dtable
{
    padding: 0px 0px 0px 0px;
}
.drilldown_1 div.dtitle
{
    position: relative;
    height: 22px;
    min-width: 22px;
    border-left-style: none;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    text-align: center;
}
.drilldown_1 div.dtitle:first-child
{
    text-align: left;
    padding-left: 4px;
}
.drilldown_1 td.dtitle a.down
{
    text-decoration: none;
    color: #000;
}
.drilldown_1 td.dtitle a.close
{
    text-decoration: none;
    color: #000;
}
div.ledgerControl
{
    padding:4px 5px 4px 5px;
    position: absolute;
    display:none;
    overflow: auto;
    height: 400px;
    width: 300px;
    border: 1px solid #ccc;
    z-index: 9999;
}
div.ledgerControl td
{
    border-style: none;
    padding: 0px;
    color: #000;
    text-align: left;
}
.menuitem
{
    min-width:250px;
}