/* Core */


html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Grid */

.grid {
  position: relative;
  margin: 20px 0;
  border: 5px solid #ff0000;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  z-index: 1;
}
.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 9999;
}
.item.muuri-dragging {
  cursor: move;
}
.item.muuri-hidden {
  z-index: 0;
}
.item.h2 {
  height: 210px;
  line-height: 210px;
}
.item.w2 {
  width: 210px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-stuff {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  background: #000;
  color: #fff;
  -moz-transform: scale(1) translateZ(0);
  -webkit-transform: scale(1) translateZ(0);
  -o-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, background-color 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}
.item.muuri-dragging .item-stuff {
  background: #ff0000;
  -moz-transform: scale(1.1) translateZ(0);
  -webkit-transform: scale(1.1) translateZ(0);
  -o-transform: scale(1.1) translateZ(0);
  -ms-transform: scale(1.1) translateZ(0);
  transform: scale(1.1) translateZ(0);
}