@font-face {
	font-family: "GlobalUI";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.globaluicon{   
	font-family: GlobalUI;
}.globaluicon-add196:before {
	content: "\e000";
}
.globaluicon-add197:before {
	content: "\e001";
}
.globaluicon-alarm58:before {
	content: "\e002";
}
.globaluicon-arrow643:before {
	content: "\e003";
}
.globaluicon-arrow645:before {
	content: "\e004";
}
.globaluicon-badge9:before {
	content: "\e005";
}
.globaluicon-basket24:before {
	content: "\e006";
}
.globaluicon-battery158:before {
	content: "\e007";
}
.globaluicon-battery160:before {
	content: "\e008";
}
.globaluicon-book212:before {
	content: "\e009";
}
.globaluicon-bookmark50:before {
	content: "\e00a";
}
.globaluicon-briefcase58:before {
	content: "\e00b";
}
.globaluicon-briefcase59:before {
	content: "\e00c";
}
.globaluicon-business187:before {
	content: "\e00d";
}
.globaluicon-calculator72:before {
	content: "\e00e";
}
.globaluicon-calendar168:before {
	content: "\e00f";
}
.globaluicon-calendar169:before {
	content: "\e010";
}
.globaluicon-camera94:before {
	content: "\e011";
}
.globaluicon-chart25:before {
	content: "\e012";
}
.globaluicon-chart26:before {
	content: "\e013";
}
.globaluicon-check57:before {
	content: "\e014";
}
.globaluicon-clothes18:before {
	content: "\e015";
}
.globaluicon-cloud316:before {
	content: "\e016";
}
.globaluicon-coffee116:before {
	content: "\e017";
}
.globaluicon-compact disc1:before {
	content: "\e018";
}
.globaluicon-cpu4:before {
	content: "\e019";
}
.globaluicon-credit card22:before {
	content: "\e01a";
}
.globaluicon-crescent33:before {
	content: "\e01b";
}
.globaluicon-crosshair20:before {
	content: "\e01c";
}
.globaluicon-dart18:before {
	content: "\e01d";
}
.globaluicon-delete99:before {
	content: "\e01e";
}
.globaluicon-diary4:before {
	content: "\e01f";
}
.globaluicon-document176:before {
	content: "\e020";
}
.globaluicon-dollar180:before {
	content: "\e021";
}
.globaluicon-dollar182:before {
	content: "\e022";
}
.globaluicon-dollar183:before {
	content: "\e023";
}
.globaluicon-download171:before {
	content: "\e024";
}
.globaluicon-download173:before {
	content: "\e025";
}
.globaluicon-earth210:before {
	content: "\e026";
}
.globaluicon-envelope49:before {
	content: "\e027";
}
.globaluicon-equals:before {
	content: "\e028";
}
.globaluicon-exclamation31:before {
	content: "\e029";
}
.globaluicon-fence15:before {
	content: "\e02a";
}
.globaluicon-film64:before {
	content: "\e02b";
}
.globaluicon-flag79:before {
	content: "\e02c";
}
.globaluicon-flag80:before {
	content: "\e02d";
}
.globaluicon-flash30:before {
	content: "\e02e";
}
.globaluicon-gamepad7:before {
	content: "\e02f";
}
.globaluicon-glasses26:before {
	content: "\e030";
}
.globaluicon-heart304:before {
	content: "\e031";
}
.globaluicon-home156:before {
	content: "\e032";
}
.globaluicon-hot air :before {
	content: "\e033";
}
.globaluicon-id10:before {
	content: "\e034";
}
.globaluicon-information73:before {
	content: "\e035";
}
.globaluicon-landscape12:before {
	content: "\e036";
}
.globaluicon-laptop123:before {
	content: "\e037";
}
.globaluicon-letter93:before {
	content: "\e038";
}
.globaluicon-location50:before {
	content: "\e039";
}
.globaluicon-magnifying glass6:before {
	content: "\e03a";
}
.globaluicon-maths9:before {
	content: "\e03b";
}
.globaluicon-microphone89:before {
	content: "\e03c";
}
.globaluicon-mouse50:before {
	content: "\e03d";
}
.globaluicon-notebook70:before {
	content: "\e03e";
}
.globaluicon-padlock59:before {
	content: "\e03f";
}
.globaluicon-padlock60:before {
	content: "\e040";
}
.globaluicon-palette7:before {
	content: "\e041";
}
.globaluicon-phone384:before {
	content: "\e042";
}
.globaluicon-photo215:before {
	content: "\e043";
}
.globaluicon-presentation16:before {
	content: "\e044";
}
.globaluicon-price15:before {
	content: "\e045";
}
.globaluicon-price18:before {
	content: "\e046";
}
.globaluicon-printer91:before {
	content: "\e047";
}
.globaluicon-question54:before {
	content: "\e048";
}
.globaluicon-radio53:before {
	content: "\e049";
}
.globaluicon-radio54:before {
	content: "\e04a";
}
.globaluicon-radio box:before {
	content: "\e04b";
}
.globaluicon-rubbish 1:before {
	content: "\e04c";
}
.globaluicon-sailboat10:before {
	content: "\e04d";
}
.globaluicon-settings58:before {
	content: "\e04e";
}
.globaluicon-shopping242:before {
	content: "\e04f";
}
.globaluicon-shut down2:before {
	content: "\e050";
}
.globaluicon-signal49:before {
	content: "\e051";
}
.globaluicon-silhouette78:before {
	content: "\e052";
}
.globaluicon-smartphone28:before {
	content: "\e053";
}
.globaluicon-spanner6:before {
	content: "\e054";
}
.globaluicon-speaker114:before {
	content: "\e055";
}
.globaluicon-speech bubble10:before {
	content: "\e056";
}
.globaluicon-speech bubble12:before {
	content: "\e057";
}
.globaluicon-statistics12:before {
	content: "\e058";
}
.globaluicon-suitcase44:before {
	content: "\e059";
}
.globaluicon-sun95:before {
	content: "\e05a";
}
.globaluicon-television26:before {
	content: "\e05b";
}
.globaluicon-temple10:before {
	content: "\e05c";
}
.globaluicon-torch10:before {
	content: "\e05d";
}
.globaluicon-update6:before {
	content: "\e05e";
}
.globaluicon-upload124:before {
	content: "\e05f";
}
.globaluicon-upload125:before {
	content: "\e060";
}
.globaluicon-webcam9:before {
	content: "\e061";
}
.globaluicon-window62:before {
	content: "\e062";
}
.globaluicon-winking18:before {
	content: "\e063";
}
