@font-face
{
    font-family: "Realicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.realicon
{
    font-family: Realicon;
    font-style: normal;
}
.realicon-ecological19:before
{
    content: "\e000";
}
.realicon-favorite11:before
{
    content: "\e001";
}
.realicon-for4:before
{
    content: "\e002";
}
.realicon-for5:before
{
    content: "\e003";
}
.realicon-home118:before
{
    content: "\e004";
}
.realicon-home119:before
{
    content: "\e005";
}
.realicon-house113:before
{
    content: "\e006";
}
.realicon-house114:before
{
    content: "\e007";
}
.realicon-house115:before
{
    content: "\e008";
}
.realicon-house116:before
{
    content: "\e009";
}
.realicon-percentage6:before
{
    content: "\e00a";
}
.realicon-real4:before
{
    content: "\e00b";
}
.realicon-real5:before
{
    content: "\e00c";
}
.realicon-real6:before
{
    content: "\e00d";
}
.realicon-real7:before
{
    content: "\e00e";
}
.realicon-real8:before
{
    content: "\e00f";
}
.realicon-real9:before
{
    content: "\e010";
}
.realicon-realty:before
{
    content: "\e011";
}
.realicon-sold1:before
{
    content: "\e012";
}
.realicon-thumb38:before
{
    content: "\e013";
}
