@font-face {
    font-family: "bizicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.bizicon {
    font-family: bizicon;
    font-style: normal;
}

.bizicon-archery6:before {
    content: "\e000";
}

.bizicon-avatar25:before {
    content: "\e001";
}

.bizicon-banking11:before {
    content: "\e002";
}

.bizicon-banks2:before {
    content: "\e003";
}

.bizicon-bars graphic4:before {
    content: "\e004";
}

.bizicon-british pound1:before {
    content: "\e005";
}

.bizicon-cellphone109:before {
    content: "\e006";
}

.bizicon-clock245:before {
    content: "\e007";
}

.bizicon-coin stack:before {
    content: "\e008";
}

.bizicon-company1:before {
    content: "\e009";
}

.bizicon-computer chip:before {
    content: "\e00a";
}

.bizicon-country3:before {
    content: "\e00b";
}

.bizicon-credit card11:before {
    content: "\e00c";
}

.bizicon-credit card12:before {
    content: "\e00d";
}

.bizicon-dollars5:before {
    content: "\e00e";
}

.bizicon-dollars6:before {
    content: "\e00f";
}

.bizicon-dollar symbol7:before {
    content: "\e010";
}

.bizicon-earth globe25:before {
    content: "\e011";
}

.bizicon-elegant8:before {
    content: "\e012";
}

.bizicon-finances4:before {
    content: "\e013";
}

.bizicon-flowers46:before {
    content: "\e014";
}

.bizicon-golden1:before {
    content: "\e015";
}

.bizicon-hot drink28:before {
    content: "\e016";
}

.bizicon-hourglass6:before {
    content: "\e017";
}

.bizicon-identification31:before {
    content: "\e018";
}

.bizicon-judge:before {
    content: "\e019";
}

.bizicon-light bulbs10:before {
    content: "\e01a";
}

.bizicon-magnifying glass72:before {
    content: "\e01b";
}

.bizicon-map pointer14:before {
    content: "\e01c";
}

.bizicon-money390:before {
    content: "\e01d";
}

.bizicon-money391:before {
    content: "\e01e";
}

.bizicon-money392:before {
    content: "\e01f";
}

.bizicon-money393:before {
    content: "\e020";
}

.bizicon-money398:before {
    content: "\e021";
}

.bizicon-money card5:before {
    content: "\e022";
}

.bizicon-money card6:before {
    content: "\e023";
}

.bizicon-safe box5:before {
    content: "\e024";
}

.bizicon-shield141:before {
    content: "\e025";
}

.bizicon-social network178:before {
    content: "\e026";
}

.bizicon-social network185:before {
    content: "\e027";
}

.bizicon-speech bubbles3:before {
    content: "\e028";
}

.bizicon-stats57:before {
    content: "\e029";
}

.bizicon-stats58:before {
    content: "\e02a";
}

.bizicon-stats59:before {
    content: "\e02b";
}

.bizicon-stats62:before {
    content: "\e02c";
}

.bizicon-transport311:before {
    content: "\e02d";
}

.bizicon-up-arrows17:before {
    content: "\e02e";
}

.bizicon-users223:before {
    content: "\e02f";
}

.bizicon-wallet5:before {
    content: "\e030";
}
