@font-face {
    font-family: "Finicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.finicon {
    font-family: Finicon;
    font-style: normal;
}

.finicon-balance10:before {
    content: "\e000";
}

.finicon-bank20:before {
    content: "\e001";
}

.finicon-calculator74:before {
    content: "\e002";
}

.finicon-coins36:before {
    content: "\e003";
}

.finicon-coins37:before {
    content: "\e004";
}

.finicon-currency:before {
    content: "\e005";
}

.finicon-dart board1:before {
    content: "\e006";
}

.finicon-dollar5:before {
    content: "\e007";
}

.finicon-earth-globe5:before {
    content: "\e008";
}

.finicon-finances2:before {
    content: "\e009";
}

.finicon-financial4:before {
    content: "\e00a";
}

.finicon-hammer59:before {
    content: "\e00b";
}

.finicon-magnifying-glass39:before {
    content: "\e00c";
}

.finicon-money178:before {
    content: "\e00d";
}

.finicon-money-bag5:before {
    content: "\e00e";
}

.finicon-pie-chart1:before {
    content: "\e00f";
}

.finicon-safe-box:before {
    content: "\e010";
}

.finicon-shield118:before {
    content: "\e011";
}

.finicon-suitcase3:before {
    content: "\e012";
}

.finicon-wallet38:before {
    content: "\e013";
}
