@font-face {
	font-family: "BuildIcon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.buildicon {   
	font-family: BuildIcon;
}.buildicon-adjusting:before {
	content: "\e000";
}
.buildicon-architecture1:before {
	content: "\e001";
}
.buildicon-architecture:before {
	content: "\e002";
}
.buildicon-attention1:before {
	content: "\e003";
}
.buildicon-ax2:before {
	content: "\e004";
}
.buildicon-barrow:before {
	content: "\e005";
}
.buildicon-brick3:before {
	content: "\e006";
}
.buildicon-bricks3:before {
	content: "\e007";
}
.buildicon-bricks4:before {
	content: "\e008";
}
.buildicon-brush20:before {
	content: "\e009";
}
.buildicon-construction10:before {
	content: "\e00a";
}
.buildicon-construction11:before {
	content: "\e00b";
}
.buildicon-construction12:before {
	content: "\e00c";
}
.buildicon-construction8:before {
	content: "\e00d";
}
.buildicon-construction9:before {
	content: "\e00e";
}
.buildicon-constructor2:before {
	content: "\e00f";
}
.buildicon-constructor3:before {
	content: "\e010";
}
.buildicon-constructor4:before {
	content: "\e011";
}
.buildicon-constructor5:before {
	content: "\e012";
}
.buildicon-crane8:before {
	content: "\e013";
}
.buildicon-crane9:before {
	content: "\e014";
}
.buildicon-demolition:before {
	content: "\e015";
}
.buildicon-drawing7:before {
	content: "\e016";
}
.buildicon-drawing8:before {
	content: "\e017";
}
.buildicon-drill6:before {
	content: "\e018";
}
.buildicon-drill7:before {
	content: "\e019";
}
.buildicon-electrical9:before {
	content: "\e01a";
}
.buildicon-exclamation19:before {
	content: "\e01b";
}
.buildicon-factory11:before {
	content: "\e01c";
}
.buildicon-folded30:before {
	content: "\e01d";
}
.buildicon-gear27:before {
	content: "\e01e";
}
.buildicon-hammer40:before {
	content: "\e01f";
}
.buildicon-hammer41:before {
	content: "\e020";
}
.buildicon-hammer42:before {
	content: "\e021";
}
.buildicon-hand121:before {
	content: "\e022";
}
.buildicon-hand122:before {
	content: "\e023";
}
.buildicon-hand123:before {
	content: "\e024";
}
.buildicon-hand125:before {
	content: "\e025";
}
.buildicon-hand126:before {
	content: "\e026";
}
.buildicon-hexagonal5:before {
	content: "\e027";
}
.buildicon-hook3:before {
	content: "\e028";
}
.buildicon-machine10:before {
	content: "\e029";
}
.buildicon-nut:before {
	content: "\e02a";
}
.buildicon-pail:before {
	content: "\e02b";
}
.buildicon-paint54:before {
	content: "\e02c";
}
.buildicon-paint55:before {
	content: "\e02d";
}
.buildicon-painting34:before {
	content: "\e02e";
}
.buildicon-painting35:before {
	content: "\e02f";
}
.buildicon-pipes:before {
	content: "\e030";
}
.buildicon-roof1:before {
	content: "\e031";
}
.buildicon-rounded45:before {
	content: "\e032";
}
.buildicon-saw8:before {
	content: "\e033";
}
.buildicon-sawing:before {
	content: "\e034";
}
.buildicon-screw7:before {
	content: "\e035";
}
.buildicon-screwdriver18:before {
	content: "\e036";
}
.buildicon-shovel3:before {
	content: "\e037";
}
.buildicon-shovel4:before {
	content: "\e038";
}
.buildicon-smog:before {
	content: "\e039";
}
.buildicon-stair1:before {
	content: "\e03a";
}
.buildicon-street12:before {
	content: "\e03b";
}
.buildicon-street7:before {
	content: "\e03c";
}
.buildicon-traffic14:before {
	content: "\e03d";
}
.buildicon-transport6:before {
	content: "\e03e";
}
.buildicon-triangular45:before {
	content: "\e03f";
}
.buildicon-triangular46:before {
	content: "\e040";
}
.buildicon-truck27:before {
	content: "\e041";
}
.buildicon-truck28:before {
	content: "\e042";
}
.buildicon-truck29:before {
	content: "\e043";
}
.buildicon-two193:before {
	content: "\e044";
}
.buildicon-two195:before {
	content: "\e045";
}
.buildicon-wall20:before {
	content: "\e046";
}
.buildicon-wheelbarrow2:before {
	content: "\e047";
}
.buildicon-wheelbarrow3:before {
	content: "\e048";
}
.buildicon-worker5:before {
	content: "\e049";
}
.buildicon-wrench57:before {
	content: "\e04a";
}
.buildicon-wrench58:before {
	content: "\e04b";
}
.buildicon-wrench59:before {
	content: "\e04c";
}
.buildicon-wrench60:before {
	content: "\e04d";
}
