@font-face
{
    font-family: "WebUI";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*[class^="webui-"]:before, [class*=" webui-"]:before, [class^="webui-"]:after, [class*=" webui-"]:after
{
    font-family: webui;
    font-style: normal;
    font-size:16pt;
}*/
.webui_font
{
    font-family: webui;
    font-style: normal;
}
.webui
{
    font-family: webui;
    font-style: normal;
    font-size:16pt;
}
.webui_large
{
    font-family: webui;
    font-style: normal;
    font-size:46pt;
}
.webui-add188:before
{
    content: "\e000";
}
.webui-address20:before
{
    content: "\e001";
}
.webui-alarm51:before
{
    content: "\e002";
}
.webui-award48:before
{
    content: "\e003";
}
.webui-award49:before
{
    content: "\e004";
}
.webui-award50:before
{
    content: "\e005";
}
.webui-award51:before
{
    content: "\e006";
}
.webui-baguette:before
{
    content: "\e007";
}
.webui-basic10:before
{
    content: "\e008";
}
.webui-basic12:before
{
    content: "\e009";
}
.webui-basic13:before
{
    content: "\e00a";
}
.webui-basic3:before
{
    content: "\e00b";
}
.webui-basic4:before
{
    content: "\e00c";
}
.webui-basic5:before
{
    content: "\e00d";
}
.webui-basic6:before
{
    content: "\e00e";
}
.webui-basic7:before
{
    content: "\e00f";
}
.webui-basic8:before
{
    content: "\e010";
}
.webui-basic9:before
{
    content: "\e011";
}
.webui-battery150:before
{
    content: "\e012";
}
.webui-bicycle18:before
{
    content: "\e013";
}
.webui-big107:before
{
    content: "\e014";
}
.webui-big108:before
{
    content: "\e015";
}
.webui-bitten3:before
{
    content: "\e016";
}
.webui-blank35:before
{
    content: "\e017";
}
.webui-blank36:before
{
    content: "\e018";
}
.webui-blank37:before
{
    content: "\e019";
}
.webui-boot3:before
{
    content: "\e01a";
}
.webui-briefcase52:before
{
    content: "\e01b";
}
.webui-broken46:before
{
    content: "\e01c";
}
.webui-calendar160:before
{
    content: "\e01d";
}
.webui-camera82:before
{
    content: "\e01e";
}
.webui-cell13:before
{
    content: "\e01f";
}
.webui-champagne5:before
{
    content: "\e020";
}
.webui-charged1:before
{
    content: "\e021";
}
.webui-check54:before
{
    content: "\e022";
}
.webui-check55:before
{
    content: "\e023";
}
.webui-chef29:before
{
    content: "\e024";
}
.webui-cocktail30:before
{
    content: "\e025";
}
.webui-coffee68:before
{
    content: "\e026";
}
.webui-connection22:before
{
    content: "\e027";
}
.webui-credit103:before
{
    content: "\e028";
}
.webui-crop16:before
{
    content: "\e029";
}
.webui-cross101:before
{
    content: "\e02a";
}
.webui-delete84:before
{
    content: "\e02b";
}
.webui-digital23:before
{
    content: "\e02c";
}
.webui-download167:before
{
    content: "\e02d";
}
.webui-drawing14:before
{
    content: "\e02e";
}
.webui-earth206:before
{
    content: "\e02f";
}
.webui-earth207:before
{
    content: "\e030";
}
.webui-edit46:before
{
    content: "\e031";
}
.webui-eighth2:before
{
    content: "\e032";
}
.webui-electric55:before
{
    content: "\e033";
}
.webui-electric56:before
{
    content: "\e034";
}
.webui-email108:before
{
    content: "\e035";
}
.webui-empty39:before
{
    content: "\e036";
}
.webui-exit15:before
{
    content: "\e037";
}
.webui-exit16:before
{
    content: "\e038";
}
.webui-expand40:before
{
    content: "\e039";
}
.webui-expand41:before
{
    content: "\e03a";
}
.webui-extract1:before
{
    content: "\e03b";
}
.webui-eye105:before
{
    content: "\e03c";
}
.webui-fast47:before
{
    content: "\e03d";
}
.webui-female239:before
{
    content: "\e03e";
}
.webui-file97:before
{
    content: "\e03f";
}
.webui-flashlight7:before
{
    content: "\e040";
}
.webui-floppy20:before
{
    content: "\e041";
}
.webui-folded33:before
{
    content: "\e042";
}
.webui-folding2:before
{
    content: "\e043";
}
.webui-fried6:before
{
    content: "\e044";
}
.webui-front20:before
{
    content: "\e045";
}
.webui-front21:before
{
    content: "\e046";
}
.webui-gamepad5:before
{
    content: "\e047";
}
.webui-halffilled2:before
{
    content: "\e048";
}
.webui-halloween319:before
{
    content: "\e049";
}
.webui-hammer55:before
{
    content: "\e04a";
}
.webui-hanging16:before
{
    content: "\e04b";
}
.webui-happy52:before
{
    content: "\e04c";
}
.webui-headset13:before
{
    content: "\e04d";
}
.webui-heart296:before
{
    content: "\e04e";
}
.webui-high23:before
{
    content: "\e04f";
}
.webui-home151:before
{
    content: "\e050";
}
.webui-home152:before
{
    content: "\e051";
}
.webui-imac3:before
{
    content: "\e052";
}
.webui-keyring:before
{
    content: "\e053";
}
.webui-kitchen77:before
{
    content: "\e054";
}
.webui-landscape11:before
{
    content: "\e055";
}
.webui-left220:before
{
    content: "\e056";
}
.webui-left221:before
{
    content: "\e057";
}
.webui-left222:before
{
    content: "\e058";
}
.webui-left223:before
{
    content: "\e059";
}
.webui-lemon9:before
{
    content: "\e05a";
}
.webui-letter92:before
{
    content: "\e05b";
}
.webui-lightning22:before
{
    content: "\e05c";
}
.webui-link62:before
{
    content: "\e05d";
}
.webui-list91:before
{
    content: "\e05e";
}
.webui-list92:before
{
    content: "\e05f";
}
.webui-location42:before
{
    content: "\e060";
}
.webui-location43:before
{
    content: "\e061";
}
.webui-locked60:before
{
    content: "\e062";
}
.webui-loop10:before
{
    content: "\e063";
}
.webui-magic21:before
{
    content: "\e064";
}
.webui-magnifying55:before
{
    content: "\e065";
}
.webui-male241:before
{
    content: "\e066";
}
.webui-man461:before
{
    content: "\e067";
}
.webui-megaphone14:before
{
    content: "\e068";
}
.webui-movie42:before
{
    content: "\e069";
}
.webui-music236:before
{
    content: "\e06a";
}
.webui-musical117:before
{
    content: "\e06b";
}
.webui-new106:before
{
    content: "\e06c";
}
.webui-open209:before
{
    content: "\e06d";
}
.webui-open210:before
{
    content: "\e06e";
}
.webui-open211:before
{
    content: "\e06f";
}
.webui-pac1:before
{
    content: "\e070";
}
.webui-paint71:before
{
    content: "\e071";
}
.webui-paper135:before
{
    content: "\e072";
}
.webui-pause45:before
{
    content: "\e073";
}
.webui-pitcher9:before
{
    content: "\e074";
}
.webui-pizza16:before
{
    content: "\e075";
}
.webui-play110:before
{
    content: "\e076";
}
.webui-previous15:before
{
    content: "\e077";
}
.webui-price12:before
{
    content: "\e078";
}
.webui-print44:before
{
    content: "\e079";
}
.webui-prohibition23:before
{
    content: "\e07a";
}
.webui-put:before
{
    content: "\e07b";
}
.webui-quotation3:before
{
    content: "\e07c";
}
.webui-radio52:before
{
    content: "\e07d";
}
.webui-raining3:before
{
    content: "\e07e";
}
.webui-record10:before
{
    content: "\e07f";
}
.webui-refresh58:before
{
    content: "\e080";
}
.webui-refresh59:before
{
    content: "\e081";
}
.webui-refresh60:before
{
    content: "\e082";
}
.webui-refresh61:before
{
    content: "\e083";
}
.webui-return11:before
{
    content: "\e084";
}
.webui-right246:before
{
    content: "\e085";
}
.webui-road40:before
{
    content: "\e086";
}
.webui-rocket73:before
{
    content: "\e087";
}
.webui-round66:before
{
    content: "\e088";
}
.webui-round67:before
{
    content: "\e089";
}
.webui-round68:before
{
    content: "\e08a";
}
.webui-round69:before
{
    content: "\e08b";
}
.webui-round70:before
{
    content: "\e08c";
}
.webui-round71:before
{
    content: "\e08d";
}
.webui-round72:before
{
    content: "\e08e";
}
.webui-round73:before
{
    content: "\e08f";
}
.webui-round74:before
{
    content: "\e090";
}
.webui-round76:before
{
    content: "\e091";
}
.webui-rounded61:before
{
    content: "\e092";
}
.webui-rounded62:before
{
    content: "\e093";
}
.webui-sad65:before
{
    content: "\e094";
}
.webui-settings51:before
{
    content: "\e095";
}
.webui-share41:before
{
    content: "\e096";
}
.webui-shining4:before
{
    content: "\e097";
}
.webui-shopping238:before
{
    content: "\e098";
}
.webui-shuffle25:before
{
    content: "\e099";
}
.webui-slide5:before
{
    content: "\e09a";
}
.webui-small178:before
{
    content: "\e09b";
}
.webui-smartphone23:before
{
    content: "\e09c";
}
.webui-spanner4:before
{
    content: "\e09d";
}
.webui-speech117:before
{
    content: "\e09e";
}
.webui-speech118:before
{
    content: "\e09f";
}
.webui-speech119:before
{
    content: "\e0a0";
}
.webui-speech120:before
{
    content: "\e0a1";
}
.webui-sport20:before
{
    content: "\e0a2";
}
.webui-sprig:before
{
    content: "\e0a3";
}
.webui-statistical:before
{
    content: "\e0a4";
}
.webui-stickingplaster:before
{
    content: "\e0a5";
}
.webui-subwoofer:before
{
    content: "\e0a6";
}
.webui-switch31:before
{
    content: "\e0a7";
}
.webui-tablet96:before
{
    content: "\e0a8";
}
.webui-tack1:before
{
    content: "\e0a9";
}
.webui-tack2:before
{
    content: "\e0aa";
}
.webui-telephone106:before
{
    content: "\e0ab";
}
.webui-text150:before
{
    content: "\e0ac";
}
.webui-thermometer54:before
{
    content: "\e0ad";
}
.webui-tick8:before
{
    content: "\e0ae";
}
.webui-top9:before
{
    content: "\e0af";
}
.webui-transgender:before
{
    content: "\e0b0";
}
.webui-tree109:before
{
    content: "\e0b1";
}
.webui-truck56:before
{
    content: "\e0b2";
}
.webui-two396:before
{
    content: "\e0b3";
}
.webui-unfolded1:before
{
    content: "\e0b4";
}
.webui-unfolded2:before
{
    content: "\e0b5";
}
.webui-unlocked45:before
{
    content: "\e0b6";
}
.webui-up178:before
{
    content: "\e0b7";
}
.webui-upload121:before
{
    content: "\e0b8";
}
.webui-user159:before
{
    content: "\e0b9";
}
.webui-voice34:before
{
    content: "\e0ba";
}
.webui-volume52:before
{
    content: "\e0bb";
}
.webui-volume53:before
{
    content: "\e0bc";
}
.webui-wall24:before
{
    content: "\e0bd";
}
.webui-warning38:before
{
    content: "\e0be";
}
.webui-web38:before
{
    content: "\e0bf";
}
.webui-web39:before
{
    content: "\e0c0";
}
.webui-white86:before
{
    content: "\e0c1";
}
.webui-widescreen8:before
{
    content: "\e0c2";
}
.webui-wifi84:before
{
    content: "\e0c3";
}
.webui-wine60:before
{
    content: "\e0c4";
}
.webui-wine61:before
{
    content: "\e0c5";
}
.webui-ying1:before
{
    content: "\e0c6";
}
