@font-face
{
    font-family: "Eleganticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="eleganticon-"]:before, [class*=" eleganticon-"]:before, [class^="eleganticon-"]:after, [class*=" eleganticon-"]:after
{
    font-family: Eleganticon;
    font-style: normal;
    font-size:16pt;
}
.eleganticon-3x3-grid:before {
	content: "\e001";
}
.eleganticon-access-denied:before {
	content: "\e002";
}
.eleganticon-add-circular-mini-button:before {
	content: "\e003";
}
.eleganticon-add-folder-silhouette:before {
	content: "\e004";
}
.eleganticon-archive-box:before {
	content: "\e005";
}
.eleganticon-arrow-in-circle-point-to-up:before {
	content: "\e006";
}
.eleganticon-arrow-left-and-right:before {
	content: "\e007";
}
.eleganticon-arrow-left-in-circle:before {
	content: "\e008";
}
.eleganticon-arrow-pointing-to-up:before {
	content: "\e009";
}
.eleganticon-arrow-right-circle:before {
	content: "\e00a";
}
.eleganticon-arrow-right-down:before {
	content: "\e00b";
}
.eleganticon-arrow-up-1:before {
	content: "\e00c";
}
.eleganticon-arrow-up:before {
	content: "\e00d";
}
.eleganticon-arrows-inside-a-circle-pointing-up:before {
	content: "\e00e";
}
.eleganticon-arrows-pointing-down:before {
	content: "\e00f";
}
.eleganticon-atomic-symbol-outline:before {
	content: "\e010";
}
.eleganticon-attention-sign-outline:before {
	content: "\e011";
}
.eleganticon-back-arrow-button:before {
	content: "\e012";
}
.eleganticon-backward-arrow-1:before {
	content: "\e013";
}
.eleganticon-backward-arrow:before {
	content: "\e014";
}
.eleganticon-basket-ball-dribbble-logo:before {
	content: "\e015";
}
.eleganticon-black-arrow:before {
	content: "\e016";
}
.eleganticon-black-cart:before {
	content: "\e017";
}
.eleganticon-black-gallon:before {
	content: "\e018";
}
.eleganticon-blogger-botton:before {
	content: "\e019";
}
.eleganticon-blogger-logo-silhouette:before {
	content: "\e01a";
}
.eleganticon-blogger-logo:before {
	content: "\e01b";
}
.eleganticon-boat-lifesaver:before {
	content: "\e01c";
}
.eleganticon-bolt-silhouette:before {
	content: "\e01d";
}
.eleganticon-book-information:before {
	content: "\e01e";
}
.eleganticon-box-outline:before {
	content: "\e01f";
}
.eleganticon-calendar:before {
	content: "\e020";
}
.eleganticon-caution-sign:before {
	content: "\e021";
}
.eleganticon-chat-conversation:before {
	content: "\e022";
}
.eleganticon-check-button:before {
	content: "\e023";
}
.eleganticon-check-sign-1:before {
	content: "\e024";
}
.eleganticon-check-sign:before {
	content: "\e025";
}
.eleganticon-checked-box:before {
	content: "\e026";
}
.eleganticon-circle-with-a-down-arrow:before {
	content: "\e027";
}
.eleganticon-circle:before {
	content: "\e028";
}
.eleganticon-circular-clock:before {
	content: "\e029";
}
.eleganticon-circular-light-bulb:before {
	content: "\e02a";
}
.eleganticon-circular-menu-button:before {
	content: "\e02b";
}
.eleganticon-circular-pie-chart:before {
	content: "\e02c";
}
.eleganticon-close-button-1:before {
	content: "\e02d";
}
.eleganticon-close-button:before {
	content: "\e02e";
}
.eleganticon-closed-lock:before {
	content: "\e02f";
}
.eleganticon-cloud-arrow-donwload:before {
	content: "\e030";
}
.eleganticon-compass-east:before {
	content: "\e031";
}
.eleganticon-computer-mouse-cursor:before {
	content: "\e032";
}
.eleganticon-computer-screen:before {
	content: "\e033";
}
.eleganticon-condense-button-arrows-in-a-square:before {
	content: "\e034";
}
.eleganticon-condensing-arrows:before {
	content: "\e035";
}
.eleganticon-contacts-agenda:before {
	content: "\e036";
}
.eleganticon-dark-black-lightbulb:before {
	content: "\e037";
}
.eleganticon-delicious-logo-button:before {
	content: "\e038";
}
.eleganticon-delicious-logo-in-a-circle:before {
	content: "\e039";
}
.eleganticon-delicious-social-button:before {
	content: "\e03a";
}
.eleganticon-deviantart-logo-square:before {
	content: "\e03b";
}
.eleganticon-deviantart-logo:before {
	content: "\e03c";
}
.eleganticon-deviantart-social-buttton:before {
	content: "\e03d";
}
.eleganticon-document-page-with-text-lines:before {
	content: "\e03e";
}
.eleganticon-documents-button:before {
	content: "\e03f";
}
.eleganticon-double-arrow-left:before {
	content: "\e040";
}
.eleganticon-double-chat:before {
	content: "\e041";
}
.eleganticon-down-arrow-1:before {
	content: "\e042";
}
.eleganticon-down-arrow-button:before {
	content: "\e043";
}
.eleganticon-down-arrow-directional:before {
	content: "\e044";
}
.eleganticon-down-arrow-in-small-circle:before {
	content: "\e045";
}
.eleganticon-down-arrow-outline-1:before {
	content: "\e046";
}
.eleganticon-down-arrow-outline:before {
	content: "\e047";
}
.eleganticon-down-arrow:before {
	content: "\e048";
}
.eleganticon-download-archive-tray:before {
	content: "\e049";
}
.eleganticon-download-folder:before {
	content: "\e04a";
}
.eleganticon-download-from-the-cloud:before {
	content: "\e04b";
}
.eleganticon-downloading-drawer:before {
	content: "\e04c";
}
.eleganticon-dribble-logo-1:before {
	content: "\e04d";
}
.eleganticon-dribble-logo:before {
	content: "\e04e";
}
.eleganticon-earphones:before {
	content: "\e04f";
}
.eleganticon-edition-box:before {
	content: "\e050";
}
.eleganticon-edition-pencil:before {
	content: "\e051";
}
.eleganticon-email-envelope:before {
	content: "\e052";
}
.eleganticon-error-advice-sign:before {
	content: "\e053";
}
.eleganticon-error-advise:before {
	content: "\e054";
}
.eleganticon-error-triangle:before {
	content: "\e055";
}
.eleganticon-exclamation-button:before {
	content: "\e056";
}
.eleganticon-expand-arrows:before {
	content: "\e057";
}
.eleganticon-expand-interface:before {
	content: "\e058";
}
.eleganticon-expand:before {
	content: "\e059";
}
.eleganticon-extent-option-arrows:before {
	content: "\e05a";
}
.eleganticon-facebook-logo-button:before {
	content: "\e05b";
}
.eleganticon-facebook-logotype-button:before {
	content: "\e05c";
}
.eleganticon-facebook-social-symbol:before {
	content: "\e05d";
}
.eleganticon-fast-forward-button-1:before {
	content: "\e05e";
}
.eleganticon-fast-forward-button-outline:before {
	content: "\e05f";
}
.eleganticon-fast-forward-button:before {
	content: "\e060";
}
.eleganticon-film-strip-silhouette:before {
	content: "\e061";
}
.eleganticon-flickr-circle-logo:before {
	content: "\e062";
}
.eleganticon-flickr:before {
	content: "\e063";
}
.eleganticon-folded-map:before {
	content: "\e064";
}
.eleganticon-four-squares:before {
	content: "\e065";
}
.eleganticon-gear-settings:before {
	content: "\e066";
}
.eleganticon-gift-box:before {
	content: "\e067";
}
.eleganticon-gift:before {
	content: "\e068";
}
.eleganticon-go-back-arrow:before {
	content: "\e069";
}
.eleganticon-go-to-back-track-button:before {
	content: "\e06a";
}
.eleganticon-google-drive-logo-1:before {
	content: "\e06b";
}
.eleganticon-google-drive-logo:before {
	content: "\e06c";
}
.eleganticon-google-plus-symbol:before {
	content: "\e06d";
}
.eleganticon-googleplus-logo:before {
	content: "\e06e";
}
.eleganticon-half-black-and-half-white-star-shape:before {
	content: "\e06f";
}
.eleganticon-half-star:before {
	content: "\e070";
}
.eleganticon-hard-cover-book:before {
	content: "\e071";
}
.eleganticon-high-volume-outline:before {
	content: "\e072";
}
.eleganticon-high-volume:before {
	content: "\e073";
}
.eleganticon-home-interface:before {
	content: "\e074";
}
.eleganticon-house-outline:before {
	content: "\e075";
}
.eleganticon-inbox:before {
	content: "\e076";
}
.eleganticon-information-button:before {
	content: "\e077";
}
.eleganticon-instagram-logo:before {
	content: "\e078";
}
.eleganticon-key-outline:before {
	content: "\e079";
}
.eleganticon-laptop-silhouette:before {
	content: "\e07a";
}
.eleganticon-left-arrow:before {
	content: "\e07b";
}
.eleganticon-left-up-arrow-in-a-circle:before {
	content: "\e07c";
}
.eleganticon-levels-adjust:before {
	content: "\e07d";
}
.eleganticon-levels-adjustment:before {
	content: "\e07e";
}
.eleganticon-line-button:before {
	content: "\e07f";
}
.eleganticon-link-chain:before {
	content: "\e080";
}
.eleganticon-linkedin-button:before {
	content: "\e081";
}
.eleganticon-linkedin-logotype-button:before {
	content: "\e082";
}
.eleganticon-linkedin:before {
	content: "\e083";
}
.eleganticon-links:before {
	content: "\e084";
}
.eleganticon-list-button:before {
	content: "\e085";
}
.eleganticon-list:before {
	content: "\e086";
}
.eleganticon-little-black-folder:before {
	content: "\e087";
}
.eleganticon-little-black-star:before {
	content: "\e088";
}
.eleganticon-little-circular-button-with-up-arrow-triangle:before {
	content: "\e089";
}
.eleganticon-little-down-triangular-arrow:before {
	content: "\e08a";
}
.eleganticon-little-envelope:before {
	content: "\e08b";
}
.eleganticon-little-folder:before {
	content: "\e08c";
}
.eleganticon-little-mobile:before {
	content: "\e08d";
}
.eleganticon-little-pushpin:before {
	content: "\e08e";
}
.eleganticon-little-table-grid:before {
	content: "\e08f";
}
.eleganticon-little-thin-expand-arrows:before {
	content: "\e090";
}
.eleganticon-little-thin-left-arrow:before {
	content: "\e091";
}
.eleganticon-little-toolbox:before {
	content: "\e092";
}
.eleganticon-loud-shape:before {
	content: "\e093";
}
.eleganticon-lovers-heart:before {
	content: "\e094";
}
.eleganticon-loving-heart-shape:before {
	content: "\e095";
}
.eleganticon-low-volume-1:before {
	content: "\e096";
}
.eleganticon-low-volume:before {
	content: "\e097";
}
.eleganticon-magnifying-glass-searcher:before {
	content: "\e098";
}
.eleganticon-magnifying-glass-zoom-in:before {
	content: "\e099";
}
.eleganticon-magnifying-glass-zoom-out:before {
	content: "\e09a";
}
.eleganticon-map-pin-silhouette:before {
	content: "\e09b";
}
.eleganticon-mathematical-addition-sign:before {
	content: "\e09c";
}
.eleganticon-menu-button:before {
	content: "\e09d";
}
.eleganticon-menu-lines:before {
	content: "\e09e";
}
.eleganticon-menu-square-button:before {
	content: "\e09f";
}
.eleganticon-menu-square:before {
	content: "\e0a0";
}
.eleganticon-microphone-outline:before {
	content: "\e0a1";
}
.eleganticon-mini-creditcard:before {
	content: "\e0a2";
}
.eleganticon-minus-button:before {
	content: "\e0a3";
}
.eleganticon-minus-key:before {
	content: "\e0a4";
}
.eleganticon-minus-symbol:before {
	content: "\e0a5";
}
.eleganticon-move-arrows:before {
	content: "\e0a6";
}
.eleganticon-msn-user-profile:before {
	content: "\e0a7";
}
.eleganticon-multimedia-down-arrow:before {
	content: "\e0a8";
}
.eleganticon-multimedia-play-key:before {
	content: "\e0a9";
}
.eleganticon-mute-volume-interface-symbol:before {
	content: "\e0aa";
}
.eleganticon-mute-volume:before {
	content: "\e0ab";
}
.eleganticon-myspace-logo-1:before {
	content: "\e0ac";
}
.eleganticon-myspace-logo-silhouette:before {
	content: "\e0ad";
}
.eleganticon-myspace-logo:before {
	content: "\e0ae";
}
.eleganticon-new-add-folder:before {
	content: "\e0af";
}
.eleganticon-north-south-pointing-arrows:before {
	content: "\e0b0";
}
.eleganticon-old-camera:before {
	content: "\e0b1";
}
.eleganticon-open-folder:before {
	content: "\e0b2";
}
.eleganticon-open-lock:before {
	content: "\e0b3";
}
.eleganticon-padlock:before {
	content: "\e0b4";
}
.eleganticon-paper-bin:before {
	content: "\e0b5";
}
.eleganticon-paperclip-document-outline:before {
	content: "\e0b6";
}
.eleganticon-pause-button-1:before {
	content: "\e0b7";
}
.eleganticon-pause-button-outline:before {
	content: "\e0b8";
}
.eleganticon-pause-button:before {
	content: "\e0b9";
}
.eleganticon-pencil-edit-square:before {
	content: "\e0ba";
}
.eleganticon-pencil:before {
	content: "\e0bb";
}
.eleganticon-picasa-logo-1:before {
	content: "\e0bc";
}
.eleganticon-picasa-logo:before {
	content: "\e0bd";
}
.eleganticon-picassa-symbol:before {
	content: "\e0be";
}
.eleganticon-pinterest-logo-button:before {
	content: "\e0bf";
}
.eleganticon-pinterest-logo:before {
	content: "\e0c0";
}
.eleganticon-pinterest:before {
	content: "\e0c1";
}
.eleganticon-play-button-silhouette-1:before {
	content: "\e0c2";
}
.eleganticon-play-button-silhouette:before {
	content: "\e0c3";
}
.eleganticon-play-button:before {
	content: "\e0c4";
}
.eleganticon-plus-button-1:before {
	content: "\e0c5";
}
.eleganticon-plus-button:before {
	content: "\e0c6";
}
.eleganticon-previous-tracl:before {
	content: "\e0c7";
}
.eleganticon-price-tag:before {
	content: "\e0c8";
}
.eleganticon-prior-track:before {
	content: "\e0c9";
}
.eleganticon-prohibited:before {
	content: "\e0ca";
}
.eleganticon-push-pin-pointing-down:before {
	content: "\e0cb";
}
.eleganticon-question-mark-button:before {
	content: "\e0cc";
}
.eleganticon-quotations-button-1:before {
	content: "\e0cd";
}
.eleganticon-quotations-button:before {
	content: "\e0ce";
}
.eleganticon-quotations:before {
	content: "\e0cf";
}
.eleganticon-refresh-circular-arrow:before {
	content: "\e0d0";
}
.eleganticon-rewind-button:before {
	content: "\e0d1";
}
.eleganticon-right-arrow-button:before {
	content: "\e0d2";
}
.eleganticon-right-chevron:before {
	content: "\e0d3";
}
.eleganticon-road-cone-silhoette:before {
	content: "\e0d4";
}
.eleganticon-road-map:before {
	content: "\e0d5";
}
.eleganticon-rss:before {
	content: "\e0d6";
}
.eleganticon-screwdriver-and-wrench-crossed:before {
	content: "\e0d7";
}
.eleganticon-selected-box:before {
	content: "\e0d8";
}
.eleganticon-share-button:before {
	content: "\e0d9";
}
.eleganticon-share-circle:before {
	content: "\e0da";
}
.eleganticon-shopping-paper-bag:before {
	content: "\e0db";
}
.eleganticon-shopping-store-price-tag:before {
	content: "\e0dc";
}
.eleganticon-single-folder:before {
	content: "\e0dd";
}
.eleganticon-skype-logo-square:before {
	content: "\e0de";
}
.eleganticon-skype-logo:before {
	content: "\e0df";
}
.eleganticon-small-ascending-thin-arrow:before {
	content: "\e0e0";
}
.eleganticon-small-black-cloud:before {
	content: "\e0e1";
}
.eleganticon-small-black-key:before {
	content: "\e0e2";
}
.eleganticon-small-circular-compass:before {
	content: "\e0e3";
}
.eleganticon-small-circular-dark-button-with-down-thinny-arrow:before {
	content: "\e0e4";
}
.eleganticon-small-cloud-upload-symbol:before {
	content: "\e0e5";
}
.eleganticon-small-document-button:before {
	content: "\e0e6";
}
.eleganticon-small-google-drive-social-button:before {
	content: "\e0e7";
}
.eleganticon-small-pin-shape:before {
	content: "\e0e8";
}
.eleganticon-small-ribbon:before {
	content: "\e0e9";
}
.eleganticon-small-up-arrows-in-a-circle:before {
	content: "\e0ea";
}
.eleganticon-small-upload-button-with-an-arrow:before {
	content: "\e0eb";
}
.eleganticon-social-buttons-skype:before {
	content: "\e0ec";
}
.eleganticon-social-google-plus-square-button:before {
	content: "\e0ed";
}
.eleganticon-social-instagram-circle:before {
	content: "\e0ee";
}
.eleganticon-social-network-group:before {
	content: "\e0ef";
}
.eleganticon-social-rss-circle-internet:before {
	content: "\e0f0";
}
.eleganticon-social-rss:before {
	content: "\e0f1";
}
.eleganticon-social-share-symbol:before {
	content: "\e0f2";
}
.eleganticon-social-vimeo-in-a-circle-logo:before {
	content: "\e0f3";
}
.eleganticon-speech-balloon-note:before {
	content: "\e0f4";
}
.eleganticon-speech-bubble-outline:before {
	content: "\e0f5";
}
.eleganticon-spotify-logo-button-1:before {
	content: "\e0f6";
}
.eleganticon-spotify-logo-button:before {
	content: "\e0f7";
}
.eleganticon-spotify-logo:before {
	content: "\e0f8";
}
.eleganticon-star-sign:before {
	content: "\e0f9";
}
.eleganticon-stop-button-1:before {
	content: "\e0fa";
}
.eleganticon-stop-button-2:before {
	content: "\e0fb";
}
.eleganticon-stop-button:before {
	content: "\e0fc";
}
.eleganticon-stumbleupon-logo-button:before {
	content: "\e0fd";
}
.eleganticon-stumbleupon-logo:before {
	content: "\e0fe";
}
.eleganticon-stumbleupon:before {
	content: "\e0ff";
}
.eleganticon-tablet-outline:before {
	content: "\e100";
}
.eleganticon-tags-outline-1:before {
	content: "\e101";
}
.eleganticon-tags-outline:before {
	content: "\e102";
}
.eleganticon-telephone-handset:before {
	content: "\e103";
}
.eleganticon-text-lines-file:before {
	content: "\e104";
}
.eleganticon-thin-left-down-arrow:before {
	content: "\e105";
}
.eleganticon-thin-left-up-arrow:before {
	content: "\e106";
}
.eleganticon-thin-little-up-arrow-in-a-circle:before {
	content: "\e107";
}
.eleganticon-thin-right-arrow:before {
	content: "\e108";
}
.eleganticon-time-watch:before {
	content: "\e109";
}
.eleganticon-toolbox:before {
	content: "\e10a";
}
.eleganticon-trash-container:before {
	content: "\e10b";
}
.eleganticon-tumblr-logo:before {
	content: "\e10c";
}
.eleganticon-tumblr-quadrate:before {
	content: "\e10d";
}
.eleganticon-tumblr-symbol:before {
	content: "\e10e";
}
.eleganticon-twitter-logo-silhouette:before {
	content: "\e10f";
}
.eleganticon-twitter-logo:before {
	content: "\e110";
}
.eleganticon-twitter:before {
	content: "\e111";
}
.eleganticon-two-down-chevron:before {
	content: "\e112";
}
.eleganticon-two-small-arrows-to-right-in-a-little-circle:before {
	content: "\e113";
}
.eleganticon-unlocked-lock:before {
	content: "\e114";
}
.eleganticon-up-and-down-arrow:before {
	content: "\e115";
}
.eleganticon-up-and-right-arrow-button:before {
	content: "\e116";
}
.eleganticon-up-arrow-1:before {
	content: "\e117";
}
.eleganticon-up-arrow:before {
	content: "\e118";
}
.eleganticon-up-sign:before {
	content: "\e119";
}
.eleganticon-upload-folder:before {
	content: "\e11a";
}
.eleganticon-upload-to-the-cloud:before {
	content: "\e11b";
}
.eleganticon-video-play-button:before {
	content: "\e11c";
}
.eleganticon-vimeo-logo-square:before {
	content: "\e11d";
}
.eleganticon-vimeo:before {
	content: "\e11e";
}
.eleganticon-voice-mic:before {
	content: "\e11f";
}
.eleganticon-wordpress-logo:before {
	content: "\e120";
}
.eleganticon-wordpress-square-logo:before {
	content: "\e121";
}
.eleganticon-working-cone:before {
	content: "\e122";
}
.eleganticon-wrench-tool:before {
	content: "\e123";
}
.eleganticon-youtube-logo:before {
	content: "\e124";
}
.eleganticon-zoom-interface:before {
	content: "\e125";
}
.eleganticon-zoom-out-symbol:before {
	content: "\e126";
}
