@font-face {
    font-family: "Meanicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.meanicon {
    font-family: Meanicon;
}

.meanicon-add27:before {
    content: "\e000";
}

.meanicon-address12:before {
    content: "\e001";
}

.meanicon-alarm8:before {
    content: "\e002";
}

.meanicon-apple11:before {
    content: "\e003";
}

.meanicon-arrow119:before {
    content: "\e004";
}

.meanicon-arrow122:before {
    content: "\e005";
}

.meanicon-arrows8:before {
    content: "\e006";
}

.meanicon-asterisk1:before {
    content: "\e007";
}

.meanicon-balance2:before {
    content: "\e008";
}

.meanicon-bars1:before {
    content: "\e009";
}

.meanicon-battery20:before {
    content: "\e00a";
}

.meanicon-bicycle2:before {
    content: "\e00b";
}

.meanicon-binoculars3:before {
    content: "\e00c";
}

.meanicon-black106:before {
    content: "\e00d";
}

.meanicon-black90:before {
    content: "\e00e";
}

.meanicon-blogger3:before {
    content: "\e00f";
}

.meanicon-bluetooth:before {
    content: "\e010";
}

.meanicon-brush7:before {
    content: "\e011";
}

.meanicon-calendar19:before {
    content: "\e012";
}

.meanicon-camera27:before {
    content: "\e013";
}

.meanicon-camping1:before {
    content: "\e014";
}

.meanicon-cancel5:before {
    content: "\e015";
}

.meanicon-cancel6:before {
    content: "\e016";
}

.meanicon-cancel7:before {
    content: "\e017";
}

.meanicon-cash1:before {
    content: "\e018";
}

.meanicon-check10:before {
    content: "\e019";
}

.meanicon-check11:before {
    content: "\e01a";
}

.meanicon-check12:before {
    content: "\e01b";
}

.meanicon-check9:before {
    content: "\e01c";
}

.meanicon-chemistry1:before {
    content: "\e01d";
}

.meanicon-chemistry2:before {
    content: "\e01e";
}

.meanicon-cloud46:before {
    content: "\e01f";
}

.meanicon-cloud78:before {
    content: "\e020";
}

.meanicon-comment4:before {
    content: "\e021";
}

.meanicon-cross14:before {
    content: "\e022";
}

.meanicon-cross19:before {
    content: "\e023";
}

.meanicon-cupcake2:before {
    content: "\e024";
}

.meanicon-deviantart:before {
    content: "\e025";
}

.meanicon-diamond2:before {
    content: "\e026";
}

.meanicon-digg3:before {
    content: "\e027";
}

.meanicon-dollars2:before {
    content: "\e028";
}

.meanicon-dropbox4:before {
    content: "\e029";
}

.meanicon-drops:before {
    content: "\e02a";
}

.meanicon-ecommerce2:before {
    content: "\e02b";
}

.meanicon-euro2:before {
    content: "\e02c";
}

.meanicon-facebook11:before {
    content: "\e02d";
}

.meanicon-female3:before {
    content: "\e02e";
}

.meanicon-fence2:before {
    content: "\e02f";
}

.meanicon-finger4:before {
    content: "\e030";
}

.meanicon-first12:before {
    content: "\e031";
}

.meanicon-fork6:before {
    content: "\e032";
}

.meanicon-glasses8:before {
    content: "\e033";
}

.meanicon-graduation:before {
    content: "\e034";
}

.meanicon-greek10:before {
    content: "\e035";
}

.meanicon-hairdryer:before {
    content: "\e036";
}

.meanicon-hanging:before {
    content: "\e037";
}

.meanicon-iron3:before {
    content: "\e038";
}

.meanicon-kettle2:before {
    content: "\e039";
}

.meanicon-leaves3:before {
    content: "\e03a";
}

.meanicon-linkedin7:before {
    content: "\e03b";
}

.meanicon-magic4:before {
    content: "\e03c";
}

.meanicon-magnifying13:before {
    content: "\e03d";
}

.meanicon-mailbox1:before {
    content: "\e03e";
}

.meanicon-male9:before {
    content: "\e03f";
}

.meanicon-medical11:before {
    content: "\e040";
}

.meanicon-medical9:before {
    content: "\e041";
}

.meanicon-myspace4:before {
    content: "\e042";
}

.meanicon-omnibus:before {
    content: "\e043";
}

.meanicon-palette3:before {
    content: "\e044";
}

.meanicon-paypal3:before {
    content: "\e045";
}

.meanicon-pharmacy1:before {
    content: "\e046";
}

.meanicon-phone35:before {
    content: "\e047";
}

.meanicon-pipeline:before {
    content: "\e048";
}

.meanicon-pizza5:before {
    content: "\e049";
}

.meanicon-pounds:before {
    content: "\e04a";
}

.meanicon-present5:before {
    content: "\e04b";
}

.meanicon-program1:before {
    content: "\e04c";
}

.meanicon-recycle5:before {
    content: "\e04d";
}

.meanicon-recycling1:before {
    content: "\e04e";
}

.meanicon-scissors2:before {
    content: "\e04f";
}

.meanicon-share10:before {
    content: "\e050";
}

.meanicon-shopping19:before {
    content: "\e051";
}

.meanicon-shopping27:before {
    content: "\e052";
}

.meanicon-shopping28:before {
    content: "\e053";
}

.meanicon-skype3:before {
    content: "\e054";
}

.meanicon-solid20:before {
    content: "\e055";
}

.meanicon-traffic3:before {
    content: "\e056";
}

.meanicon-train8:before {
    content: "\e057";
}

.meanicon-truck4:before {
    content: "\e058";
}

.meanicon-truck5:before {
    content: "\e059";
}

.meanicon-tshirt3:before {
    content: "\e05a";
}

.meanicon-twitter10:before {
    content: "\e05b";
}

.meanicon-twitter9:before {
    content: "\e05c";
}

.meanicon-vimeo6:before {
    content: "\e05d";
}

.meanicon-volume15:before {
    content: "\e05e";
}

.meanicon-wallet4:before {
    content: "\e05f";
}

.meanicon-watch7:before {
    content: "\e060";
}

.meanicon-wordpress5:before {
    content: "\e061";
}

.meanicon-yahoo:before {
    content: "\e062";
}

.meanicon-youtube7:before {
    content: "\e063";
}
