@font-face {
	font-family: "MoneySmallIcon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.moneysmallicon {   
	font-family: MoneySmallIcon;
}.moneysmallicon-bills1:before {
	content: "\e000";
}
.moneysmallicon-bills2:before {
	content: "\e001";
}
.moneysmallicon-card26:before {
	content: "\e002";
}
.moneysmallicon-coins25:before {
	content: "\e003";
}
.moneysmallicon-credit76:before {
	content: "\e004";
}
.moneysmallicon-dollar144:before {
	content: "\e005";
}
.moneysmallicon-dollars30:before {
	content: "\e006";
}
.moneysmallicon-dollars31:before {
	content: "\e007";
}
.moneysmallicon-dollars32:before {
	content: "\e008";
}
.moneysmallicon-dollars33:before {
	content: "\e009";
}
.moneysmallicon-hand133:before {
	content: "\e00a";
}
.moneysmallicon-incomes1:before {
	content: "\e00b";
}
.moneysmallicon-money115:before {
	content: "\e00c";
}
.moneysmallicon-pencil70:before {
	content: "\e00d";
}
.moneysmallicon-safe18:before {
	content: "\e00e";
}
.moneysmallicon-wallet18:before {
	content: "\e00f";
}
