@font-face {
	font-family: "Docicon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.docicon {   
	font-family: Docicon;
}.docicon-chart19:before {
	content: "\e000";
}
.docicon-checklist2:before {
	content: "\e001";
}
.docicon-disk7:before {
	content: "\e002";
}
.docicon-doc4:before {
	content: "\e003";
}
.docicon-document125:before {
	content: "\e004";
}
.docicon-documents12:before {
	content: "\e005";
}
.docicon-documents13:before {
	content: "\e006";
}
.docicon-documents14:before {
	content: "\e007";
}
.docicon-documents15:before {
	content: "\e008";
}
.docicon-documents16:before {
	content: "\e009";
}
.docicon-file42:before {
	content: "\e00a";
}
.docicon-grid8:before {
	content: "\e00b";
}
.docicon-hand119:before {
	content: "\e00c";
}
.docicon-music198:before {
	content: "\e00d";
}
.docicon-online19:before {
	content: "\e00e";
}
.docicon-pdf24:before {
	content: "\e00f";
}
.docicon-presentation13:before {
	content: "\e010";
}
.docicon-print25:before {
	content: "\e011";
}
.docicon-rank:before {
	content: "\e012";
}
.docicon-search52:before {
	content: "\e013";
}
.docicon-statistics5:before {
	content: "\e014";
}
.docicon-stats9:before {
	content: "\e015";
}
.docicon-storage18:before {
	content: "\e016";
}
.docicon-tasks2:before {
	content: "\e017";
}
.docicon-upload61:before {
	content: "\e018";
}
.docicon-vector21:before {
	content: "\e019";
}
.docicon-video134:before {
	content: "\e01a";
}
.docicon-write13:before {
	content: "\e01b";
}
