@font-face {
    font-family: "tserveicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.tserveicon {
    font-family: tserveicon;
    font-size: 20px;
    font-style: normal;
}

.tserveicon-briefcases3:before {
    content: "\e000";
}

.tserveicon-clouds60:before {
    content: "\e001";
}

.tserveicon-cogwheel43:before {
    content: "\e002";
}

.tserveicon-computer251:before {
    content: "\e003";
}

.tserveicon-computer252:before {
    content: "\e004";
}

.tserveicon-computer monitor1:before {
    content: "\e005";
}

.tserveicon-computer mouse20:before {
    content: "\e006";
}

.tserveicon-computers32:before {
    content: "\e007";
}

.tserveicon-computers33:before {
    content: "\e008";
}

.tserveicon-customer service9:before {
    content: "\e009";
}

.tserveicon-data storage6:before {
    content: "\e00a";
}

.tserveicon-documents51:before {
    content: "\e00b";
}

.tserveicon-drills:before {
    content: "\e00c";
}

.tserveicon-email20:before {
    content: "\e00d";
}

.tserveicon-exclamation34:before {
    content: "\e00e";
}

.tserveicon-file204:before {
    content: "\e00f";
}

.tserveicon-headphones51:before {
    content: "\e010";
}

.tserveicon-inbox50:before {
    content: "\e011";
}

.tserveicon-keys20:before {
    content: "\e012";
}

.tserveicon-magnifying glass57:before {
    content: "\e013";
}

.tserveicon-networking5:before {
    content: "\e014";
}

.tserveicon-pencils12:before {
    content: "\e015";
}

.tserveicon-pendrive13:before {
    content: "\e016";
}

.tserveicon-pictures10:before {
    content: "\e017";
}

.tserveicon-print78:before {
    content: "\e018";
}

.tserveicon-screws:before {
    content: "\e019";
}

.tserveicon-security62:before {
    content: "\e01a";
}

.tserveicon-servers2:before {
    content: "\e01b";
}

.tserveicon-smartphone119:before {
    content: "\e01c";
}

.tserveicon-smartphones2:before {
    content: "\e01d";
}

.tserveicon-tablet28:before {
    content: "\e01e";
}

.tserveicon-telephone158:before {
    content: "\e01f";
}

.tserveicon-telephone159:before {
    content: "\e020";
}

.tserveicon-time80:before {
    content: "\e021";
}

.tserveicon-vans1:before {
    content: "\e022";
}

.tserveicon-videos11:before {
    content: "\e023";
}

.tserveicon-work31:before {
    content: "\e024";
}

.tserveicon-wrench103:before {
    content: "\e025";
}
