@font-face
{
    font-family: "Outicon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="outicon-"]:before, [class*=" outicon-"]:before, [class^="outicon-"]:after, [class*=" outicon-"]:after
{
    font-family: outicon;
    font-style: normal;
    font-size:12px;
}
.outicon-add31:before
{
    content: "\e000";
}
.outicon-airplane116:before
{
    content: "\e001";
}
.outicon-announcer1:before
{
    content: "\e002";
}
.outicon-attach16:before
{
    content: "\e003";
}
.outicon-backward5:before
{
    content: "\e004";
}
.outicon-badge12:before
{
    content: "\e005";
}
.outicon-bell76:before
{
    content: "\e006";
}
.outicon-book270:before
{
    content: "\e007";
}
.outicon-bookmark54:before
{
    content: "\e008";
}
.outicon-building106:before
{
    content: "\e009";
}
.outicon-calendar194:before
{
    content: "\e00a";
}
.outicon-cancel29:before
{
    content: "\e00b";
}
.outicon-check74:before
{
    content: "\e00c";
}
.outicon-chevron1:before
{
    content: "\e00d";
}
.outicon-chevron2:before
{
    content: "\e00e";
}
.outicon-chevron3:before
{
    content: "\e00f";
}
.outicon-chevron:before
{
    content: "\e010";
}
.outicon-clock169:before
{
    content: "\e011";
}
.outicon-cloud18:before
{
    content: "\e012";
}
.outicon-cloud367:before
{
    content: "\e013";
}
.outicon-copy1:before
{
    content: "\e014";
}
.outicon-cut38:before
{
    content: "\e015";
}
.outicon-diskette17:before
{
    content: "\e016";
}
.outicon-dislike18:before
{
    content: "\e017";
}
.outicon-down arrow24:before
{
    content: "\e018";
}
.outicon-download194:before
{
    content: "\e019";
}
.outicon-expand10:before
{
    content: "\e01a";
}
.outicon-export:before
{
    content: "\e01b";
}
.outicon-eye130:before
{
    content: "\e01c";
}
.outicon-facebook7:before
{
    content: "\e01d";
}
.outicon-file128:before
{
    content: "\e01e";
}
.outicon-file129:before
{
    content: "\e01f";
}
.outicon-filter:before
{
    content: "\e020";
}
.outicon-font14:before
{
    content: "\e021";
}
.outicon-forbidden17:before
{
    content: "\e022";
}
.outicon-forward27:before
{
    content: "\e023";
}
.outicon-gear40:before
{
    content: "\e024";
}
.outicon-google4:before
{
    content: "\e025";
}
.outicon-grid2:before
{
    content: "\e026";
}
.outicon-headphones46:before
{
    content: "\e027";
}
.outicon-heart373:before
{
    content: "\e028";
}
.outicon-house204:before
{
    content: "\e029";
}
.outicon-information83:before
{
    content: "\e02a";
}
.outicon-laptop4:before
{
    content: "\e02b";
}
.outicon-left arrow25:before
{
    content: "\e02c";
}
.outicon-like83:before
{
    content: "\e02d";
}
.outicon-lines7:before
{
    content: "\e02e";
}
.outicon-list100:before
{
    content: "\e02f";
}
.outicon-lock8:before
{
    content: "\e030";
}
.outicon-magnifying glass33:before
{
    content: "\e031";
}
.outicon-magnifying glass34:before
{
    content: "\e032";
}
.outicon-magnifying glass35:before
{
    content: "\e033";
}
.outicon-mail2:before
{
    content: "\e034";
}
.outicon-microphone10:before
{
    content: "\e035";
}
.outicon-minimize1:before
{
    content: "\e036";
}
.outicon-minus6:before
{
    content: "\e037";
}
.outicon-move1:before
{
    content: "\e038";
}
.outicon-news:before
{
    content: "\e039";
}
.outicon-notepad20:before
{
    content: "\e03a";
}
.outicon-padlock86:before
{
    content: "\e03b";
}
.outicon-pause51:before
{
    content: "\e03c";
}
.outicon-pencil8:before
{
    content: "\e03d";
}
.outicon-pencil9:before
{
    content: "\e03e";
}
.outicon-phone14:before
{
    content: "\e03f";
}
.outicon-photo camera5:before
{
    content: "\e040";
}
.outicon-picture54:before
{
    content: "\e041";
}
.outicon-pin12:before
{
    content: "\e042";
}
.outicon-play127:before
{
    content: "\e043";
}
.outicon-pointer31:before
{
    content: "\e044";
}
.outicon-power115:before
{
    content: "\e045";
}
.outicon-print:before
{
    content: "\e046";
}
.outicon-question5:before
{
    content: "\e047";
}
.outicon-refresh8:before
{
    content: "\e048";
}
.outicon-right arrow30:before
{
    content: "\e049";
}
.outicon-sad70:before
{
    content: "\e04a";
}
.outicon-sales2:before
{
    content: "\e04b";
}
.outicon-screen88:before
{
    content: "\e04c";
}
.outicon-share53:before
{
    content: "\e04d";
}
.outicon-share55:before
{
    content: "\e04e";
}
.outicon-shopping cart13:before
{
    content: "\e04f";
}
.outicon-smartphone65:before
{
    content: "\e050";
}
.outicon-smiley3:before
{
    content: "\e051";
}
.outicon-sort2:before
{
    content: "\e052";
}
.outicon-speech balloon2:before
{
    content: "\e053";
}
.outicon-speech bubble34:before
{
    content: "\e054";
}
.outicon-star6:before
{
    content: "\e055";
}
.outicon-star7:before
{
    content: "\e056";
}
.outicon-support1:before
{
    content: "\e057";
}
.outicon-tablet4:before
{
    content: "\e058";
}
.outicon-tags:before
{
    content: "\e059";
}
.outicon-trash1:before
{
    content: "\e05a";
}
.outicon-treasure:before
{
    content: "\e05b";
}
.outicon-truck72:before
{
    content: "\e05c";
}
.outicon-twitter4:before
{
    content: "\e05d";
}
.outicon-up arrow46:before
{
    content: "\e05e";
}
.outicon-upload142:before
{
    content: "\e05f";
}
.outicon-user189:before
{
    content: "\e060";
}
.outicon-warning5:before
{
    content: "\e061";
}
.outicon-white flag1:before
{
    content: "\e062";
}
.outicon-wifi110:before
{
    content: "\e063";
}
