	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:04
  	*/

@font-face {
  font-family: "Notificon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Notificon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="notificon-"]:before, [class*=" notificon-"]:before,
[class^="notificon-"]:after, [class*=" notificon-"]:after {   
  font-family: Notificon;
        font-size: 12px;
font-style: normal;
}

.notificon-3g-signal-sign:before { content: "\f100"; }
.notificon-4g-technology-symbol:before { content: "\f101"; }
.notificon-4gb-card:before { content: "\f102"; }
.notificon-add-a-contact-interface-phone-symbol:before { content: "\f103"; }
.notificon-arroba-sign-on-mobile-phone-screen:before { content: "\f104"; }
.notificon-arrows-in-opposite-directions:before { content: "\f105"; }
.notificon-auricular-of-phone:before { content: "\f106"; }
.notificon-auricular-of-phone-and-cross-sign-outlines:before { content: "\f107"; }
.notificon-auricular-sign-outline-with-a-small-circle:before { content: "\f108"; }
.notificon-auricular-with-an-outgoing-arrow-sign:before { content: "\f109"; }
.notificon-auricular-with-thumb-down-sign:before { content: "\f10a"; }
.notificon-battery-empty-symbol:before { content: "\f10b"; }
.notificon-bell-outline-interface-symbol:before { content: "\f10c"; }
.notificon-bluetooth-sign:before { content: "\f10d"; }
.notificon-call-auricular-sign-on-mobile-phone-screen:before { content: "\f10e"; }
.notificon-call-by-mobile-phone:before { content: "\f10f"; }
.notificon-calling-by-phone-symbol:before { content: "\f110"; }
.notificon-camera-sign-on-mobile-phone-screen:before { content: "\f111"; }
.notificon-card-back:before { content: "\f112"; }
.notificon-card-of-phone:before { content: "\f113"; }
.notificon-card-outline:before { content: "\f114"; }
.notificon-card-with-an-exclamation-sign:before { content: "\f115"; }
.notificon-chat-bubble-with-happy-face-on-mobile-phone-screen:before { content: "\f116"; }
.notificon-chat-bubbles-on-a-in-phone-perspective:before { content: "\f117"; }
.notificon-chat-bubbles-on-mobile-phone-screen:before { content: "\f118"; }
.notificon-chat-bubbles-on-phone-screen:before { content: "\f119"; }
.notificon-chatting-by-phone:before { content: "\f11a"; }
.notificon-code-signs-in-a-rectangle:before { content: "\f11b"; }
.notificon-cogwheel-symbol-on-mobile-phone-screen:before { content: "\f11c"; }
.notificon-connection-bars-sign-with-a-cross:before { content: "\f11d"; }
.notificon-contact-sign-outline-with-minus-symbol:before { content: "\f11e"; }
.notificon-electric-connection-cover:before { content: "\f11f"; }
.notificon-electric-port-connection-sign:before { content: "\f120"; }
.notificon-electrical-connection:before { content: "\f121"; }
.notificon-email-sign-on-mobile-phone-screen:before { content: "\f122"; }
.notificon-emails-symbol-on-mobile-phone-screen-with-4-new-messages:before { content: "\f123"; }
.notificon-exchanging-arrows:before { content: "\f124"; }
.notificon-finger-touching-phone-screen:before { content: "\f125"; }
.notificon-four-bars-outline-sign:before { content: "\f126"; }
.notificon-full-battery-mobile-phone-sign:before { content: "\f127"; }
.notificon-full-charged-battery-symbol:before { content: "\f128"; }
.notificon-gps-sign:before { content: "\f129"; }
.notificon-hand-holding-a-mobile-phone:before { content: "\f12a"; }
.notificon-hand-on-mobile-phone-touching-screen:before { content: "\f12b"; }
.notificon-hanging-a-phone-call:before { content: "\f12c"; }
.notificon-home-sign-on-mobile-phone-screen:before { content: "\f12d"; }
.notificon-hour-on-mobile-phone-screen:before { content: "\f12e"; }
.notificon-image-gallery-view-sign-on-screen-of-a-mobile-phone-outline:before { content: "\f12f"; }
.notificon-incoming-arrow-sign-on-a-mobile:before { content: "\f130"; }
.notificon-incoming-call:before { content: "\f131"; }
.notificon-incoming-call-symbol:before { content: "\f132"; }
.notificon-incoming-call-symbol-1:before { content: "\f133"; }
.notificon-incoming-call-symbol-of-an-auricular-with-an-arrow:before { content: "\f134"; }
.notificon-listening-by-phone:before { content: "\f135"; }
.notificon-locked-mobile-phone:before { content: "\f136"; }
.notificon-locked-signal-symbol:before { content: "\f137"; }
.notificon-low-battery-interface-symbol:before { content: "\f138"; }
.notificon-magnifier-symbol-on-mobile-phone-screen:before { content: "\f139"; }
.notificon-male-contact-image-on-mobile-phone-screen:before { content: "\f13a"; }
.notificon-mobile-phone:before { content: "\f13b"; }
.notificon-mobile-phone-alarm-ringing:before { content: "\f13c"; }
.notificon-mobile-phone-auricular-part-outline-with-call-sound-lines:before { content: "\f13d"; }
.notificon-mobile-phone-auricular-sign-with-a-circle-outlines:before { content: "\f13e"; }
.notificon-mobile-phone-back-connected-to-electrical-line-sign:before { content: "\f13f"; }
.notificon-mobile-phone-back-connected-to-line-with-a-cord:before { content: "\f140"; }
.notificon-mobile-phone-back-view-with-photo-camera:before { content: "\f141"; }
.notificon-mobile-phone-back-with-a-hanging-tool:before { content: "\f142"; }
.notificon-mobile-phone-back-with-cable:before { content: "\f143"; }
.notificon-mobile-phone-bottom-or-top-view-with-port:before { content: "\f144"; }
.notificon-mobile-phone-broken-in-two-parts:before { content: "\f145"; }
.notificon-mobile-phone-buttons-outlines:before { content: "\f146"; }
.notificon-mobile-phone-call-sign:before { content: "\f147"; }
.notificon-mobile-phone-card-outline:before { content: "\f148"; }
.notificon-mobile-phone-card-outline-1:before { content: "\f149"; }
.notificon-mobile-phone-communication-tool-outline:before { content: "\f14a"; }
.notificon-mobile-phone-connected-by-bluetooth:before { content: "\f14b"; }
.notificon-mobile-phone-connected-to-laptop-with-wifi:before { content: "\f14c"; }
.notificon-mobile-phone-connection-symbol-bars:before { content: "\f14d"; }
.notificon-mobile-phone-folder:before { content: "\f14e"; }
.notificon-mobile-phone-from-bottom-view:before { content: "\f14f"; }
.notificon-mobile-phone-from-bottom-view-1:before { content: "\f150"; }
.notificon-mobile-phone-from-top-or-bottom-view:before { content: "\f151"; }
.notificon-mobile-phone-from-two-views-front-and-back:before { content: "\f152"; }
.notificon-mobile-phone-front-with-screen-and-one-circular-button:before { content: "\f153"; }
.notificon-mobile-phone-in-horizontal-position-with-keyboard-view-on-screen:before { content: "\f154"; }
.notificon-mobile-phone-interface-symbol-to-hide-keyboard:before { content: "\f155"; }
.notificon-mobile-phone-long-horizontal-tool-with-arrows:before { content: "\f156"; }
.notificon-mobile-phone-mode-sign-of-an-airplane-with-a-cross:before { content: "\f157"; }
.notificon-mobile-phone-model-with-buttons:before { content: "\f158"; }
.notificon-mobile-phone-model-with-buttons-view:before { content: "\f159"; }
.notificon-mobile-phone-model-with-extensible-keyboard:before { content: "\f15a"; }
.notificon-mobile-phone-model-with-hour-on-screen:before { content: "\f15b"; }
.notificon-mobile-phone-model-with-keyboard-buttons-and-a-big-button-with-letter-s:before { content: "\f15c"; }
.notificon-mobile-phone-model-with-opened-cover-outline:before { content: "\f15d"; }
.notificon-mobile-phone-model-with-small-screen-and-buttons:before { content: "\f15e"; }
.notificon-mobile-phone-of-two-parts-one-of-the-screen-other-with-the-keyboard:before { content: "\f15f"; }
.notificon-mobile-phone-outline:before { content: "\f160"; }
.notificon-mobile-phone-outline-1:before { content: "\f161"; }
.notificon-mobile-phone-outline-2:before { content: "\f162"; }
.notificon-mobile-phone-outline-from-side-view:before { content: "\f163"; }
.notificon-mobile-phone-outline-variant:before { content: "\f164"; }
.notificon-mobile-phone-outline-variant-1:before { content: "\f165"; }
.notificon-mobile-phone-outline-with-an-email-envelope-opened-symbol-on-screen:before { content: "\f166"; }
.notificon-mobile-phone-outline-with-big-screen:before { content: "\f167"; }
.notificon-mobile-phone-outline-with-full-battery-sign-on-screen:before { content: "\f168"; }
.notificon-mobile-phone-outline-with-one-circular-button-and-screen-outline:before { content: "\f169"; }
.notificon-mobile-phone-outline-with-three-rectangular-buttons:before { content: "\f16a"; }
.notificon-mobile-phone-outline-with-tools:before { content: "\f16b"; }
.notificon-mobile-phone-outline-with-wifi-connection-sign-on-screen:before { content: "\f16c"; }
.notificon-mobile-phone-outlined:before { content: "\f16d"; }
.notificon-mobile-phone-outlined-shape-with-buttons:before { content: "\f16e"; }
.notificon-mobile-phone-outlined-variant:before { content: "\f16f"; }
.notificon-mobile-phone-perspective:before { content: "\f170"; }
.notificon-mobile-phone-plugged-to-laptop:before { content: "\f171"; }
.notificon-mobile-phone-port:before { content: "\f172"; }
.notificon-mobile-phone-screen-with-a-clock:before { content: "\f173"; }
.notificon-mobile-phone-screen-with-calendar-page-on-day-17:before { content: "\f174"; }
.notificon-mobile-phone-screen-with-code-signs:before { content: "\f175"; }
.notificon-mobile-phone-screen-with-two-arrows-in-circle:before { content: "\f176"; }
.notificon-mobile-phone-settings-symbol-on-screen:before { content: "\f177"; }
.notificon-mobile-phone-signal-symbol:before { content: "\f178"; }
.notificon-mobile-phone-speaker-sound-sign:before { content: "\f179"; }
.notificon-mobile-phone-symbol-in-vertical-and-horizontal:before { content: "\f17a"; }
.notificon-mobile-phone-top-or-bottom-view-with-ports:before { content: "\f17b"; }
.notificon-mobile-phone-top-view:before { content: "\f17c"; }
.notificon-mobile-phone-variant:before { content: "\f17d"; }
.notificon-mobile-phone-variant-1:before { content: "\f17e"; }
.notificon-mobile-phone-variant-2:before { content: "\f17f"; }
.notificon-mobile-phone-variant-with-buttons-outline:before { content: "\f180"; }
.notificon-mobile-phone-variant-with-three-buttons-on-front:before { content: "\f181"; }
.notificon-mobile-phone-vibrating:before { content: "\f182"; }
.notificon-mobile-phone-with-a-heart-symbol-on-screen:before { content: "\f183"; }
.notificon-mobile-phone-with-a-sign-with-up-arrow-on-screen:before { content: "\f184"; }
.notificon-mobile-phone-with-an-arrow-pointing-right:before { content: "\f185"; }
.notificon-mobile-phone-with-an-arrow-sign-on-it-pointing-to-left:before { content: "\f186"; }
.notificon-mobile-phone-with-auriculars:before { content: "\f187"; }
.notificon-mobile-phone-with-big-keyboard:before { content: "\f188"; }
.notificon-mobile-phone-with-big-screen-and-just-one-button-on-front:before { content: "\f189"; }
.notificon-mobile-phone-with-black-squares-on-the-screen:before { content: "\f18a"; }
.notificon-mobile-phone-with-bluetooth-sign-on-screen:before { content: "\f18b"; }
.notificon-mobile-phone-with-buttons-included-and-small-screen:before { content: "\f18c"; }
.notificon-mobile-phone-with-connection-signal:before { content: "\f18d"; }
.notificon-mobile-phone-with-down-arrow-sign-on-screen:before { content: "\f18e"; }
.notificon-mobile-phone-with-full-battery-status-sign-on-screen:before { content: "\f18f"; }
.notificon-mobile-phone-with-independent-keyboard:before { content: "\f190"; }
.notificon-mobile-phone-with-keyboard-on-screen:before { content: "\f191"; }
.notificon-mobile-phone-with-low-battery-sign-on-screen:before { content: "\f192"; }
.notificon-mobile-phone-with-three-buttons:before { content: "\f193"; }
.notificon-mobile-phone-with-trash-sign-on-screen:before { content: "\f194"; }
.notificon-mobile-phone-with-video-camera-symbol-on-screen:before { content: "\f195"; }
.notificon-mobile-phone-with-world-grid-symbol-on-monitor-screen:before { content: "\f196"; }
.notificon-mobile-phones:before { content: "\f197"; }
.notificon-musical-note-sign-on-mobile-phone-screen:before { content: "\f198"; }
.notificon-mute-interface-sign:before { content: "\f199"; }
.notificon-mute-microphone-symbol:before { content: "\f19a"; }
.notificon-no-calls-interface-symbol-of-mobile-phone:before { content: "\f19b"; }
.notificon-no-calls-sign:before { content: "\f19c"; }
.notificon-no-signal-interface-symbol:before { content: "\f19d"; }
.notificon-no-sound-interface-symbol:before { content: "\f19e"; }
.notificon-outgoing-call-symbol:before { content: "\f19f"; }
.notificon-outgoing-call-symbol-1:before { content: "\f1a0"; }
.notificon-outgoing-email-by-phone:before { content: "\f1a1"; }
.notificon-password-of-a-mobile-phone:before { content: "\f1a2"; }
.notificon-phone-arrows-buttons:before { content: "\f1a3"; }
.notificon-phone-auricular-and-buttons:before { content: "\f1a4"; }
.notificon-phone-auricular-and-thumb-up-sign:before { content: "\f1a5"; }
.notificon-phone-auricular-outline-with-a-small-circle:before { content: "\f1a6"; }
.notificon-plug-connector-with-a-cross-outline:before { content: "\f1a7"; }
.notificon-plug-outline:before { content: "\f1a8"; }
.notificon-power-symbol-on-a-mobile-phone-screen:before { content: "\f1a9"; }
.notificon-protected-mobile-phone-with-password:before { content: "\f1aa"; }
.notificon-protected-phone-call-sign:before { content: "\f1ab"; }
.notificon-qr-code-on-mobile-phone-screen:before { content: "\f1ac"; }
.notificon-question-mark-on-a-person-symbol:before { content: "\f1ad"; }
.notificon-retweet-arrows-couple-outline:before { content: "\f1ae"; }
.notificon-retweet-symbol-on-mobile-phone-screen:before { content: "\f1af"; }
.notificon-ring-symbol-of-mobile-phone:before { content: "\f1b0"; }
.notificon-rotating-mobile-phone-from-vertical-to-horizontal-position:before { content: "\f1b1"; }
.notificon-sad-face-in-a-chat-bubble-by-phone:before { content: "\f1b2"; }
.notificon-security-on-mobile-phone:before { content: "\f1b3"; }
.notificon-sending-email-by-phone:before { content: "\f1b4"; }
.notificon-show-keyboard:before { content: "\f1b5"; }
.notificon-signal-interface-symbol:before { content: "\f1b6"; }
.notificon-signal-sign-with-an-exclamation-symbol:before { content: "\f1b7"; }
.notificon-signal-symbol:before { content: "\f1b8"; }
.notificon-silence-interface-phone-symbol:before { content: "\f1b9"; }
.notificon-star-on-a-mobile-phone-screen:before { content: "\f1ba"; }
.notificon-symbol-outline:before { content: "\f1bb"; }
.notificon-two-circles-sign-one-black-other-white:before { content: "\f1bc"; }
.notificon-unlocked-call-symbol:before { content: "\f1bd"; }
.notificon-unlocked-mobile-phone:before { content: "\f1be"; }
.notificon-unlocking-a-call:before { content: "\f1bf"; }
.notificon-unlocking-call:before { content: "\f1c0"; }
.notificon-up-and-down-arrows-outlines-couple:before { content: "\f1c1"; }
.notificon-up-arrow-outline-pointing-other-shape:before { content: "\f1c2"; }
.notificon-usb-connector:before { content: "\f1c3"; }
.notificon-verified-call-sign:before { content: "\f1c4"; }
.notificon-vibrant-mobile-phone-on-mute-mode:before { content: "\f1c5"; }
.notificon-voice-tool-mic-sign-on-a-phone-screen:before { content: "\f1c6"; }
.notificon-write-an-email-by-phone:before { content: "\f1c7"; }