	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:47
  	*/

@font-face {
  font-family: "Usericon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "usericon";
    src: url("./usericon.svg#usericon") format("svg");
  }
}

[class^="usericon-"]:before, [class*=" usericon-"]:before,
[class^="usericon-"]:after, [class*=" usericon-"]:after {   
  font-family: Usericon;
    font-style: normal;
    font-size:16pt;
}

.usericon-group:before { content: "\f100"; }
.usericon-group-1:before { content: "\f101"; }
.usericon-padlock:before { content: "\f102"; }
.usericon-padlock-1:before { content: "\f103"; }
.usericon-padlock-2:before { content: "\f104"; }
.usericon-padlock-3:before { content: "\f105"; }
.usericon-padlock-4:before { content: "\f106"; }
.usericon-padlock-5:before { content: "\f107"; }
.usericon-padlock-6:before { content: "\f108"; }
.usericon-padlock-7:before { content: "\f109"; }
.usericon-padlock-8:before { content: "\f10a"; }
.usericon-padlock-9:before { content: "\f10b"; }
.usericon-user:before { content: "\f10c"; }
.usericon-user-1:before { content: "\f10d"; }
.usericon-user-10:before { content: "\f10e"; }
.usericon-user-11:before { content: "\f10f"; }
.usericon-user-12:before { content: "\f110"; }
.usericon-user-13:before { content: "\f111"; }
.usericon-user-14:before { content: "\f112"; }
.usericon-user-15:before { content: "\f113"; }
.usericon-user-16:before { content: "\f114"; }
.usericon-user-17:before { content: "\f115"; }
.usericon-user-2:before { content: "\f116"; }
.usericon-user-3:before { content: "\f117"; }
.usericon-user-4:before { content: "\f118"; }
.usericon-user-5:before { content: "\f119"; }
.usericon-user-6:before { content: "\f11a"; }
.usericon-user-7:before { content: "\f11b"; }
.usericon-user-8:before { content: "\f11c"; }
.usericon-user-9:before { content: "\f11d"; }