@font-face {
    font-family: "ArrowBoldIcon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.arrowboldicon {
    font-family: ArrowBoldIcon;
}

.arrowboldicon-arrow628:before {
    content: "\e000";
}

.arrowboldicon-arrow633:before {
    content: "\e001";
}

.arrowboldicon-arrows105:before {
    content: "\e002";
}

.arrowboldicon-back58:before {
    content: "\e003";
}

.arrowboldicon-back61:before {
    content: "\e004";
}

.arrowboldicon-curved28:before {
    content: "\e005";
}

.arrowboldicon-curved29:before {
    content: "\e006";
}

.arrowboldicon-curved32:before {
    content: "\e007";
}

.arrowboldicon-curved34:before {
    content: "\e008";
}

.arrowboldicon-down103:before {
    content: "\e009";
}

.arrowboldicon-down104:before {
    content: "\e00a";
}

.arrowboldicon-down106:before {
    content: "\e00b";
}

.arrowboldicon-down107:before {
    content: "\e00c";
}

.arrowboldicon-down108:before {
    content: "\e00d";
}

.arrowboldicon-down109:before {
    content: "\e00e";
}

.arrowboldicon-down112:before {
    content: "\e00f";
}

.arrowboldicon-down113:before {
    content: "\e010";
}

.arrowboldicon-down114:before {
    content: "\e011";
}

.arrowboldicon-down116:before {
    content: "\e012";
}

.arrowboldicon-down118:before {
    content: "\e013";
}

.arrowboldicon-down119:before {
    content: "\e014";
}

.arrowboldicon-down120:before {
    content: "\e015";
}

.arrowboldicon-down121:before {
    content: "\e016";
}

.arrowboldicon-download163:before {
    content: "\e017";
}

.arrowboldicon-fast44:before {
    content: "\e018";
}

.arrowboldicon-left207:before {
    content: "\e019";
}

.arrowboldicon-left208:before {
    content: "\e01a";
}

.arrowboldicon-left209:before {
    content: "\e01b";
}

.arrowboldicon-left210:before {
    content: "\e01c";
}

.arrowboldicon-left213:before {
    content: "\e01d";
}

.arrowboldicon-left214:before {
    content: "\e01e";
}

.arrowboldicon-rewind44:before {
    content: "\e01f";
}

.arrowboldicon-right208:before {
    content: "\e020";
}

.arrowboldicon-right210:before {
    content: "\e021";
}

.arrowboldicon-right217:before {
    content: "\e022";
}

.arrowboldicon-right218:before {
    content: "\e023";
}

.arrowboldicon-right220:before {
    content: "\e024";
}

.arrowboldicon-right222:before {
    content: "\e025";
}

.arrowboldicon-right224:before {
    content: "\e026";
}

.arrowboldicon-right230:before {
    content: "\e027";
}

.arrowboldicon-right235:before {
    content: "\e028";
}

.arrowboldicon-two379:before {
    content: "\e029";
}

.arrowboldicon-two386:before {
    content: "\e02a";
}

.arrowboldicon-two389:before {
    content: "\e02b";
}

.arrowboldicon-up155:before {
    content: "\e02c";
}

.arrowboldicon-up157:before {
    content: "\e02d";
}

.arrowboldicon-up158:before {
    content: "\e02e";
}

.arrowboldicon-up161:before {
    content: "\e02f";
}

.arrowboldicon-up163:before {
    content: "\e030";
}

.arrowboldicon-up164:before {
    content: "\e031";
}

.arrowboldicon-up166:before {
    content: "\e032";
}

.arrowboldicon-up168:before {
    content: "\e033";
}

.arrowboldicon-up173:before {
    content: "\e034";
}

.arrowboldicon-up174:before {
    content: "\e035";
}

.arrowboldicon-upper13:before {
    content: "\e036";
}

.arrowboldicon-upper15:before {
    content: "\e037";
}

.arrowboldicon-upper16:before {
    content: "\e038";
}

.arrowboldicon-upper17:before {
    content: "\e039";
}

.arrowboldicon-upper18:before {
    content: "\e03a";
}

.arrowboldicon-upper19:before {
    content: "\e03b";
}
