	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "TDIcon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "TDIcon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="tdicon-"]:before, [class*=" tdicon-"]:before,
[class^="tdicon-"]:after, [class*=" tdicon-"]:after {   
  font-family: TDIcon;
        font-size: 12px;
    font-style: normal;
}

.tdicon-bell:before { content: "\f100"; }
.tdicon-bell-1:before { content: "\f101"; }
.tdicon-bell-2:before { content: "\f102"; }
.tdicon-calendar:before { content: "\f103"; }
.tdicon-calendar-1:before { content: "\f104"; }
.tdicon-calendar-2:before { content: "\f105"; }
.tdicon-calendar-3:before { content: "\f106"; }
.tdicon-calendar-4:before { content: "\f107"; }
.tdicon-calendar-5:before { content: "\f108"; }
.tdicon-calendar-6:before { content: "\f109"; }
.tdicon-clock:before { content: "\f10a"; }
.tdicon-clock-1:before { content: "\f10b"; }
.tdicon-clock-2:before { content: "\f10c"; }
.tdicon-clock-3:before { content: "\f10d"; }
.tdicon-hourglass:before { content: "\f10e"; }
.tdicon-hourglass-1:before { content: "\f10f"; }
.tdicon-hourglass-2:before { content: "\f110"; }