	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/08/2016 13:12
  	*/

@font-face {
  font-family: "Arrowicon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Arrowicon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.arrowicon {   
  font-family: arrowicon;
}

.arrowicon-arrow:before { content: "\f100"; }
.arrowicon-arrow-1:before { content: "\f101"; }
.arrowicon-arrow-10:before { content: "\f102"; }
.arrowicon-arrow-11:before { content: "\f103"; }
.arrowicon-arrow-12:before { content: "\f104"; }
.arrowicon-arrow-13:before { content: "\f105"; }
.arrowicon-arrow-14:before { content: "\f106"; }
.arrowicon-arrow-15:before { content: "\f107"; }
.arrowicon-arrow-16:before { content: "\f108"; }
.arrowicon-arrow-17:before { content: "\f109"; }
.arrowicon-arrow-18:before { content: "\f10a"; }
.arrowicon-arrow-19:before { content: "\f10b"; }
.arrowicon-arrow-2:before { content: "\f10c"; }
.arrowicon-arrow-20:before { content: "\f10d"; }
.arrowicon-arrow-21:before { content: "\f10e"; }
.arrowicon-arrow-22:before { content: "\f10f"; }
.arrowicon-arrow-23:before { content: "\f110"; }
.arrowicon-arrow-24:before { content: "\f111"; }
.arrowicon-arrow-25:before { content: "\f112"; }
.arrowicon-arrow-26:before { content: "\f113"; }
.arrowicon-arrow-27:before { content: "\f114"; }
.arrowicon-arrow-28:before { content: "\f115"; }
.arrowicon-arrow-29:before { content: "\f116"; }
.arrowicon-arrow-3:before { content: "\f117"; }
.arrowicon-arrow-30:before { content: "\f118"; }
.arrowicon-arrow-31:before { content: "\f119"; }
.arrowicon-arrow-32:before { content: "\f11a"; }
.arrowicon-arrow-33:before { content: "\f11b"; }
.arrowicon-arrow-34:before { content: "\f11c"; }
.arrowicon-arrow-4:before { content: "\f11d"; }
.arrowicon-arrow-5:before { content: "\f11e"; }
.arrowicon-arrow-6:before { content: "\f11f"; }
.arrowicon-arrow-7:before { content: "\f120"; }
.arrowicon-arrow-8:before { content: "\f121"; }
.arrowicon-arrow-9:before { content: "\f122"; }
.arrowicon-arrows:before { content: "\f123"; }
.arrowicon-arrows-1:before { content: "\f124"; }
.arrowicon-arrows-10:before { content: "\f125"; }
.arrowicon-arrows-11:before { content: "\f126"; }
.arrowicon-arrows-12:before { content: "\f127"; }
.arrowicon-arrows-13:before { content: "\f128"; }
.arrowicon-arrows-2:before { content: "\f129"; }
.arrowicon-arrows-3:before { content: "\f12a"; }
.arrowicon-arrows-4:before { content: "\f12b"; }
.arrowicon-arrows-5:before { content: "\f12c"; }
.arrowicon-arrows-6:before { content: "\f12d"; }
.arrowicon-arrows-7:before { content: "\f12e"; }
.arrowicon-arrows-8:before { content: "\f12f"; }
.arrowicon-arrows-9:before { content: "\f130"; }
.arrowicon-back:before { content: "\f131"; }
.arrowicon-back-1:before { content: "\f132"; }
.arrowicon-back-10:before { content: "\f133"; }
.arrowicon-back-11:before { content: "\f134"; }
.arrowicon-back-12:before { content: "\f135"; }
.arrowicon-back-13:before { content: "\f136"; }
.arrowicon-back-2:before { content: "\f137"; }
.arrowicon-back-3:before { content: "\f138"; }
.arrowicon-back-4:before { content: "\f139"; }
.arrowicon-back-5:before { content: "\f13a"; }
.arrowicon-back-6:before { content: "\f13b"; }
.arrowicon-back-7:before { content: "\f13c"; }
.arrowicon-back-8:before { content: "\f13d"; }
.arrowicon-back-9:before { content: "\f13e"; }
.arrowicon-cancel:before { content: "\f13f"; }
.arrowicon-division:before { content: "\f140"; }
.arrowicon-division-1:before { content: "\f141"; }
.arrowicon-down-arrow:before { content: "\f142"; }
.arrowicon-down-arrow-1:before { content: "\f143"; }
.arrowicon-down-arrow-2:before { content: "\f144"; }
.arrowicon-download:before { content: "\f145"; }
.arrowicon-download-1:before { content: "\f146"; }
.arrowicon-download-10:before { content: "\f147"; }
.arrowicon-download-11:before { content: "\f148"; }
.arrowicon-download-12:before { content: "\f149"; }
.arrowicon-download-13:before { content: "\f14a"; }
.arrowicon-download-14:before { content: "\f14b"; }
.arrowicon-download-15:before { content: "\f14c"; }
.arrowicon-download-16:before { content: "\f14d"; }
.arrowicon-download-2:before { content: "\f14e"; }
.arrowicon-download-3:before { content: "\f14f"; }
.arrowicon-download-4:before { content: "\f150"; }
.arrowicon-download-5:before { content: "\f151"; }
.arrowicon-download-6:before { content: "\f152"; }
.arrowicon-download-7:before { content: "\f153"; }
.arrowicon-download-8:before { content: "\f154"; }
.arrowicon-download-9:before { content: "\f155"; }
.arrowicon-equal:before { content: "\f156"; }
.arrowicon-fast-forward:before { content: "\f157"; }
.arrowicon-flag:before { content: "\f158"; }
.arrowicon-full-screen:before { content: "\f159"; }
.arrowicon-hashtag:before { content: "\f15a"; }
.arrowicon-left-arrow:before { content: "\f15b"; }
.arrowicon-menu:before { content: "\f15c"; }
.arrowicon-minus:before { content: "\f15d"; }
.arrowicon-more:before { content: "\f15e"; }
.arrowicon-move:before { content: "\f15f"; }
.arrowicon-move-1:before { content: "\f160"; }
.arrowicon-next:before { content: "\f161"; }
.arrowicon-next-1:before { content: "\f162"; }
.arrowicon-next-10:before { content: "\f163"; }
.arrowicon-next-11:before { content: "\f164"; }
.arrowicon-next-12:before { content: "\f165"; }
.arrowicon-next-13:before { content: "\f166"; }
.arrowicon-next-14:before { content: "\f167"; }
.arrowicon-next-2:before { content: "\f168"; }
.arrowicon-next-3:before { content: "\f169"; }
.arrowicon-next-4:before { content: "\f16a"; }
.arrowicon-next-5:before { content: "\f16b"; }
.arrowicon-next-6:before { content: "\f16c"; }
.arrowicon-next-7:before { content: "\f16d"; }
.arrowicon-next-8:before { content: "\f16e"; }
.arrowicon-next-9:before { content: "\f16f"; }
.arrowicon-order:before { content: "\f170"; }
.arrowicon-order-1:before { content: "\f171"; }
.arrowicon-pause:before { content: "\f172"; }
.arrowicon-percent:before { content: "\f173"; }
.arrowicon-plus:before { content: "\f174"; }
.arrowicon-power-button:before { content: "\f175"; }
.arrowicon-previous:before { content: "\f176"; }
.arrowicon-previous-1:before { content: "\f177"; }
.arrowicon-previous-2:before { content: "\f178"; }
.arrowicon-previous-3:before { content: "\f179"; }
.arrowicon-record:before { content: "\f17a"; }
.arrowicon-reload:before { content: "\f17b"; }
.arrowicon-repeat:before { content: "\f17c"; }
.arrowicon-repeat-1:before { content: "\f17d"; }
.arrowicon-resize:before { content: "\f17e"; }
.arrowicon-resize-1:before { content: "\f17f"; }
.arrowicon-resize-2:before { content: "\f180"; }
.arrowicon-resize-3:before { content: "\f181"; }
.arrowicon-resize-4:before { content: "\f182"; }
.arrowicon-resize-5:before { content: "\f183"; }
.arrowicon-return:before { content: "\f184"; }
.arrowicon-return-1:before { content: "\f185"; }
.arrowicon-rewind:before { content: "\f186"; }
.arrowicon-rewind-1:before { content: "\f187"; }
.arrowicon-rewind-2:before { content: "\f188"; }
.arrowicon-shuffle:before { content: "\f189"; }
.arrowicon-skip:before { content: "\f18a"; }
.arrowicon-skip-1:before { content: "\f18b"; }
.arrowicon-skip-2:before { content: "\f18c"; }
.arrowicon-skip-3:before { content: "\f18d"; }
.arrowicon-skip-4:before { content: "\f18e"; }
.arrowicon-star:before { content: "\f18f"; }
.arrowicon-transfer:before { content: "\f190"; }
.arrowicon-transfer-1:before { content: "\f191"; }
.arrowicon-up-arrow:before { content: "\f192"; }
.arrowicon-up-arrow-1:before { content: "\f193"; }
.arrowicon-up-arrow-2:before { content: "\f194"; }
.arrowicon-up-arrow-3:before { content: "\f195"; }
.arrowicon-up-arrow-4:before { content: "\f196"; }
.arrowicon-upload:before { content: "\f197"; }
.arrowicon-upload-1:before { content: "\f198"; }
.arrowicon-upload-10:before { content: "\f199"; }
.arrowicon-upload-11:before { content: "\f19a"; }
.arrowicon-upload-12:before { content: "\f19b"; }
.arrowicon-upload-13:before { content: "\f19c"; }
.arrowicon-upload-14:before { content: "\f19d"; }
.arrowicon-upload-2:before { content: "\f19e"; }
.arrowicon-upload-3:before { content: "\f19f"; }
.arrowicon-upload-4:before { content: "\f1a0"; }
.arrowicon-upload-5:before { content: "\f1a1"; }
.arrowicon-upload-6:before { content: "\f1a2"; }
.arrowicon-upload-7:before { content: "\f1a3"; }
.arrowicon-upload-8:before { content: "\f1a4"; }
.arrowicon-upload-9:before { content: "\f1a5"; }