input[type=text], input[type=password], input[type=file] {
    color: #000;
    padding: 4px 4px 4px 4px;
}

select {
    color: #000;
    padding: 4px 4px 4px 4px;
    border: 1px solid #ccc;
    font-size: 9px;
}

.producttopbar {
    background-color: #000008;
    color: White;
    border-bottom: 2px solid yellow;
}

#mainTD {
    width: 100%;
    height: 100%;
    background: #f1f2f4;
}

.flbutton {
    padding: 4px 4px 4px 4px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #fff;
}

.Button {
    min-width: 85px;
    font-size: 8pt;
}

.rtb {
    color: #ff0000;
    font-weight: bold;
}

.otb {
    border: solid 1px Black;
    background-color: Orange;
    color: Black;
    height: 18px;
}

.tb {
    border: solid 1px SkyBlue;
    background-color: AliceBlue;
    color: Black;
    height: 18px;
}

.dtb {
    border: solid 1px Gray;
    background-color: LightGrey;
    height: 18px;
}

.dta {
    border: solid 1px Gray;
    background-color: LightGrey;
}

.rta {
    border: solid 1px Black;
    background-color: Orange;
    color: Black;
}

.ota {
    border: solid 1px Black;
    background-color: Orange;
    color: Black;
}

.rptTitle {
    letter-spacing: .2em;
    font-size: 14pt;
    font-weight: bold;
}

fieldset {
    margin-left: 4px;
    margin-bottom: 4px;
    width: 97%;
}

.top {
    background: #fff url(images/gradTop.jpg) repeat-x top left;
    height: 88px;
    padding: 6px;
    padding-top: 13px;
}

.top1 {
    font-size: 11px;
}

.highlight {
    color: #6A135E;
    font-weight: bold;
}

.footer {
    border-top: 1px solid #ccc;
    color: #666;
    clear: both;
    font-size: 0.9em;
    padding: 0.5em;
    text-align: center;
}

.main {
    width: 200px;
}

.month {
    background-color: #68155D;
    font: bold 10px verdana;
    color: white;
}

.daysofweek {
    background-color: #888888;
    font: bold 10px verdana;
    color: white;
}

.days {
    font-size: 11px;
    color: #666666;
    background-color: #D9D9D9;
    padding: 2px;
}

    .days #today {
        font-weight: bold;
        color: #6C125A;
    }
/* Divs */
.onlineDiv {
    border: 1px solid #22B7F1;
}

.fieldtitle {
    color: #999;
}

.fieldbar {
    font-weight: normal;
    color: DimGray;
    text-decoration: none;
    background-color: #e8e8e8;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
}

.HeaderImg {
    font-weight: normal;
    color: DimGray;
    text-decoration: none;
    font-weight: bold;
}

.helptitle {
    font-weight: normal;
    padding-bottom: 1px;
    color: dimgray;
    padding-top: 1px;
    height: 20px;
    background-color: #ffffe1;
    text-decoration: none;
}

.Titlefield {
    font-weight: bold;
}

.HeaderStyle {
    background-color: #ffffff;
    height: 80px;
    border-bottom: solid 2px #ccc;
}

.HeaderBar {
    font-weight: bold;
    vertical-align: top;
    font-size: 16pt;
}

.HighlightBox {
    text-align: center;
    width: 50px;
    font-weight: bold;
}

.PageBG, .pageBG {
    width: 100%;
    background-color: #E18942;
    border-bottom: 1px solid #7A3E48;
    min-height: 10px;
}

.requiredTextBox {
    padding: 6px 6px 6px 6px;
    border: 1px solid #ff0000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.helptitle {
    font-weight: normal;
    padding-bottom: 1px;
    color: dimgray;
    padding-top: 1px;
    height: 20px;
    background-color: #ffffe1;
    text-decoration: none;
}

.regularTextBox {
    font-weight: normal;
    padding-bottom: 1px;
    color: dimgray;
    padding-top: 1px;
    background-color: White;
    text-decoration: none;
    border: 1px solid DimGray;
}
/* Menu */
/* Data Grid */
.DataGrid_Overflow {
    overflow: auto;
    height: 300px;
    max-width: 925px;
    border: solid 1px #eee;
}

.DataGrid {
    border: solid 1px #efefef;
}

.PlaneGrid {
    color: DimGray;
    border: none 0px CornFlowerBlue;
    text-align: left;
}

.DataGridItem {
}

    .DataGridItem div.status {
        text-align: center;
        width: 95%;
        padding: 2px 2px 2px 2px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .DataGridItem > td {
        padding: 8px 4px 4px 8px;
        font-weight: normal;
        color: #000;
        background-color: #ffffff;
        border: solid 2px #ccc;
        border-right: solid 1px #ccc;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
    }

    .DataGridItem a:link, .DataGridItem a:visited {
        color: #3598db;
        text-decoration: none;
        border: solid 1px transparent;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridItem a:hover {
        color: #f32613;
    }

.DataGridItemHighlightCS {
}

    .DataGridItemHighlightCS > td {
        padding: 8px 4px 4px 8px;
        font-weight: normal;
        color: #000;
        background-color: #ffdddd;
        border: solid 1px #ccc;
        text-decoration: none;
    }

    .DataGridItemHighlightCS a:link, .DataGridItemHighlightCS a:visited {
        color: #3598db;
        text-decoration: none;
        border: solid 1px transparent;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridItemHighlightCS a:hover {
        color: #f32613;
    }

.DataGridAlternateItem {
    background-color: White;
    border-color: Black;
}

    .DataGridAlternateItem input[type=radio] {
        border-style: none;
        outline-style: none;
    }

    .DataGridAlternateItem div.status {
        text-align: center;
        width: 95%;
        padding: 2px 2px 2px 2px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .DataGridAlternateItem > td {
        padding: 8px 4px 4px 8px;
        font-weight: normal;
        color: #000;
        background-color: #fefefa;
        border: solid 2px #ccc;
        border-right: solid 1px #ccc;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
    }

    .DataGridAlternateItem a:link, .DataGridAlternateItem a:visited {
        color: #3598db;
        text-decoration: none;
        border: solid 1px transparent;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridAlternateItem a:hover {
        color: #f32613;
    }

.DataGridDisabledItem {
    background-color: White;
    border-color: #aaa;
}

    .DataGridDisabledItem > td {
        padding: 8px 4px 4px 8px;
        font-weight: normal;
        color: #aaa;
        background-color: #eeeeee;
        border: solid 1px #efefef;
        text-decoration: none;
        font-size: 11px;
    }

    .DataGridDisabledItem a:link, .DataGridDisabledItem a:visited {
        color: #3598db;
        text-decoration: none;
        border: solid 1px transparent;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridDisabledItem a:hover {
        color: #f32613;
    }

.DataGridHeader {
    background-color: #fafafa;
    height: 27px;
    width: 100%;
}

    .DataGridHeader td, .DataGridHeader th {
        font-weight: normal;
        color: #666;
        text-align: left;
        border: solid 2px #ccc;
        border-right: solid 1px #ccc;
        text-transform: uppercase;
        padding-left :8px;
        font-weight:bold;
    }

    .DataGridHeader a {
        color: #666;
        text-decoration: none;
        text-align: left;
        padding: 2px 2px 2px 2px;
        font-size: 11px;
    }

        .DataGridHeader a:hover {
            color: #ff0000;
            text-decoration: #000;
        }

.DataGridPager {
    border-top: solid 2px #efefef;
    background-color: #fafafa;
    height: 27px;
    width: 100%;
    text-align: left;
}

    .DataGridPager span {
        padding: 0px 4px 0px 4px;
        background-color: #ccc;
        border: solid 1px #ccc;
        color: #000;
    }

    .DataGridPager a:link, .DataGridPager a:visited {
        padding: 0px 4px 0px 4px;
        color: #aaa;
        text-decoration: none;
        text-align: left;
        border: solid 1px #afafaf;
    }

    .DataGridPager a:hover {
        padding: 0px 4px 0px 4px;
        text-decoration: none;
        background-color: rgba(0,0,0,0.8);
        border: solid 1px rgba(255,0,0,0.8);
    }

.DataGridFooter {
    background-color: #fafafa;
    height: 27px;
    width: 100%;
}

    .DataGridFooter td, .DataGridFooter th {
        font-weight: normal;
        color: #666;
        padding: 8px 4px 4px 8px;
        border: solid 2px #ccc;
        border-right: solid 1px #ccc;
        font-size: 11px;
        font-weight: bold;
    }

    .DataGridFooter a {
        color: #666;
        text-decoration: none;
        text-align: left;
        padding: 2px 2px 2px 2px;
        font-size: 11px;
    }

        .DataGridFooter a:hover {
            color: #ff0000;
            text-decoration: #000;
        }

.DataGridSelectedRow {
    background-color: LightBlue;
    border-color: Black;
}

    .DataGridSelectedRow input[type=radio] {
        border-style: none;
        outline-style: none;
    }

    .DataGridSelectedRow div.status {
        text-align: center;
        width: 95%;
        padding: 2px 2px 2px 2px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .DataGridSelectedRow > td {
        padding: 8px 4px 4px 4px;
        font-weight: normal;
        color: #000;
        background-color: LightBlue;
        border: solid 1px #efefef;
        text-decoration: none;
        font-size: 11px;
    }

    .DataGridSelectedRow a:link, .DataGridSelectedRow a:visited {
        color: #3598db;
        text-decoration: none;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridSelectedRow a:hover {
        color: #f32613;
    }

.DataGridCancelRow {
    background-color: LightBlue;
    border-color: Black;
}

    .DataGridCancelRow input[type=radio] {
        border-style: none;
        outline-style: none;
    }

    .DataGridCancelRow div.status {
        text-align: center;
        width: 95%;
        padding: 2px 2px 2px 2px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .DataGridCancelRow > td {
        padding: 8px 4px 4px 4px;
        font-weight: normal;
        color: #000;
        background-color: LightBlue;
        border: solid 1px #efefef;
        text-decoration: none;
        font-size: 11px;
    }

    .DataGridCancelRow a:link, .DataGridCancelRow a:visited {
        color: #3598db;
        text-decoration: none;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
    }

    .DataGridCancelRow a:hover {
        color: #f32613;
    }

.DataGridNoData {
    color: #C0C0C0;
    height: 95%;
    width: 99%;
    padding: 3px 3px 3px 3px;
}

    .DataGridNoData div {
        height: 100%;
        text-align: center;
        padding-top: 100px;
    }


td.DataGridLavendar, th.DataGridLavendar {
    background-color: lavender;
    border-color: #ccc;
}

th.DataGridLavendar {
    font-weight: bold;
    font-size: 8pt;
}

td.DataGridantiquewhite, th.DataGridantiquewhite {
    background-color: antiquewhite;
    border-color: #ccc;
}

th.DataGridantiquewhite {
    font-weight: bold;
    font-size: 8pt;
}

td.DataGridpowderblue, th.DataGridpowderblue {
    background-color: powderblue;
    border-color: #ccc;
}

th.DataGridpowderblue {
    font-weight: bold;
    font-size: 8pt;
}

td.DataGridlightyellow, th.DataGridlightyellow {
    background-color: lightyellow;
    border-color: #ccc;
}

th.DataGridlightyellow {
    font-weight: bold;
    font-size: 8pt;
}

td.DataGridgreenyellow, th.DataGridgreenyellow {
    background-color: #ccffcc;
    border-color: #ccc;
}

th.DataGridgreenyellow {
    font-weight: bold;
    font-size: 8pt;
}

td.DataGridpalegreen, th.DataGridpalegreen {
    background-color: palegreen;
    border-color: #ccc;
}

th.DataGridpalegreen {
    font-weight: bold;
    font-size: 8pt;
}

.DataGridPlainHeader {
    background-color: lavender;
    height: 27px;
    width: 100%;
}

    .DataGridPlainHeader td, .DataGridPlainHeader th {
        font-weight: normal;
        color: #666;
        text-align: center;
        border: solid 2px #ccc;
        border-right: solid 1px #ccc;
        text-transform: uppercase;
        font-weight: bold;
    }

    .DataGridPlainHeader a {
        color: #666;
        text-decoration: none;
        text-align: left;
        padding: 2px 2px 2px 2px;
        font-size: 11px;
    }

        .DataGridPlainHeader a:hover {
            color: #ff0000;
            text-decoration: #000;
        }



.SectionWithData {
    color: #666;
    width: 99%;
    border: solid 1px #C0C0C0;
    border-left: solid 4px blue;
    padding: 3px 3px 3px 3px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: middle;
}

.month {
    background-color: #ffffff;
    font: bold 12px Verdana;
    color: #163D80;
}

.daysofweek {
    background-color: #ffffff;
    font: bold 12px Verdana;
    color: #163D80;
}

.days {
    color: darkgray;
    background-color: WHITE;
    padding: 1px;
}

    .days #today {
        font-weight: bold;
        color: red;
    }

.disabledtext {
    border: 1px solid #808080;
    background-color: #f4f4f4;
    color: DimGray;
}

.enabledtext {
    border: 1px solid #454545;
    background-color: #FFFFFF;
    color: DimGray;
}

div.progress {
    border: solid 1px #cd0a0a;
    padding: 3px 3px 3px 3px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: none;
}

.footer2 {
    color: #aaa;
    text-transform: uppercase;
}

div.mainBg {
    border: solid 8px #303d4e;
    padding: 6px 6px 6px 6px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.loginBg {
    border: solid 8px #303d4e;
    padding: 6px 6px 6px 6px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 700px;
    height: 400px;
}

div.annoucement {
    width: 429px;
    height: 400px;
    float: left;
}

div.annoucementArea {
    width: 400px;
    height: 330px;
    text-align: left;
    overflow: auto;
}

div.section_title {
    border-bottom: solid 1px #a60000;
    padding: 6px 6px 6px 6px;
    text-align: left;
    font-weight: bold;
}

div.title {
    padding: 6px 6px 6px 6px;
    text-align: left;
    font-weight: bold;
}

div.padding {
    padding: 6px 6px 6px 6px;
}

div.seperator {
    width: 1px;
    height: 400px;
    float: left;
    background-color: #e3bfbf;
}

div.login {
    width: 270px;
    height: 400px;
    float: left;
}

div.emptyHorizontalSpace {
    width: 100%;
    height: 10px;
}

div.emptySmallHorizontalSpace {
    width: 100%;
    height: 5px;
}

div.messageSpace {
    width: 100%;
    height: 50px;
}

div.errorTitle {
    color: #a60000;
    font-weight: bold;
    text-align: left;
}

td.productTopBar {
    border-style: none;
    border-bottom: solid 1px #C4A768;
    height: 30px;
    color: #fff;
}

    td.productTopBar div {
        font-size: 14pt;
        color: #fff;
    }

td.productMiddleBar {
    background-color: #336799;
    color: #fff;
    height: 100%;
}

td.productBottomBar {
    border-top: solid 2px #000000;
    background: #666 url("/PROMAN/image_ui/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
    height: 20px;
}

div.productTitle {
    font-size: 26pt;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 4pt;
}

div.productSlogan {
    font-size: 8pt;
    color: #F0E9D5;
    padding: 2px 2px 6px 2px;
}

    div.productSlogan b {
        font-size: 8pt;
        color: #F0E9D5;
        font-weight: bold;
    }

div.productSmallSlogan {
    font-weight: bold;
    font-size: 18pt;
    color: #FFFFFF;
}

div.productImage {
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 0px 20px;
    background-color: #F0E9D5;
    width: 80px;
}

table.left_side_div {
    padding: 2px 2px 2px 2px;
    margin: 0px 20px 0px 0px;
    border-right: solid 1px #D4CDB8;
}

div.right_side_div {
    padding: 2px 2px 2px 2px;
    margin: 0px 20px 0px 0px;
    border-right: solid 1px #D4CDB8;
}

td.sectionTitle {
    color: #fff;
    padding: 2px 2px 2px 2px;
    margin: 0px 20px 0px 20px;
    border-bottom: solid 1px #ffffff;
}

div.loginSection {
    background-color: #c4902d;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    margin: 0px 20px 0px 20px;
    border: solid 1px #F0E9D5;
    width: 100%;
    min-height: 160px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.loginUser {
    background-color: #F0E9D5;
    color: #f7b719;
    padding: 2px 2px 2px 2px;
    margin: 0px 20px 0px 20px;
    width: 400px;
    height: 140px;
    overflow: auto;
}

td.menuBar {
    border-bottom: solid 2px #525252;
    background-color: #336799;
    height: 27px;
}

.breadcrumb {
    border-style: none;
    padding: 3px 3px 0px 3px;
    width: 100%;
    font-weight: normal;
}

.breadcrumb_current_node {
    color: #000;
    height: 40px;
    font-size: 8pt;
    font-weight: bold;
}

.breadcrumb_node {
    color: #666;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
}

.breadcrumb_sep {
    background-image: url(/PROMAN/Images/bgsep.gif);
    height: 40px;
}

a.breadcrumb_root_node {
    color: #666;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
}

    a.breadcrumb_root_node :hover {
        color: #666;
        text-decoration: underline;
        font-weight: normal;
    }

.divHome {
    padding: 6px 3px 6px 3px;
}

.tableex_nopad {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

    .tableex_nopad td {
        padding: 0px 0px 0px 0px;
    }

.tableex {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

    .tableex .ft {
        color: #05289C;
    }

    .tableex td.subtitle {
        font-weight: bold;
        font-size: 12pt;
        color: #222;
        border-bottom: solid 1px #eee;
        text-align: left;
    }

    .tableex .morepad {
        padding: 8px;
    }

    .tableex .gridbutton {
        border-style: none;
        background-color: transparent;
        padding: 0px 0px 0px 0px;
        text-align: right;
    }

    .tableex td {
        padding: 4px;
    }

        .tableex td.bgMap {
            color: lightskyblue;
            font-weight: bold;
        }

        .tableex td.bgMapDetail {
            color: #fff;
            font-weight: bold;
        }

        .tableex td.bgMapNormal {
            color: #fff;
        }

            .tableex td.bgMapNormal a {
                color: #fff;
                text-decoration: none;
            }

                .tableex td.bgMapNormal a:hover {
                    text-decoration: underline;
                }

        .tableex td.bgMapTitle {
            color: #fff;
            font-weight: bold;
            border-bottom: solid 2px #909498;
        }

    .tableex .bold {
        padding: 4px;
        font-weight: bold;
    }

    .tableex .form_title {
        font-size: 12pt;
        font-weight: bold;
        color: #fff;
        padding: 2px 2px 2px 6px;
        text-align: left;
        letter-spacing: 2px;
    }

    .tableex .tinytitle {
        font-weight: bold;
        color: #222;
    }

    .tableex .rf {
        color: red;
    }

    .tableex textarea {
        border: solid 1px #ccc;
        color: Black;
        padding: 3px;
    }

    .tableex div.msg {
        overflow: auto;
        width: 400px;
        height: 300px;
        border: solid 1px DarkGray;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 3px;
        color: #000;
        background-color: #fff;
    }

    .tableex p {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .tableex .okButtonOnWhite {
        min-width: 85px;
        color: #fff;
        vertical-align: middle;
        border: solid 2px #142c01;
        background: #347301;
        padding: 3px 6px 3px 6px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        text-decoration: none;
    }

    .tableex .disableButtonOnWhite {
        color: #ddd;
        min-width: 85px;
        vertical-align: middle;
        border: solid 2px #ddd;
        background: #eee;
        padding: 3px 6px 3px 6px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        text-decoration: none;
    }

    .tableex .resetButtonOnWhite {
        color: #666;
        min-width: 85px;
        vertical-align: middle;
        border: 2px solid #ddd;
        background: #eee;
        padding: 3px 6px 3px 6px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        text-decoration: none;
    }

    .tableex .errorButtonOnWhite {
        color: #fff;
        min-width: 85px;
        vertical-align: middle;
        border: 2px solid #570101;
        background: #a60000;
        padding: 3px 6px 3px 6px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        text-decoration: none;
    }

.dropdown {
    border: solid 1px #ff0000;
    color: Black;
    padding: 4px 4px 4px 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

    .dropdown option {
        padding: 4px 4px 4px 4px;
    }

.tableex .message {
    color: #ffffff;
    background: #336799;
    padding: 2px 7px 2px 7px;
    border: solid 1px #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.tableex .photoFrame {
    padding: 4px 4px 4px 4px;
    border: solid 1px #ddd;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 200px;
    height: 200px;
}

.tableex .tabButton {
    color: #666;
    min-width: 85px;
    vertical-align: middle;
    border: solid 2px #bbb;
    background: #ddd;
    padding: 6px 6px 6px 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-decoration: none;
}

.tableex .tabButton_active {
    color: #666;
    min-width: 85px;
    vertical-align: middle;
    border: solid 1px #cdcdcd;
    background: #fcfcfc;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-decoration: none;
}

.tableex .required {
    border: solid 1px #ff0000;
}

.tableex input.requiredtext {
    border: solid 1px #ff0000;
}

.tableex input.labelText {
    color: #cccccc;
}

.tableex textarea.labelText {
    color: #cccccc;
}

.tableex input.glowRequiredText {
    color: #000000;
    border: 1px solid #ff0000;
    box-shadow: 0px 0px 10px #f89a9a;
}

.tableex textarea.glowRequiredText {
    color: #000000;
    border: 1px solid #ff0000;
    box-shadow: 0px 0px 10px #f89a9a;
}

.tableex input.glowNonRequiredText {
    color: #000000;
    border: 1px solid #2f78cd;
    box-shadow: 0px 0px 10px #6EA2DE;
}

.tableex textarea.glowNonRequiredText {
    color: #000000;
    border: 1px solid #2f78cd;
    box-shadow: 0px 0px 10px #6EA2DE;
}

.tableex .onRequiredHover {
    border: 2px solid blue;
}

.tableex .onOptionalHover {
    border: 2px solid black;
}

.tableex .messagebox {
    padding: 2px 5px 2px 5px;
    border-bottom: solid 2px #525252;
    background-color: #347301;
    color: White;
}

.tableex .errormessagebox {
    padding: 2px 5px 2px 5px;
    border-bottom: solid 2px #525252;
    background: #b81900;
    color: White;
}

.popup_block {
    display: none; /*--hidden by default--*/
    background: #fff;
    padding: 0px;
    border: 0px solid #999999;
    float: left;
    position: absolute;
    z-index: 999;
}

img.btn_close {
    float: left;
    margin: 55px 55px 0 0;
}

div.redpanel {
    border: solid 0px #a60000;
    border-bottom-style: none;
    background: #a60000;
}

    div.redpanel div.title {
        padding: 6px;
        color: #ffffff;
        height: 18px;
        font-weight: bold;
    }

    div.redpanel div.detail {
        border: solid 1px #000;
        padding: 6px;
        background: #fff;
    }

div.messagepanel {
    border: solid 3px #01659b;
    height: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

    div.messagepanel td.messagetitle {
        font-weight: bold;
        font-size: 12pt;
        white-space: nowrap;
        color: #01659b;
        text-align: left;
    }

div.reportpanel {
    background-color: #ffffff;
    border: solid 1px #aaa;
    border-bottom: 4px solid #aaa;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

    div.reportpanel input[type=text] {
        padding: 6px 4px 6px 4px;
        background-color: white;
        color: #000;
        border-style: none;
        border: solid 1px #222;
    }

    div.reportpanel div.title {
        padding: 6px 16px 6px 11px;
        color: #888;
        height: 18px;
        font-weight: normal;
        letter-spacing: 3pt;
        text-transform: uppercase;
        font-size: 10pt;
        background: #282828;
    }

    div.reportpanel div.detail {
        padding: 6px 6px 6px 6px;
        background-color: #fff;
        color: #efefef;
    }

div.normalpanel {
    background-color: #fff;
    border: solid 2px #e8e9eb;
}

    div.normalpanel div.title {
        padding: 6px 6px 6px 6px;
        border-bottom: solid 1px #e8e9eb;
        color: #000;
        height: 18px;
        font-weight: bold;
        font-size: 10pt;
    }

    div.normalpanel div.divider {
        border-bottom: solid 1px #e8e9eb;
        border-top: solid 1px #ffffff;
    }

    div.normalpanel div.detail {
        color: #000;
        padding: 6px 16px 6px 11px;
    }

div.shorttitle {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 11pt;
    text-transform: uppercase;
    color: #1fbba6;
}

div.normalpanel ul.action {
    list-style-type: none;
}

    div.normalpanel ul.action li {
        list-style-type: none;
        padding: 0px 4px 0px 4px;
        float: left;
    }

td.fieldtitle {
    color: #000000;
}

td.datatitle {
    color: #0b2caa;
}

td.fieldtitle_small {
    padding: 4px 4px 4px 4px;
    margin: 4px 0px 4px 0px;
    color: #1fbba6;
    border-bottom: 1px dashed #1fbba6;
}

td.datatitle_small {
    padding: 4px 4px 4px 4px;
    margin: 4px 0px 4px 0px;
    color: #0b2caa;
    border-bottom: 1px dashed #1fbba6;
}

div.notification {
    background-color: #f2d8c2;
    text-align: left;
    border: 1px solid #eccdb2;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.dark_notification {
    color: #ffffff;
    background-color: #444444;
    text-align: left;
    border: 1px solid #CCCCCC;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.tab_footer {
    width: 99%;
    position: absolute;
    margin-left: -4px;
    margin-top: -8px;
    background: #f6a828 url("/PROMAN/image_ui/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
    text-align: left;
    border: 1px solid #f6a828;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.announcement {
    text-align: left;
    height: auto;
    padding: 5px 5px 5px 5px;
    color: #fff;
}

.spinner div {
    padding: 0px 0px 0px 0px;
}

.spinner a {
    height: 12px;
    padding: 5px 3px 5px 3px;
}

    .spinner a img {
        border: solid 1px #aaa;
        border-left-style: none;
        padding: 5px 3px 5px 3px;
    }

.spinner .button {
    position: relative;
}

.numup {
    background-color: #e4e4e4;
    color: #000;
    border: solid 1px #000;
    border-right-style: none;
    padding: 3px 4px 2px 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 30px;
}

.numdown {
    background-color: #e4e4e4;
    color: #000;
    border: solid 1px #000;
    border-left-style: none;
    padding: 3px 4px 2px 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 30px;
}

.logout {
    color: #fff;
    text-decoration: none;
}

    .logout img {
        padding-right: 3px;
    }

    .logout:hover {
        color: #fff;
        text-decoration: none;
    }

.tabCount {
    text-align: center;
}

.warning {
    background-color: #f2d8c2;
    text-align: left;
    border: 1px solid #eccdb2;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.attention {
    color: #ffffff;
    background-color: #ff0000;
    text-align: left;
    border: 1px solid #eccdb2;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.pager {
    color: #333;
    border: solid 1px #ddd;
    padding: 2px 2px 2px 2px;
    text-align: left;
    background-color: #eee;
    width: 920px;
    height: 20px;
    display: none;
}

.nospace {
    padding: 0px 0px 0px 0px;
}

.leftspace, .leftspace td, .leftspace li {
    padding: 0px 0px 0px 6px;
}

.morespace, .morespace td, .morespace li {
    padding: 6px 6px 6px 6px;
}

.space, .space td, .space li {
    padding: 3px 3px 3px 3px;
}

div.majorspace {
    padding: 16px 16px 16px 16px;
}

button {
    font-weight: normal;
}

.smalltable {
}

    .smalltable td {
        font-size: 10pt;
        padding: 2px 2px 2px 2px;
    }

        .smalltable td.ft {
            font-size: 10pt;
            padding: 2px 2px 2px 2px;
            color: #05289C;
        }

.leftPanel {
    border-style: none;
}

    .leftPanel div.header {
        padding: 6px 2px 2px 2px;
        color: #fff;
        height: 22px;
        font-weight: normal;
        text-align: center;
    }

    .leftPanel div.detail {
        padding: 2px 2px 2px 2px;
        font-weight: normal;
        text-align: left;
    }

    .leftPanel li {
        list-style-type: none;
        text-align: left;
    }

        .leftPanel li a {
            padding: 6px 6px 6px 6px;
            text-decoration: none;
            border: solid 1px #414141;
            color: #FFFFFF;
            text-align: left;
            position: relative;
            left: -30px;
        }

            .leftPanel li a:hover {
                padding: 6px 6px 6px 6px;
                text-decoration: none;
                color: #222;
                border: solid 1px #414141;
                background-color: #FFFFFF;
                text-align: left;
            }

div.countPanel {
    text-decoration: none;
    color: #000;
    width: 85px;
    text-align: center;
}

    div.countPanel div.title {
        color: #cccccc;
        text-align: center;
        font-weight: normal;
        font-size: 7pt;
    }

    div.countPanel div.count {
        color: #bbbbbb;
        text-align: center;
        font-weight: bold;
        font-size: 26pt;
    }

ul.tree {
    margin: 0;
    padding: 0;
}

div.ledger_dropdown {
    width: 300px;
    background-color: #fff;
}

    div.ledger_dropdown div.ledger_input {
        background-color: #fcfcfc;
    }

    div.ledger_dropdown div.ledger_list {
        display: none;
        overflow: auto;
        height: 400px;
        width: 300px;
        border: 1px solid #ccc;
        position: absolute;
    }

    div.ledger_dropdown td {
        border-style: none;
        padding: 0px;
        background-color: transparent;
    }

div.counterzone {
    height: 80px;
    width: 83px;
}

    div.counterzone div.counter span {
        left: 0;
        top: 0;
        position: absolute;
        height: 50px;
        width: 83px;
        text-align: center;
        padding-top: 30px;
        font-size: 16px;
        font-weight: bold;
        color: #999;
    }

    div.counterzone div.counterfooter {
        width: 80px;
        text-align: center;
        font-size: 8pt;
        font-weight: normal;
        color: #999;
    }

.reportviewer {
    background-color: #F7F7EB;
}

label {
    cursor: default;
    border: 1px solid transparent;
    padding: 3px 2px;
}

    label input {
        position: relative;
        top: 1px;
    }

.ui-multiselect {
    padding: 6px 4px 6px 14px;
    text-align: left;
    max-width: 98%;
}

    .ui-multiselect span.ui-icon {
        float: right;
        padding-right: 4px;
    }

.ui-multiselect-single .ui-multiselect-checkboxes input {
    padding: 5px 5px 5px 5px;
    position: absolute !important;
    top: auto !important;
    left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
    padding: 5px 5px 5px 5px;
}

.ui-multiselect-checkboxes label span {
    padding: 5px 5px 5px 5px;
}

.ui-multiselect-header {
    margin-bottom: 3px;
    padding: 3px 0 3px 4px;
}

    .ui-multiselect-header ul {
    }

        .ui-multiselect-header ul li {
            float: left;
            padding: 0 10px 0 0;
        }

    .ui-multiselect-header a {
        text-decoration: none;
    }

        .ui-multiselect-header a:hover {
            text-decoration: underline;
        }

    .ui-multiselect-header span.ui-icon {
        float: left;
    }

    .ui-multiselect-header li.ui-multiselect-close {
        float: right;
        text-align: right;
        padding-right: 0;
    }

.ui-multiselect-search {
    width: 90%;
    padding: 3px 0 3px 4px;
}

.ui-multiselect-menu {
    display: none;
    padding: 3px;
    position: absolute;
    z-index: 10000;
    text-align: left;
}

.ui-multiselect-checkboxes {
    padding: 4px 4px 4px 4px;
    position: relative;
    overflow-y: scroll;
}

    .ui-multiselect-checkboxes label {
        cursor: default;
        display: block;
        border: 1px solid transparent;
        padding: 3px 1px;
    }

        .ui-multiselect-checkboxes label input {
            position: relative;
            top: 1px;
        }

    .ui-multiselect-checkboxes li {
        clear: both;
        font-size: 0.9em;
        padding-right: 3px;
    }

        .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid;
        }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
                display: block;
                padding: 3px;
                margin: 1px 0;
                text-decoration: none;
            }

.ui-multiselect-submit-container {
    margin: 5px 0px 0px 0px;
}

* html .ui-multiselect-checkboxes label {
    border: none;
}



/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

    .ms-choice.disabled {
        background-color: #f4f4f4;
        background-image: none;
        border: 1px solid #ddd;
        cursor: default;
    }

    .ms-choice > span {
        position: absolute;
        top: 0;
        left: 0;
        right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding-left: 8px;
    }

        .ms-choice > span.placeholder {
            color: #999;
        }

    .ms-choice > div {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 25px;
        background: url('images/multiple-select.png') left top no-repeat;
    }

        .ms-choice > div.open {
            background: url('images/multiple-select.png') right top no-repeat;
        }

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .ms-drop.bottom {
        top: 100%;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
        box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    }

    .ms-drop.top {
        bottom: 100%;
        -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
        box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    }

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

    .ms-search input {
        width: 100%;
        height: auto !important;
        min-height: 24px;
        padding: 0 20px 0 5px;
        margin: 0;
        outline: 0;
        font-family: sans-serif;
        font-size: 1em;
        border: 1px solid #aaa;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: #fff url('images/multiple-select.png') no-repeat 100% -22px;
        background: url('images/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
        background: url('images/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
        background: url('images/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
        background: url('images/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
        background: url('images/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
        background: url('images/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    }

    .ms-search, .ms-search input {
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

    .ms-drop ul > li {
        list-style: none;
        display: list-item;
        background-image: none;
        position: static;
    }

        .ms-drop ul > li .disabled {
            opacity: .35;
            filter: Alpha(Opacity=35);
        }

        .ms-drop ul > li.multiple {
            display: block;
            float: left;
        }

        .ms-drop ul > li.group {
            clear: both;
        }

        .ms-drop ul > li.multiple label {
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ms-drop ul > li label {
            font-weight: normal;
            display: block;
            white-space: nowrap;
        }

            .ms-drop ul > li label.optgroup {
                font-weight: bold;
            }

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ms-drop .ms-no-results {
    display: none;
}


.timeline_div {
    width: 100%;
    height: 15px;
    background-color: Green;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.timeline_select {
    background-color: RoyalBlue;
}

a.gButton {
    padding: 6px 16px 6px 10px;
    text-decoration: none;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border: 1px solid #bbb;
    color: #888;
}

    a.gButton img {
        padding-right: 6px;
    }

    a.gButton:hover {
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%, #2989d8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
        border: solid 1px #7db9e8;
        color: #fff;
    }

.indicator {
    text-align: left;
    position: relative;
    border-radius: 6px;
    min-width: 160px;
}

    .indicator .ititle {
        font-size: 11px;
        padding: 2px 0px 2px 0px;
        font-weight: normal;
        color: #FFF;
        text-transform: uppercase;
    }

    .indicator .data {
        font-size: 28px;
        color: #FFF;
        text-align: right;
    }

    .indicator .cyan {
        padding: 7px 7px 7px 7px;
        background-color: #14aef3;
        border: solid 1px #0889c3;
    }

    .indicator .gray {
        padding: 7px 7px 7px 7px;
        background-color: #7a7a7a;
        border: solid 1px #4a4a4a;
    }

    .indicator .red {
        padding: 7px 7px 7px 7px;
        background-color: #e43f43;
        border: solid 1px #c21e22;
    }

    .indicator .orange {
        padding: 7px 7px 7px 7px;
        background-color: #faa812;
        border: solid 1px #e49505;
    }

.default-button {
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.5) url(images/default-button-bg.png) 50% 0 repeat-x;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: #f0f0f0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    position: relative;
    padding: 7px 13px;
    border-radius: 16px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .default-button i, .default-button span {
        font-size: 15px;
        color: #fff;
        margin-right: 5px;
    }

    .default-button:hover {
        color: #f0f0f0;
        text-decoration: none;
    }

    .default-button:visited {
        color: #f0f0f0;
        text-decoration: none;
    }

    .default-button:active {
        color: #f0f0f0;
        text-decoration: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        background-color: #111;
    }

    .default-button:before {
        color: #f0f0f0;
        text-decoration: none;
        background: url(images/default-button-before.png);
        background-position: 50% 0;
        background-repeat: no-repeat;
    }

.btn-s {
    padding: 4px 6px;
    font-size: 11px;
}

    .btn-s i {
        font-size: 11px;
    }

.btn-blue {
    background-color: rgba(51,102,204,0.5);
}

    .btn-blue:hover {
        background-color: rgba(51,102,204,0.7);
    }

.btn-green {
    background-color: rgba(51,204,51,0.5);
}

    .btn-green:hover {
        background-color: rgba(51,204,51,0.7);
    }

.btn-red {
    background-color: rgba(255,0,0,0.5);
}

    .btn-red:hover {
        background-color: rgba(255,0,0,0.7);
    }

.btn-purple {
    background-color: rgba(255,0,112,0.5);
}

    .btn-purple:hover {
        background-color: rgba(255,0,112,0.7);
    }

.fb-signup {
    background-color: rgba(51,102,204,0.5);
}

    .fb-signup:hover {
        background-color: rgba(51,102,204,0.7);
    }

.fb-connect {
    background-color: rgba(51,102,204,0.5);
    float: right;
}

    .fb-connect:hover {
        background-color: rgba(51,102,204,0.7);
    }

.btn-cyan {
    color: #f0f0f0;
    text-decoration: none;
    background-color: rgba(0,224,255,0.5);
}

    .btn-cyan:hover {
        color: #f0f0f0;
        text-decoration: none;
        background-color: rgba(0,224,255,0.7);
    }

.btn-lgreen {
    background-color: rgba(0,255,107,0.5);
}

    .btn-lgreen:hover {
        background-color: rgba(0,255,107,0.7);
    }

.action_button_zone {
    vertical-align: top;
}

ul.leftmenu {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

    ul.leftmenu li {
        list-style-type: none;
        border-bottom: 1px dotted #666;
        padding: 4px 8px 4px 8px;
    }

textarea.text {
    color: #000;
}


.highlight {
}

.section {
}

    .section .titleArea {
        border-bottom: 1px solid #ccc;
        height: 28px;
    }

    .section .titleText {
        text-transform: uppercase;
        padding: 0px 10px 0px 10px;
        font-weight: bold;
        float: left;
        height: 25px;
        border-bottom: 4px solid #f32615;
    }

.weekday_check label {
    margin-right: 2pt;
    vertical-align: text-top;
}

.weekday_check input {
    margin-left: 2pt;
}

.overflow {
    overflow: auto;
}

.ui-dialog {
    overflow: visible;
}

.ui-Frame {
    width: 100%;
    display: table;
}

.ui-Window {
    vertical-align: top;
    display: table-cell;
}

.ui-LeftSection {
    padding: 4px 6px;
    border-right: solid 2px #ccc;
}

.ui-RightSection {
    width: 100%;
}

.pageHeader {
    background-color: aliceblue;
    border-bottom: 2px solid #eaeaea;
    height: 65px;
    margin: 0px 0px 10px 0px;
    left: 0px;
    right: 0;
    z-index: 990;
}

    .pageHeader .Title {
        color: #DC5335;
        font-weight: bold;
        font-size: 18pt;
        text-transform: capitalize;
    }

    .pageHeader .TitleDescription {
        color: #aaa;
        font-size: 10pt;
        text-transform: capitalize;
    }


.pageHeader_Popup {
    background-color: #fff;
    border-bottom: 2px solid #eaeaea;
    height: 65px;
    margin: auto;
}

    .pageHeader_Popup .Title {
        color: #555;
        font-weight: bold;
        font-size: 18pt;
        text-transform: uppercase;
    }

    .pageHeader_Popup .TitleDescription {
        color: #aaa;
        font-size: 10pt;
        text-transform: uppercase;
    }


.pageTitle {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #eaeaea;
}

.variant_filter > * {
    font-size: 7pt;
    padding-top: 4px;
}

.variant_radio * {
    font-size: 7pt;
    padding-top: 4px;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.disable_panel {
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    position: absolute;
    background-color: #aaa;
    opacity: 0.9;
    z-index: 987;
    border: solid 1px #000;
    padding: 10px 10px 10px 10px;
}

.readonly {
    border-style: none;
    background-color: transparent;
}

.grid-item {
    width: 25%;
}

.grid-item--width2 {
    width: 50%;
}


.validation-message {
    color: #f32613;
    padding: 4px 4px 4px 4px;
}

.validation-indicator {
    border: solid 2px #f32613;
}

.ui-dialog {
    z-index: 1000 !important;
}

.w3-btn {
    text-transform: uppercase;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.ulRequirement {
    padding: 0px;
    margin: 0px;
}

.titleCase {
    text-transform: capitalize;
}


#MainContent_chkDistributeTo label {
    font-weight: normal !important;
    margin-bottom: 0px !important;
    padding: 0px 5px;
}